<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2 translate>messages.permissao_list</h2>
        <ol class="breadcrumb">
            <li>
                <a ui-sref="home">Home</a>
            </li>
            <li>
                <a translate>menus.config</a>
            </li>
            <li>
                <a ui-sref="permissao" translate>menus.permissoes</a>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>

<div class="wrapper wrapper-content animated fadeIn">
    <div class="ibox-content">

        <div class="ibox-content">
            <h2 translate>messages.usuarioTipo_select</h2>
            <select id="menu_pai" class="form-control" ng-model="permissao.usuario_tipos_id" ng-options="usuarioTipo.id as usuarioTipo.descricao for usuarioTipo in usuarioTipos" required ng-change="getPermissoes()">
            </select>
        </div>

        <div ui-tree data-drag-enabled="false" class="ibox-content" ng-hide="permissao.usuario_tipos_id == null">
            <h2 translate>messages.permissao_user</h2>

            <ol ui-tree-nodes="" ng-model="menus" class="todo-list m-t">
                <li ng-repeat="item in menus" ui-tree-node collapsed="true">
                    <div ui-tree-handle>
                        <a ng-click="toggle(this)"><i class="fa fa-fw" ng-class="{'fa-plus': collapsed, 'fa-minus': !collapsed}"></i></a>
                        <input type="checkbox" ng-model="permissao.lista[item.id]" ng-checked="permissoes.indexOf(item.id) > -1">
                        <!--
                        <md-checkbox ng-model="permissao.lista[item.id]" ng-checked="permissoes.indexOf(item.id) > -1">
                        </md-checkbox>
-->
                        <span class="m-l-xs" translate>{{item.descricao}}</span>
                    </div>
                    <ol ui-tree-nodes="" ng-model="item.items" ng-class="{hidden: collapsed}" class="todo-list m-t small-list">
                        <li ng-repeat="subItem in item.items" ui-tree-node>
                            <div ui-tree-handle>
                                <i class="fa fa-fw fa-angle-right"></i>
                                <input type="checkbox" ng-model="permissao.lista[subItem.id]" ng-checked="permissoes.indexOf(subItem.id) > -1">
                                <!--
                                <md-checkbox ng-model="permissao.lista[subItem.id]" ng-checked="permissoes.indexOf(subItem.id) > -1">
                                </md-checkbox>
-->
                                <span class="m-l-xs" translate>{{subItem.descricao}}</span>
                            </div>
                        </li>
                    </ol>
                </li>
            </ol>

            <br clear="all" />

            <button type="button" class="btn btn-primary" ng-click="save()" translate>fields.save</button>
            <button type="button" class="btn btn-default" ng-click="cancel()" translate>fields.cancel</button>
        </div>

    </div>
</div>
