<md-card>
    <md-toolbar class="md-toolbar-tools">
        <h2 translate>messages.permissao_list</h2>
    </md-toolbar>
    <md-card-content>
        <div class="ibox-content">
            <h2 translate>messages.usuarioTipo_select</h2>
            <select id="menu_pai" class="form-control" ng-model="vmPermissao.permissao.usuario_tipos_id" ng-options="usuarioTipo.id as usuarioTipo.descricao for usuarioTipo in vmPermissao.usuarioTipos" required ng-change="vmPermissao.getPermissoes()">
            </select>
        </div>

        <div ui-tree data-drag-enabled="false" class="ibox-content" ng-hide="vmPermissao.permissao.usuario_tipos_id == null">
            <h2 translate>messages.permissao_user</h2>

            <ol ui-tree-nodes="" ng-model="vmPermissao.menus" class="todo-list m-t">
                <li ng-repeat="item in vmPermissao.menus" ui-tree-node collapsed="true">
                    <div ui-tree-handle>
                        <a ng-click="toggle(this)"><i class="fa fa-fw" ng-class="{'fa-plus': collapsed, 'fa-minus': !collapsed}"></i></a>
                        <input type="checkbox" ng-model="vmPermissao.permissao.lista[item.id]" ng-checked="vmPermissao.permissoes.indexOf(item.id) > -1">
                        <!--
                        <md-checkbox ng-model="permissao.lista[item.id]" ng-checked="permissoes.indexOf(item.id) > -1">
                        </md-checkbox>
-->
                        <span class="m-l-xs" translate>{{item.descricao}}</span>
                    </div>
                    <ol ui-tree-nodes="" ng-model="item.items" ng-class="{hidden: collapsed}" class="todo-list m-t small-list">
                        <li ng-repeat="subItem in item.items" ui-tree-node>
                            <div ui-tree-handle>
                                <i class="fa fa-fw fa-angle-right"></i>
                                <input type="checkbox" ng-model="vmPermissao.permissao.lista[subItem.id]" ng-checked="vmPermissao.permissoes.indexOf(subItem.id) > -1">
                                <!--
                                <md-checkbox ng-model="permissao.lista[subItem.id]" ng-checked="permissoes.indexOf(subItem.id) > -1">
                                </md-checkbox>
-->
                                <span class="m-l-xs" translate>{{subItem.descricao}}</span>
                            </div>
                        </li>
                    </ol>
                </li>
            </ol>

            <br clear="all" />

            <button type="button" class="btn btn-primary" ng-click="vmPermissao.save()" translate>fields.save</button>
            <button type="button" class="btn btn-default" ng-click="vmPermissao.cancel()" translate>fields.cancel</button>
        </div>
    </md-card-content>
</md-card>
