<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-lg-10">
		<h2 translate>messages.tabelaCampeonato_list</h2>
		<ol class="breadcrumb">
			<li>
				<a ui-sref="home">Home</a>
			</li>
			<li>
				<a translate>menus.campeonatos</a>
			</li>
			<li>
				<a ui-sref="campeonato" translate>menus.tabela_campeonato</a>
			</li>
		</ol>
	</div>
	<div class="col-lg-2"></div>
</div>
<div class="wrapper wrapper-content animated fadeIn">
	<div class="ibox-content">
		<!--GloboEsporte-->
		<nav class="tabela-navegacao tabela-navegacao-fases">
			<a ng-click="exibeFaseAnterior()" ng-class="{'disabled': indice_fase == 0}">
				<i class="fa fa-chevron-left pull-left"></i>
			</a>
			{{fase_atual.descricao}}
			<a ng-click="exibeProximaFase()" ng-class="{'disabled': indice_fase == campeonatoFases.length-1}">
				<i class="fa fa-chevron-right pull-right"></i>
			</a>
		</nav>

		<div class="row" ng-repeat="grupo in gruposDaFase">
			<div class="col-sm-8">
				<div class="ibox">
					<div class="ibox-title">
						<h5><span translate>fields.grupo</span> {{grupo.descricao}}</h5>
					</div>
					<div class="ibox-content">
						<table class="tabela-classificacao table table-striped">
						<thead>
							<tr class="tabela-head-linha">
								<th class="col-xs-3">Classificação</th>
								<th class="text-center col-xs-1">P</th>
								<th class="text-center col-xs-1">J</th>
								<th class="text-center col-xs-1">V</th>
								<th class="text-center col-xs-1 hidden-xs">E</th>
								<th class="text-center col-xs-1 hidden-xs">D</th>
								<th class="text-center col-xs-1">GP</th>
								<th class="text-center col-xs-1 hidden-xs">GC</th>
								<th class="text-center col-xs-1">SG</th>
							</tr>
						</thead>
						<tbody>
							<tr class="tabela-head-linha" ng-repeat="jogadorGrupo in grupo.classificacao track by $index" ng-class="{'font-bold':jogadorGrupo.pivot.users_id == usuarioLogado}">
								<td>{{jogadorGrupo.nome}}</td>
								<td class="text-center">{{jogadorGrupo.pontuacao}}</td>
								<td class="text-center">{{jogadorGrupo.jogos}}</td>
								<td class="text-center">{{jogadorGrupo.vitorias}}</td>
								<td class="text-center hidden-xs">{{jogadorGrupo.empates}}</td>
								<td class="text-center hidden-xs">{{jogadorGrupo.derrotas}}</td>
								<td class="text-center">{{jogadorGrupo.gols_pro}}</td>
								<td class="text-center hidden-xs">{{jogadorGrupo.gols_contra}}</td>
								<td class="text-center">{{jogadorGrupo.saldo_gols}}</td>
							</tr>
						</tbody>
					</table>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="ibox">
					<div class="ibox-title">
						<h5><span translate>messages.jogo_list</span></h5>
					</div>
					<div class="ibox-content">
						<nav class="tabela-navegacao tabela-navegacao-fases">
							<a ng-click="exibeRodadaAnterior()" ng-class="{'disabled': indice_fase == 0}">
								<i class="fa fa-chevron-left pull-left"></i>
							</a>
							{{fase_atual.descricao}}
							<a ng-click="exibeProximaRodada()" ng-class="{'disabled': indice_fase == campeonatoFases.length-1}">
								<i class="fa fa-chevron-right pull-right"></i>
							</a>
						</nav>
					</div>
				</div>
			</div>
		</div>
		<ul>
			<li ng-repeat="partida in partidas"></li>
		</ul>
	</div>
	<!--	Meu Codigo-->
</div>
