# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example .gitignore files: https://github.com/github/gitignore
/bower_components/
/node_modules/
/public/uploads/
/.idea/.name
/.idea/blade.xml
/.idea/deployment.xml
/.idea/modules.xml
/.idea/scopes/scope_settings.xml
