<md-dialog aria-label="{{tituloModal | translate}}">
    <form name="formulario" role="form" class="form-horizontal" novalidate="novalidate" enctype="multipart/form-data">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{tituloModal | translate}}</h2>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
                <div layout="column">
                    <p>{{'messages.destinatario' | translate}}: <b>{{nomeDestinatario}}</b></p>
                    <textarea flex rows="1" cols="60" class="animate msd-elastic: \n;" ng-model="novaMensagem.mensagem" required>
                    </textarea>
                </div>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <md-button ng-click="cancel()">{{'fields.cancel' | translate}}</md-button>
            <md-button ng-click="enviarMensagem()">{{'fields.enviar' | translate}}</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
