<md-card ng-repeat="atividade in vmHome.atividades track by $index+1">
    <!-- curtir post -->
    <!-- publicar post -->
    <div ng-show="atividade.post_id && !atividade.objeto.post_id">
        <div class="social-body">
            <p>
                {{atividade.objeto.texto}}
            </p>
        </div>
        <div class="social-avatar" layout="row">

            <a ui-sref="profile({idUsuario: atividade.usuario.id})" class="pull-left">
                <img class="img-circle" alt="image" src="uploads/usuarios/{{atividade.usuario.imagem_perfil}}">
            </a>

            <div class="media-body" flex>
                <a ui-sref="profile({idUsuario: atividade.usuario.id})" class="pull-left m-r-xs">{{atividade.usuario.nome}}</a>

                <div class="clearfix"></div>
                <small class="text-muted">
                    {{ vmHome.exibeData(atividade.created_at) }}
                </small>
                <p ng-show="atividade.curtidas.length">
                    <a class="small"><i class="fa fa-thumbs-up"></i> {{atividade.curtidas.length}} {{'messages.curtiram' | translate}}!</a>
                </p>
            </div>


            <div class="botoes_acao" layout="row" layout-align="end end">
                <div>
                    <md-button class="md-icon-button" ng-click="vmHome.curtir(atividade)" ng-class="{'curtiu': atividade.curtiu}">
                        <md-tooltip md-direction="top">
                            {{'messages.curtir' | translate}}
                        </md-tooltip>
                        <i class="material-icons md-18">thumb_up</i>
                    </md-button>

                    <md-button class="md-icon-button" ng-click="vmHome.comentar('comentario'+$index)">
                        <md-tooltip md-direction="top">
                            {{'messages.comentar' | translate}}
                        </md-tooltip>
                        <i class="material-icons md-18">mode_comment</i>
                    </md-button>

                    <md-button class="md-icon-button" ng-click="vmHome.compartilharPost($event, post)">
                        <md-tooltip md-direction="top">
                            {{'messages.compartilhar' | translate}}
                        </md-tooltip>
                        <i class="material-icons md-18">share</i>
                    </md-button>
                </div>
                <div ng-show="atividade.usuario.id == usuarioLogado.id">
                    <md-button class="md-icon-button" ng-click="vmHome.editarPost(post)">
                        <md-tooltip md-direction="top">
                            {{'fields.edit' | translate}}
                        </md-tooltip>
                        <i class="material-icons md-18">edit</i>
                    </md-button>
                    <md-button class="md-icon-button" ng-click="vmHome.excluirPost(post)" ng-show="atividade.usuario.id == usuarioLogado.id">
                        <md-tooltip md-direction="top">
                            {{'fields.delete' | translate}}
                        </md-tooltip>
                        <i class="material-icons md-18">delete</i>
                    </md-button>
                </div>
            </div>
        </div>
    </div>

    <!-- compartilhar post -->
    <div ng-show="atividade.post_id && atividade.objeto.post_id">
        <div class="social-body">
            <p>
                {{atividade.objeto.texto}}
            </p>
        </div>
        <div class="social-avatar" layout="row">

            <a ui-sref="profile({idUsuario: atividade.usuario.id})" class="pull-left">
                <img class="img-circle" alt="image" src="uploads/usuarios/{{atividade.usuario.imagem_perfil}}">
            </a>
            <div class="media-body" flex>
                <a ui-sref="profile({idUsuario: atividade.usuario.id})" class="pull-left m-r-xs">{{atividade.usuario.nome}}</a>
                <span ng-hide="{{atividade.descricao == 'messages.publicou'}}" class="text-muted">{{atividade.descricao | translate}}</span>
                <a ui-sref="profile({idUsuario: atividade.objeto.compartilhamento.usuario.id})"> {{atividade.objeto.compartilhamento.usuario.nome}}</a>

                <div class="clearfix"></div>
                <small class="text-muted">
                    {{ vmHome.exibeData(atividade.created_at) }}
                </small>
                <p ng-show="atividade.curtidas.length">
                    <a class="small"><i class="fa fa-thumbs-up"></i> {{atividade.curtidas.length}} {{'messages.curtiram' | translate}}!</a>
                </p>
                <div class="social-avatar post_compartilhado">
                    <a ui-sref="profile({idUsuario: atividade.objeto.compartilhamento.usuario.id})" class="pull-left">
                        <img class="img-circle" alt="image" src="uploads/usuarios/{{atividade.objeto.compartilhamento.usuario.imagem_perfil}}">
                    </a>
                    <div class="media-body">
                        <p> {{atividade.objeto.compartilhamento.texto}}
                        </p>

                    </div>
                    <small class="text-muted pull-right">
                            {{vmHome.exibeData(atividade.objeto.compartilhamento.created_at)}}
</small>
                </div>
            </div>
        </div>
        <div class="social-avatar" flex>
            <div class="botoes_acao" layout="row" layout-align="end end">
                <div>
                    <md-button class="md-icon-button" ng-click="vmHome.curtir(atividade)" ng-class="{'curtiu': atividade.curtiu}">
                        <md-tooltip md-direction="top">
                            {{'messages.curtir' | translate}}
                        </md-tooltip>
                        <i class="material-icons md-18">thumb_up</i>
                    </md-button>

                    <md-button class="md-icon-button" ng-click="vmHome.comentar('comentario'+$index)">
                        <md-tooltip md-direction="top">
                            {{'messages.comentar' | translate}}
                        </md-tooltip>
                        <i class="material-icons md-18">mode_comment</i>
                    </md-button>

                    <md-button class="md-icon-button" ng-click="vmHome.compartilharPost($event, post)">
                        <md-tooltip md-direction="top">
                            {{'messages.compartilhar' | translate}}
                        </md-tooltip>
                        <i class="material-icons md-18">share</i>
                    </md-button>
                </div>
                <div ng-show="atividade.usuario.id == usuarioLogado.id">
                    <md-button class="md-icon-button" ng-click="vmHome.editarPost(post)">
                        <md-tooltip md-direction="top">
                            {{'fields.edit' | translate}}
                        </md-tooltip>
                        <i class="material-icons md-18">edit</i>
                    </md-button>
                    <md-button class="md-icon-button" ng-click="vmHome.excluirPost(post)">
                        <md-tooltip md-direction="top">
                            {{'fields.delete' | translate}}
                        </md-tooltip>
                        <i class="material-icons md-18">delete</i>
                    </md-button>
                </div>
            </div>
        </div>

    </div>

    <div class="social-footer" ng-show="atividade.post_id">
        <div class="social-comment" ng-repeat="comentario in atividade.objeto.comentarios" ng-mouseenter="options=true" ng-mouseleave="options=false">
            <div class="dropdown" ng-show="comentario.usuario.id == usuarioLogado.id">
                <md-fab-speed-dial md-open="false" md-direction="left" class="md-scale md-fab-top-right" ng-show="options">
                    <md-fab-trigger>
                        <md-button aria-label="menu" class="md-icon-button m-r-0">
                            <i class="fa fa-chevron-left" aria-hidden="true"></i>
                        </md-button>
                    </md-fab-trigger>

                    <md-fab-actions>
                        <md-button aria-label="Twitter" class="md-icon-button" ng-click="vmHome.ediComentario(comentario)">
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                        </md-button>
                        <md-button aria-label="Facebook" class="md-icon-button" ng-click="vmHome.deleteComentario($event, comentario, post)">
                            <i class="fa fa-times" aria-hidden="true"></i>
                        </md-button>
                    </md-fab-actions>
                </md-fab-speed-dial>
            </div>
            <a ui-sref="profile({idUsuario: comentario.usuario.id})" class="pull-left">
                <img class="img-circle" alt="image" src="uploads/usuarios/{{comentario.usuario.imagem_perfil}}">
            </a>
            <div class="media-body">
                <a ui-sref="profile({idUsuario: comentario.usuario.id})">{{comentario.usuario.nome}}</a>
                <span ng-hide="comentario.editar">{{comentario.texto}}</span>
                <textarea class="form-control" placeholder="{{'messages.escrever_comentario' | translate}}" ng-keypress="vmHome.updateComentario($event, comentario)" ng-model="comentario.texto" ng-show="comentario.editar"></textarea>
                <br>
                <button class="btn btn-white btn-xs" ng-click="vmHome.curtirComentario(comentario)" ng-class="{'curtiu': comentario.curtiu}"><i class="fa fa-thumbs-up"></i></button>
                <a href="#" class="small" ng-show="comentario.quantidade_curtidas">
                    {{comentario.quantidade_curtidas}} {{'messages.curtiram' | translate}}!
                </a>
                <small class="text-muted">{{vmHome.exibeData(comentario.created_at)}}</small>
            </div>
        </div>

        <div class="social-comment">
            <a href="" class="pull-left">
                <img class="img-circle" alt="image" src="uploads/usuarios/{{usuarioLogado.imagem_perfil}}">
            </a>
            <div class="media-body">
                <textarea class="form-control" placeholder="{{'messages.escrever_comentario' | translate}}" ng-keypress="vmHome.salvarComentario($event, atividade.objeto)" ng-model="atividade.objeto.novoComentario" id="comentario{{$index}}"></textarea>
            </div>
        </div>

    </div>
    <!-- comentar -->
    <!-- seguir usuário -->
    <!-- curtir comentário -->
    <!-- seguir jogo -->
</md-card>
