<md-dialog aria-label="{{tituloModal | translate}}">
    <form name="formulario" role="form" class="form-horizontal" novalidate="novalidate" enctype="multipart/form-data">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{tituloModal | translate}}</h2>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">

                <div class="row" ng-if="messages">
                    <div class="col-md-10 col-md-offset-2">
                        <div class="alert alert-danger">
                            <ul>
                                <li class="error" ng-repeat="message in messages">
                                    {{ message }}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <md-input-container class="md-block">
                    <label>{{'fields.plataformas_id' | translate}}</label>
                    <md-select ng-model="userPlataforma.plataformas_id" required>
                        <md-option ng-repeat="plataforma in plataformas" ng-value="plataforma.id">
                            {{plataforma.descricao}}
                        </md-option>
                    </md-select>
                </md-input-container>

                <md-input-container class="md-block" flex>
                    <label>{{'fields.gamertag' | translate}}</label>
                    <input ng-model="userPlataforma.gamertag" required>
                </md-input-container>

            </div>

        </md-dialog-content>

        <md-dialog-actions layout="row">
            <md-button ng-click="cancel()">{{'fields.cancel' | translate}}</md-button>
            <md-button ng-click="salvarGamerTag()">{{'fields.save' | translate}}</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
