<div flex layout="row" layout-margin ng-init="vmHome.inicializa()">

    <div flex="15" layout="column" class="caixa-flutuante" layout-margin hide-xs>
        <div ng-include="'app/components/dashboard/mainNav.html'" layout-margin layout="column"></div>
    </div>

    <div flex class="caixa-flutuante" ui-view layout="column" layout-margin>
        <div ng-include="'app/components/rede_social/feed.html'" layout="column" ng-controller="FeedController as vmFeed" ng-init="vmFeed.inicializa()"></div>
    </div>

    <div flex="20" layout="column" class="caixa-flutuante" layout-margin hide-xs hide-sm>
        <h3 class="menu-acessorio_titulo">{{'messages.ultimas_novidades' | translate}}</h3>
        <a class="menu-acessorio" ui-sref="campeonato({idCampeonato: campeonato.id})" ng-repeat="campeonato in vmHome.userCampeonatosDisponiveis">
            {{ campeonato.descricao }}
        </a>
        <md-card>
            <md-card-content>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda quis corrupti repudiandae dolores velit tenetur eaque, cum placeat laudantium delectus voluptate, quisquam minima, quos dolorum fuga illo aspernatur accusamus illum!</md-card-content>
        </md-card>
        <md-card>
            <md-card-content>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non eius, inventore vero itaque amet, doloribus veritatis sequi totam natus velit temporibus obcaecati ex nesciunt quae aliquid accusamus a consequuntur minima?</md-card-content>
        </md-card>
    </div>
</div>
