<uib-rating ng-model="vmProfile.usuario.rating" class="user-rating" read-only="false" aria-labelledby="default-rating" state-on="'fa fa-star'" state-off="'fa fa-star-o'" ng-show="false"></uib-rating>
<a ui-sref=".editar_perfil" class="menu-usuario">Editar Perfil</a>
<a ui-sref="criar_campeonato" class="menu-usuario">Criar Campeonato</a>
<a ui-sref="meus_artigos" class="menu-usuario">Artigos</a>
<a ui-sref="meus_campeonatos" class="menu-usuario">Campeonatos</a>
<a ui-sref=".seguindo({idUsuario: vmHome.usuario.id})" class="menu-usuario">Seguindo</a>
<a ui-sref=".seguidores({idUsuario: vmHome.usuario.id})" class="menu-usuario">Seguidores</a>
