<!--Exibição Desktop-->
<uib-rating hide-xs ng-model="vmProfile.usuario.rating" class="user-rating" read-only="false" aria-labelledby="default-rating" state-on="'fa fa-star'" state-off="'fa fa-star-o'" ng-show="false"></uib-rating>
<a hide-xs ui-sref="home.editar_perfil" class="menu-usuario"><i class="fa fa-user" aria-hidden="true"></i> Editar Perfil</a>
<a hide-xs ui-sref="home.criar_campeonato" class="menu-usuario"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Criar Campeonato</a>
<a hide-xs ui-sref="meus_artigos" class="menu-usuario" ng-show="false">Artigos</a>
<a hide-xs ui-sref="home.campeonatos" class="menu-usuario"><i class="fa fa-trophy" aria-hidden="true"></i> Campeonatos</a>
<a hide-xs ui-sref="home.seguindo({idUsuario: vmHome.usuario.id})" class="menu-usuario"><i class="fa fa-users" aria-hidden="true"></i> Seguindo</a>
<a hide-xs ui-sref="home.seguidores({idUsuario: vmHome.usuario.id})" class="menu-usuario"><i class="fa fa-users" aria-hidden="true"></i> Seguidores</a>
<a hide-xs ui-sref="home.partidas_usuario" class="menu-usuario"><i class="fa fa-gamepad" aria-hidden="true"></i> Minhas Partidas</a>


<!--Exibição Mobile-->
<uib-rating hide-gt-xs ng-model="vmProfile.usuario.rating" class="user-rating" read-only="false" aria-labelledby="default-rating" state-on="'fa fa-star'" state-off="'fa fa-star-o'" ng-show="false"></uib-rating>
<a hide-gt-xs ng-click="vmTopNav.closeSideNav()" ui-sref="home.editar_perfil" class="menu-usuario"><i class="fa fa-user" aria-hidden="true"></i> Editar Perfil</a>
<a hide-gt-xs ng-click="vmTopNav.closeSideNav()" ui-sref="home.criar_campeonato" class="menu-usuario"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Criar Campeonato</a>
<a hide-gt-xs ng-click="vmTopNav.closeSideNav()" ui-sref="meus_artigos" class="menu-usuario" ng-show="false">Artigos</a>
<a hide-gt-xs ng-click="vmTopNav.closeSideNav()" ui-sref="home.campeonatos" class="menu-usuario"><i class="fa fa-trophy" aria-hidden="true"></i> Campeonatos</a>
<a hide-gt-xs ng-click="vmTopNav.closeSideNav()" ui-sref="home.seguindo({idUsuario: vmHome.usuario.id})" class="menu-usuario"><i class="fa fa-users" aria-hidden="true"></i> Seguindo</a>
<a hide-gt-xs ng-click="vmTopNav.closeSideNav()" ui-sref="home.seguidores({idUsuario: vmHome.usuario.id})" class="menu-usuario"><i class="fa fa-users" aria-hidden="true"></i> Seguidores</a>
<a hide-gt-xs ng-click="vmTopNav.closeSideNav()" ui-sref="home.partidas_usuario" class="menu-usuario"><i class="fa fa-gamepad" aria-hidden="true"></i> Minhas Partidas</a>
