<h3 class="secao_titulo" hide-xs>{{'messages.minhas_mensagens' | translate}}</h3>
<md-toolbar hide-gt-xs class="md-toolbar-tools">
    <h2 class="secao_titulo">{{'messages.minhas_mensagens' | translate}}</h2>
</md-toolbar>
<div ng-init="vmTopNav.getMensagensDoUsuario()">
    <md-list-item ng-repeat="mensagem in vmTopNav.mensagensUsuario" class="item-notificacao background-branco noright" ng-class="{'m-n': telaMobile}">
        <img class="img-circle img-xs m-r-sm" alt="image" src="uploads/usuarios/{{mensagem.remetente.imagem_perfil}}" data-pin-nopin="true">
        <div layout="column" flex>
            <p class="m-b-none font-bold remetente-mensagem">
                {{mensagem.remetente.nome}}

            </p>
            <p class="m-b-xs texto-mensagem">
                {{mensagem.mensagem}}
            </p>
            <small class="text-muted m-t-none">
                    {{ vmTopNav.exibeData(mensagem.created_at) }}
                </small>
        </div>
        <div class="icones" layout="row" layout-align="end center">
            <md-button class="md-icon-button md-primary" ng-controller="HomeController as vmHome" ng-click="vmHome.escreverMensagem($event, mensagem.remetente.id)">
                <i class="material-icons">reply</i>
            </md-button>
        </div>
    </md-list-item>
</div>
