<!--
<div id="wrapper">

    <div ng-include="'app/components/common/navigation.html'"></div>
    <div id="page-wrapper" class="gray-bg {{$state.current.name}}">

        <div ng-include="'app/components/common/topnavbar.html'"></div>

        <div ui-view></div>

        <div ng-include="'app/components/common/footer.html'"></div>

    </div>

</div>
-->

<div layout="column">
    <div flex ng-include="'app/components/common/topnavbar.html'"></div>
    <div flex ng-include="'app/components/common/navigation.html'"></div>
    <div flex ui-view></div>
    <div flex ng-include="'app/components/common/footer.html'"></div>
</div>
