<md-nav-bar md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links" hide-xs>
    <md-nav-item flex="auto" md-nav-sref="home">{{'menus.home' | translate}}</md-nav-item>
    <md-nav-item flex="auto" md-nav-sref="tabela_campeonato">{{'menus.tabela_campeonato' | translate}}</md-nav-item>
    <md-nav-item flex="auto" md-nav-sref="minhas_partidas">{{'menus.minhas_partidas' | translate}}</md-nav-item>
    <md-nav-item flex="auto" md-nav-sref="criar_campeonato">{{'messages.campeonato_create' | translate}}</md-nav-item>
    <md-nav-item flex="auto" md-nav-sref="jogo">{{'menus.jogos' | translate}}</md-nav-item>
</md-nav-bar>
