<div ng-cloak>
    <md-content>
        <md-nav-bar md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">
            <md-nav-item md-nav-sref="index.home">{{'menus.home' | translate}}</md-nav-item>
            <md-nav-item md-nav-sref="index.campeonato">{{'menus.campeonatos' | translate}}</md-nav-item>
            <md-nav-item md-nav-sref="index.jogo">{{'menus.jogos' | translate}}</md-nav-item>
            <md-nav-item md-nav-sref="index.plataforma">{{'menus.plataformas' | translate}}</md-nav-item>
            <md-nav-item md-nav-sref="index.campeonatoTipo">{{'menus.campeonatoTipos' | translate}}</md-nav-item>

            <md-nav-item md-nav-sref="index.usuario">{{'menus.usuarios' | translate}}</md-nav-item>
            <md-nav-item md-nav-sref="index.usuarioTipo">{{'menus.usuarioTipos' | translate}}</md-nav-item>
            <md-nav-item md-nav-sref="index.menu">{{'menus.menus' | translate}}</md-nav-item>
            <md-nav-item md-nav-sref="index.permissao">{{'menus.permissoes' | translate}}</md-nav-item>

            <md-nav-item md-nav-sref="index.tabela_campeonato">{{'menus.tabela_campeonato' | translate}}</md-nav-item>
            <md-nav-item md-nav-sref="index.minhas_partidas">{{'menus.minhas_partidas' | translate}}</md-nav-item>
            <md-nav-item md-nav-sref="index.criar_campeonato">{{'messages.campeonato_create' | translate}}</md-nav-item>

        </md-nav-bar>
    </md-content>
</div>


<!--
<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul side-navigation class="nav metismenu" id="side-menu">
            <li class="nav-header">

                <div class="profile-element" uib-dropdown>
                    <a uib-dropdown-toggle="" href>
                        <span class="clear">
                                <span class="block m-t-xs">
                                    <strong class="font-bold">{{main.userName}}</strong>
                             </span>
                        <span class="text-muted text-xs block">Example menu<b class="caret"></b></span>
                        </span>
                    </a>
                    <ul uib-dropdown-menu class="animated flipInX m-t-xs">
                        <li><a href="">Logout</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    IN+
                </div>

            </li>

            <li>
                <a ui-sref="index.home"><i class="fa fa-home"></i> <span class="nav-label" translate>menus.home</span> <span class="fa arrow"></span></a>
            </li>

            <li>
                <a href="#"><i class="fa fa-cog"></i> <span class="nav-label" translate>menus.config</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li><a ui-sref="index.campeonato"><i class="fa fa-trophy"></i><span translate>menus.campeonatos</span></a></li>
                    <li><a ui-sref="index.jogo"><i class="fa fa-shield"></i><span translate>menus.jogos</span></a></li>
                    <li><a ui-sref="index.plataforma"><i class="fa fa-gamepad"></i><span translate>menus.plataformas</span></a></li>
                    <li><a ui-sref="index.campeonatoTipo"><i class="fa fa-tag"></i><span translate>menus.campeonatoTipos</span></a></li>
                </ul>
            </li>

            <li>
                <a href="#"><i class="fa fa-users"></i> <span class="nav-label" translate>menus.acesso</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li><a ui-sref="index.usuario"><i class="fa fa-user"></i><span translate>menus.usuarios</span></a></li>
                    <li><a ui-sref="index.usuarioTipo"><i class="fa fa-list-alt"></i><span translate>menus.usuarioTipos</span></a></li>
                    <li><a ui-sref="index.menu"><i class="fa fa-navicon"></i><span translate>menus.menus</span></a></li>
                    <li><a ui-sref="index.permissao"><i class="fa fa-key"></i><span translate>menus.permissoes</span></a></li>

                </ul>
            </li>

            <li>
                <a href="#"><i class="fa fa-trophy"></i> <span class="nav-label" translate>menus.campeonatos</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li><a ui-sref="index.tabela_campeonato"><i class="fa fa-user"></i><span translate>menus.tabela_campeonato</span></a></li>
                    <li><a ui-sref="index.meus_campeonatos"><i class="fa fa-user"></i><span translate>menus.meus_campeonatos</span></a></li>
                    <li><a ui-sref="index.meus_campeonatos_disponiveis"><i class="fa fa-list-alt"></i><span translate>menus.campeonatos_disponiveis</span></a></li>
                    <li><a ui-sref="index.minhas_partidas"><i class="fa fa-user"></i><span translate>menus.minhas_partidas</span></a></li>
                    <li><a ui-sref="index.criar_campeonato"><i class="fa fa-user"></i><span translate>messages.campeonato_create</span></a></li>
                </ul>
            </li>
        </ul>

    </div>
</nav>
-->
