<md-toolbar ng-controller="TopNavController as vmTopNav" class="md-accent topo-principal">
    <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
        <a href="/" flex="20">
            <img height="50" alt="" src="assets/images/player2.png" data-pin-nopin="true">
        </a>
        <div flex="60" layout="row" layout-align="space-between center">
            <input type="number" placeholder="Usuário Logado" ng-model="idUsuarioLogado" ng-keypress="vmTopNav.carregaUsuarioLogado($event, idUsuarioLogado)">
            <md-autocomplete ng-disabled="ctrl.isDisabled" md-no-cache="ctrl.noCache" md-selected-item="ctrl.selectedItem" md-search-text-change="ctrl.searchTextChange(ctrl.searchText)" md-search-text="ctrl.searchText" md-selected-item-change="ctrl.selectedItemChange(item)" md-items="item in ctrl.querySearch(ctrl.searchText)" md-item-text="item.name" md-min-length="0" placeholder="Pick an Angular repository" md-menu-class="autocomplete-custom-template">
                <md-item-template>
                    <span class="item-title">
                        <md-icon md-svg-icon="img/icons/octicon-repo.svg"></md-icon>
                        <span> {{item.name}} </span>
                    </span>
                    <span class="item-metadata">
                        <span class="item-metastat">
                          <strong>{{item.watchers}}</strong> watchers
                        </span>
                    <span class="item-metastat">
                          <strong>{{item.forks}}</strong> forks
                        </span>
                    </span>
                </md-item-template>
                <!--
PESQUISA autocomplete
select id, nome as descricao, imagem_perfil as imagem, 'usuario' as tipo from users where lower(nome) like lower('%a%')
union
select id, descricao, imagem_capa as imagem, 'jogo'  as tipo from jogos where lower(descricao) like lower('%a%')
union
select id, descricao, '' as imagem, 'campeonato' as tipo from campeonatos where lower(descricao) like lower('%a%')
-->
            </md-autocomplete>
            <div class="icones-topo">
                <i class="material-icons md-24">home</i>
                <i class="material-icons md-24">comment</i>
                <i class="material-icons md-24">videogame_asset</i>
            </div>
        </div>
        <div flex="20" layout="row" flex layout-align="end end">


            <md-menu md-position-mode="target-right target" md-offset="-10 64">
                <div layout="column" layout-align="center center" ng-click="$mdOpenMenu()">
                    <img class="img-circle img-xs m-t-xs" alt="image " src="uploads/usuarios/{{usuarioLogado.imagem_perfil}} ">
                    <h5><span>{{usuarioLogado.nome}}</span></h5>
                </div>
                <md-menu-content>
                    <md-menu-item>
                        <md-button ng-click="vmTopNav.mudaIdioma('pt_br')">
                            <div layout="row" flex>
                                <i class="flag-icon flag-icon-br"></i> {{'menus.lang_br' | translate}}
                            </div>
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="vmTopNav.mudaIdioma('en_us')">
                            <div layout="row" flex>
                                <i class="flag-icon flag-icon-us"></i> {{'menus.lang_en' | translate}}
                            </div>
                        </md-button>
                    </md-menu-item>
                    <md-menu-divider></md-menu-divider>
                    <md-menu-item>
                        <md-button ui-sref="campeonato">{{'menus.campeonatos' | translate}}</md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ui-sref="cadastroJogo">{{'menus.jogos' | translate}}</md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ui-sref="plataforma">{{'menus.plataformas' | translate}}</md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ui-sref="campeonatoTipo">{{'menus.campeonatoTipos' | translate}}</md-button>
                    </md-menu-item>
                    <md-menu-divider></md-menu-divider>
                    <md-menu-item>
                        <md-button ui-sref="usuario">{{'menus.usuarios' | translate}}</md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ui-sref="usuarioTipo">{{'menus.usuarioTipos' | translate}}</md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ui-sref="menu">{{'menus.menus' | translate}}</md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ui-sref="permissao">{{'menus.permissoes' | translate}}</md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </div>
    </div>
</md-toolbar>
