<md-toolbar ng-controller="TopNavController as vmTopNav" class="md-accent topo-principal">
    <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
        <a ui-sref="home" flex="20">
            <img height="50" alt="" src="assets/images/player2.png" data-pin-nopin="true">
        </a>
        <!--        <span flex></span>-->
        <div flex="60">
            <input type="number" placeholder="Usuário Logado" ng-model="idUsuarioLogado" ng-keypress="vmTopNav.carregaUsuarioLogado($event, idUsuarioLogado)">
        </div>
        <div layout="row" flex layout-align="end end">


            <md-menu md-position-mode="target-right target" md-offset="-10 64">
                <div layout="column" layout-align="center center" ng-click="$mdOpenMenu()">
                    <img class="img-circle img-xs m-t-xs" alt="image " src="uploads/usuarios/{{usuarioLogado.imagem_perfil}} ">
                    <h5><span>{{usuarioLogado.nome}}</span></h5>
                </div>
                <md-menu-content>
                    <md-menu-item>
                        <md-button ng-click="vmTopNav.mudaIdioma('pt_br')">
                            <div layout="row" flex>
                                <i class="flag-icon flag-icon-br"></i> {{'menus.lang_br' | translate}}
                            </div>
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="vmTopNav.mudaIdioma('en_us')">
                            <div layout="row" flex>
                                <i class="flag-icon flag-icon-us"></i> {{'menus.lang_en' | translate}}
                            </div>
                        </md-button>
                    </md-menu-item>
                    <md-menu-divider></md-menu-divider>
                    <md-menu-item>
                        <md-button ui-sref="campeonato">{{'menus.campeonatos' | translate}}</md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ui-sref="cadastroJogo">{{'menus.jogos' | translate}}</md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ui-sref="plataforma">{{'menus.plataformas' | translate}}</md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ui-sref="campeonatoTipo">{{'menus.campeonatoTipos' | translate}}</md-button>
                    </md-menu-item>
                    <md-menu-divider></md-menu-divider>
                    <md-menu-item>
                        <md-button ui-sref="usuario">{{'menus.usuarios' | translate}}</md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ui-sref="usuarioTipo">{{'menus.usuarioTipos' | translate}}</md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ui-sref="menu">{{'menus.menus' | translate}}</md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ui-sref="permissao">{{'menus.permissoes' | translate}}</md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </div>
    </div>
</md-toolbar>
