<md-toolbar class="md-accent topo-principal" hide-xs>
    <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
        <a href="/" flex="20">
            <img alt="" height="50" src="assets/images/player2.png" data-pin-nopin="true" hide-xs>
            <img alt="" height="50" src="assets/images/player2_xs.png" data-pin-nopin="true" hide-gt-xs>
        </a>
        <div flex="60" layout="row" layout-align="space-between center">


            <md-autocomplete md-no-cache="false" md-search-text-change="vmTopNav.searchTextChange(vmTopNav.searchText)" md-search-text="vmTopNav.searchText" md-selected-item-change="vmTopNav.selectedItemChange(item)" md-items="item in vmTopNav.querySearch(vmTopNav.searchText)" md-min-length="2" md-item-text="item.descricao" placeholder="{{'messages.texto_pesquisa' | translate}}" md-menu-class="autocomplete-custom-template">
                <md-item-template>
                    <span class="item-title">
                        <img src="uploads/usuarios/{{item.imagem}}" class="img-circle img-sm" ng-show="item.tipo == 'profile'">
                        <img src="uploads/{{item.imagem}}" class="img-sm" ng-hide="item.tipo == 'profile'">
                        <span> {{item.descricao}} </span>
                    </span>
                </md-item-template>
            </md-autocomplete>

            <div class="icones-topo" layout="row">
                <md-button class="md-icon-button" aria-label="Home" ui-sref="home">
                    <i class="material-icons md-24">home</i>
                </md-button>

                <md-button class="md-icon-button count-info" aria-label="Messages" ui-sref="home.mensagens">
                    <i class="material-icons md-24">message</i>
                    <span class="label label-danger" ng-show="vmTopNav.quantidadeMensagensNaoLidas">{{vmTopNav.quantidadeMensagensNaoLidas}}</span>
                </md-button>

                <md-menu id="lista-notificacao" md-position-mode="target-right target" md-offset="0 40" ng-init="vmTopNav.getNotificacoesDoUsuario()">
                    <md-button class="md-icon-button count-info" aria-label="Notifications" ng-click="$mdOpenMenu()">
                        <i class="material-icons md-24">videogame_asset</i>
                        <span class="label label-danger" ng-show="vmTopNav.quantidadeNotificacoesNaoLidas">{{vmTopNav.quantidadeNotificacoesNaoLidas}}</span>
                    </md-button>
                    <md-menu-content>
                        <a ui-sref="home.notificacoes" class="ver_tudo">{{'messages.ver_tudo' | translate}}</a>
                        <md-menu-item ng-repeat="notificacao in vmTopNav.notificacoesUsuario" class="item-notificacao largura-menu">
                            <a layout="row" layout-align="start center" flex ng-click="vmTopNav.exibeDetalhesNotificacao(notificacao)" ng-class="{'notificacao-nao-lida': !notificacao.lida}">
                                <img class="img-xs m-r-sm" src="assets/images/player2_xs.png" data-pin-nopin="true" ng-hide="notificacao.remetente">
                                <img class="img-circle img-xs m-r-sm" alt="image" src="uploads/usuarios/{{notificacao.remetente.imagem_perfil}}" data-pin-nopin="true" ng-show="notificacao.remetente">
                                <div layout="column">
                                    <p class="m-b-none" translate="{{notificacao.mensagem}}" translate-values="{nome_remetente: notificacao.remetente.nome, nome_campeonato: notificacao.nome_campeonato, nome_fase: notificacao.nome_fase}"></p>
                                    <small class="text-muted m-t-none">
                                        {{ vmTopNav.exibeData(notificacao.created_at) }}
                                    </small>
                                </div>
                            </a>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>

            </div>
        </div>
        <div flex="20" layout="row" flex layout-align="end center" class="botao-opcoes">


            <a ui-sref="profile({idUsuario: usuarioLogado.id})" layout="row" layout-align="center center">
                <img class="img-circle img-xs m-t-xs" alt="image " src="uploads/usuarios/{{usuarioLogado.imagem_perfil}} ">
                <div class="nome-usuario">{{usuarioLogado.nome}}</div>
            </a>
            <md-menu md-position-mode="target-right target" md-offset="-20 40">
                <!--
-->
                <md-button class="md-icon-button" aria-label="Settings" ng-click="$mdOpenMenu()">
                    <i class="material-icons md-24">menu</i>
                </md-button>
                <md-menu-content>
                    <md-menu-item>
                        <md-button ng-click="vmTopNav.mudaIdioma('pt_br')">
                            <div layout="row" flex>
                                <i class="flag-icon flag-icon-br"></i> {{'menus.lang_br' | translate}}
                            </div>
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="vmTopNav.mudaIdioma('en_us')">
                            <div layout="row" flex>
                                <i class="flag-icon flag-icon-us"></i> {{'menus.lang_en' | translate}}
                            </div>
                        </md-button>
                    </md-menu-item>

                    <!--
                    <md-menu-divider></md-menu-divider>
                    <md-menu-item>
                        <md-button ui-sref="home.editar_perfil">
                            <div layout="row" flex>
                                Editar Perfil
                            </div>
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ui-sref="criar_campeonato">
                            <div layout="row" flex>
                                Criar Campeonato
                            </div>
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ui-sref="home.campeonatos">
                            <div layout="row" flex>
                                Campeonatos
                            </div>
                        </md-button>
                    </md-menu-item>
                    <md-menu-item ng-controller="HomeController as vmHome">
                        <md-button ui-sref="home.seguindo({idUsuario: vmHome.usuario.id})">
                            <div layout="row" flex>
                                Seguindo
                            </div>
                        </md-button>
                    </md-menu-item>
                    <md-menu-item ng-controller="HomeController as vmHome">
                        <md-button ui-sref="home.seguidores({idUsuario: vmHome.usuario.id})">
                            <div layout="row" flex>
                                Seguidores
                            </div>
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ui-sref="home.partidas_usuario">
                            <div layout="row" flex>
                                Minhas Partidas
                            </div>
                        </md-button>
                    </md-menu-item>
-->

                    <md-menu-divider></md-menu-divider>
                    <md-menu-item ng-controller="LoginController as vmAuth">
                        <md-button ng-click="vmAuth.logout()">
                            <div layout="row" flex>
                                <i class="flag-icon flag-icon-us"></i> {{'messages.logout' | translate}}
                            </div>
                        </md-button>
                    </md-menu-item>
                    <div ng-show="false">
                        <md-menu-divider></md-menu-divider>
                        <md-menu-item>
                            <md-button ui-sref="campeonato">{{'menus.campeonatos' | translate}}</md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ui-sref="cadastroJogo">{{'menus.jogos' | translate}}</md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ui-sref="plataforma">{{'menus.plataformas' | translate}}</md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ui-sref="campeonatoTipo">{{'menus.campeonatoTipos' | translate}}</md-button>
                        </md-menu-item>
                        <md-menu-divider></md-menu-divider>
                        <md-menu-item>
                            <md-button ui-sref="usuario">{{'menus.usuarios' | translate}}</md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ui-sref="usuarioTipo">{{'menus.usuarioTipos' | translate}}</md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ui-sref="menu">{{'menus.menus' | translate}}</md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ui-sref="permissao">{{'menus.permissoes' | translate}}</md-button>
                        </md-menu-item>
                    </div>
                </md-menu-content>
            </md-menu>


        </div>
    </div>
</md-toolbar>

<md-toolbar hide-gt-xs layout="row" ng-show="!showSearch">
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Settings" ng-click="vmTopNav.toggleSideNav()" ng-hide="vmTopNav.isOpenSideNav()">
            <i class="material-icons md-24">menu</i>
        </md-button>
        <span flex class="text-center">
            <a href="/">
            <img alt="" height="40" src="assets/images/player2.png" data-pin-nopin="true" hide-gt-xs>
            </a>
        </span>

        <md-button class="md-icon-button count-info" aria-label="Home" ui-sref="home.notificacoes">
            <i class="material-icons md-24">videogame_asset</i>
            <span class="label label-danger">{{vmTopNav.quantidadeNotificacoesNaoLidas}}</span>
        </md-button>

        <md-button class="md-icon-button" aria-label="Settings" ng-click="showSearch = !showSearch">
            <i class="material-icons md-24">search</i>
        </md-button>
    </div>
</md-toolbar>
<md-toolbar hide-gt-xs class="md-accent md-hue-1" ng-show="showSearch" id="toolbarSearch">
    <div class="md-toolbar-tools" layout-align="space-between center">
        <md-button class="md-icon-button" ng-click="showSearch = !showSearch" aria-label="Back">
            <i class="material-icons md-24">arrow_back</i>
        </md-button>
        <md-autocomplete md-no-cache="false" md-search-text-change="vmTopNav.searchTextChange(vmTopNav.searchText)" md-search-text="vmTopNav.searchText" md-selected-item-change="vmTopNav.selectedItemChange(item)" md-items="item in vmTopNav.querySearch(vmTopNav.searchText)" md-min-length="2" md-item-text="item.descricao" placeholder="{{'messages.texto_pesquisa' | translate}}" md-menu-class="autocomplete-custom-template" flex>
            <md-item-template>
                <span class="item-title">
                        <img src="uploads/usuarios/{{item.imagem}}" class="img-circle img-sm" ng-show="item.tipo == 'profile'">
                        <img src="uploads/{{item.imagem}}" class="img-sm" ng-hide="item.tipo == 'profile'">
                        <span> {{item.descricao}} </span>
                </span>
            </md-item-template>
        </md-autocomplete>
    </div>
</md-toolbar>

<md-sidenav class="md-sidenav-left md-whiteframe-4dp" md-component-id="sideNavPrincipal">
    <md-toolbar layout="row" layout-align="left center">
        <img class="img-circle img-sm m-xs" alt="image " src="uploads/usuarios/{{usuarioLogado.imagem_perfil}} ">
        <div layout="column" layout-align="center center" ng-controller="LoginController as vmAuth">
            <h5 class="m-b-none m-t-md">
                {{usuarioLogado.nome}}
            </h5>
            <md-button ng-click="vmAuth.logout()" class="m-t-none">
                {{'messages.logout' | translate}}
            </md-button>
        </div>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="vmTopNav.closeSideNav()" aria-label="Close">
            <i class="material-icons md-24">close</i>
        </md-button>
    </md-toolbar>
    <md-content class="md-primary">
        <div ng-include="'app/components/dashboard/mainNav.html'" layout-margin layout="column"></div>
    </md-content>
</md-sidenav>
