.tabela-navegacao-fases, .tabela-navegacao-rodadas {
	/* Font & Text */
	font-size: 24px;
	text-align: center;
	text-transform: uppercase;

	/* Box */
	height: 40px;
	line-height: 40px;
	border-bottom: 1px solid rgb(192, 192, 192);
	margin-bottom: 40px;

	/* Positioning */
	position: relative;
	display: block;

}

.tabela-navegacao-fases i {
	line-height: 40px;
}

.tabela-navegacao-rodadas {
	font-size: 15px;
	margin-bottom: 0;
	height: 30px;
	line-height: 30px;
}

.tabela-navegacao-rodadas i {
	line-height: 30px;
}

.tabela-head-linha {
	height: 30px;
	line-height: 30px;
}

.tabela-head-linha th {
	padding-bottom: 0 !important;
}

.tabela-classificacao {
/*	background-color: chartreuse;*/
	border-bottom: 1px solid rgb(192, 192, 192);
}

.placar-jogo-equipes, .placar-jogo-equipes-matamata {
	color: #333;
	font-size: 18px;
	border-bottom: 1px solid rgb(192, 192, 192);
	height: 70px;
	line-height: 70px;
	text-transform: uppercase;
	padding: 0;
}

.placar-jogo-equipes-matamata {
    border: 1px solid rgb(192, 192, 192);
    margin: -1px 0 0 -1px;
    overflow: hidden;
    background: white;
}

.placar-jogo-equipes-mandante,
.placar-jogo-equipes-visitante,
.placar-jogo-equipes-placar
{
	padding: 0;
}

.placar-jogo-equipes-mandante,
.placar-jogo-equipes-placar-mandante {
	text-align: right;
}

.placar-jogo-equipes-visitante,
.placar-jogo-equipes-placar-visitante {
	text-align: left;
}

.placar-jogo-equipes-placar-matamata {
    text-align: center;
    height: 70px;
	line-height: 70px;
    border: 1px solid rgb(192, 192, 192);
    margin: -1px 0 0 -1px;
/*    background: #eee;*/
    background-image: linear-gradient(to bottom, white, #ddd);
}

.placar-jogo-equipes-sigla {
/*	line-height: 70px;*/
}

.placar-jogo-equipes-escudo-mandante,
.placar-jogo-equipes-escudo-visitante {
	height: 30px;
	width: 30px;
}

.placar-jogo-equipes-escudo-mandante {
	margin: 0 8px;

}

.placar-jogo-equipes-escudo-visitante {
	margin: 0 8px
}

.placar-jogo-equipes-placar-mandante,
.placar-jogo-equipes-placar-visitante,
.placar-jogo-equipes-placar-matamata {
	padding: 0;
	font-size: 28px;
	font-weight: bold;
}

.info-jogo {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 8px;
    display: block;
}

.grupo-matamata {
    margin-bottom: 20px;
}

.lista-de-jogos-item {
    background: white;
    margin-left: 0;
}

.mata-conector1 {
	border: 1px solid rgb(192, 192, 192);
	height: 187px;
/*	position: absolute;*/
/*	width: 100%;*/
	margin-top: -256px;
    margin-right: 5%;
	border-left: 0;
	background: transparent;
    z-index: -3;
}

.mata-conector2 {
	background: rgb(192, 192, 192);
    height: 1px;
	width: 5%;
/*	position: absolute;*/
	margin-top: -95px;
	margin-right: 0;
    z-index: -3;
    float: right;
}

.tabela-versus i {
	width: 100%;
}

a.disabled {
  color: #999999;
}

a.disabled:hover {
  text-decoration: none;
  cursor: default;
  background-color: transparent;
}
