.tabela-navegacao-fases, .tabela-navegacao-rodadas {
	/* Font & Text */
	font-size: 24px;
	text-align: center;
	text-transform: uppercase;

	/* Box */
	height: 40px;
	line-height: 40px;
	border-bottom: 1px solid rgb(192, 192, 192);
	margin-bottom: 40px;

	/* Positioning */
	position: relative;
	display: block;

}

.tabela-navegacao-fases i {
	line-height: 40px;
}

.tabela-navegacao-rodadas {
	font-size: 15px;
	margin-bottom: 10px;
	height: 30px;
	line-height: 30px;
}

.tabela-navegacao-rodadas i {
	line-height: 30px;
}

.tabela-head-linha {
	height: 30px;
	line-height: 30px;
}

.tabela-head-linha th {
	padding-bottom: 0 !important;
}

.tabela-jogador {
	font-size: 18px;
	overflow: hidden;
	padding: 0;
}

.tabela-placar {
	font-size: 28px;
	line-height: 28px;
	padding: 0;
}

a.disabled {
  color: #999999;
}

a.disabled:hover {
  text-decoration: none;
  cursor: default;
  background-color: transparent;
}

.text-warning.disabled {
	color: #fbd0a0;
}
