<md-dialog aria-label="{{'messages.compartilhar' | translate}}" flex="70">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{'messages.compartilhar' | translate}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <i class="material-icons">close</i>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
                <div class="escrever_post">
                    <div class="icones">
                        <md-button class="md-icon-button" ng-click="adicionarImagem()">
                            <md-tooltip md-direction="top">
                                {{'messages.inserir_foto' | translate}}
                            </md-tooltip>
                            <i class="material-icons">photo_camera</i>
                        </md-button>
                    </div>
                    <textarea rows="1" class="animate msd-elastic: \n; compartilhar" placeholder="{{'messages.escrever_comentario' | translate}}" ng-model="novoPost.texto">
                    </textarea>
                </div>
                <div class="social-avatar post_compartilhado">
                    <a ui-sref="profile({idUsuario: atividade.usuario.id})" class="pull-left">
                        <img class="img-circle img-lg" alt="image" src="uploads/usuarios/{{atividade.usuario.imagem_perfil}}">
                    </a>
                    <div class="media-body">
                        <p> {{atividade.objeto.texto}}
                        </p>
                        <div class="clearfix"></div>
                        <small class="text-muted">
                            {{ exibeData(atividade.created_at) }}
                        </small>
                    </div>
                </div>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <md-button ng-click="cancel()">
                {{'fields.cancel' | translate}}
            </md-button>
            <md-button ng-click="compartilhar()">
                {{'messages.compartilhar' | translate}}
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
