<md-card class="feed" ng-repeat="atividade in vmFeed.feedFactory.items track by $index" ng-if="atividade.partidas_id || atividade.campeonato_usuarios_id">
    <!-- entrou em campeonato -->
    <div ng-if="atividade.campeonato_usuarios_id">
        <p></p>
        <div class="social-avatar" layout="column">
            <div>
                <a ui-sref="profile({idUsuario: atividade.usuario.id})" class="pull-left">
                    <img class="img-circle" alt="image" ng-src="uploads/usuarios/{{atividade.usuario.imagem_perfil}}">
                </a>

                <div class="media-body" flex>
                    <a ui-sref="profile({idUsuario: atividade.usuario.id}) " class="pull-left m-r-xs ">{{atividade.usuario.nome}}</a>
                    <span class="text-muted ">{{atividade.descricao | translate}}</span>
                    <a ui-sref="campeonato({idCampeonato: atividade.objeto.id}) "> {{atividade.objeto.descricao}}</a>

                    <div class="clearfix"></div>
                    <small class="text-muted">
                        {{ vmFeed.exibeData(atividade.created_at) }}
                    </small>
                </div>
            </div>
        </div>
    </div>

    <!-- jogou partida -->
    <div ng-if="atividade.partidas_id">
        <div class="placar-jogo-equipes">
            <div class="placar-jogo-equipes-mandante col-xs-4">
                <span class="placar-jogo-equipes-sigla" title="{{atividade.objeto.usuarios[0].nome}}" hide-xs>{{atividade.objeto.usuarios[0].nome}}</span>
                <span class="placar-jogo-equipes-sigla" title="{{atividade.objeto.usuarios[0].nome}}" hide-gt-xs>{{atividade.objeto.usuarios[0].sigla}}</span>
                <img class="placar-jogo-equipes-escudo-mandante hidden-xs" itemprop="image" ng-src="uploads/usuarios/{{atividade.objeto.usuarios[0].distintivo}}" title="{{atividade.objeto.usuarios[0].nome}}">
            </div>
            <div class="placar-jogo-equipes-placar col-xs-4">
                <div class="row">
                    <span class="placar-jogo-equipes-placar-mandante text-right col-xs-4">{{atividade.objeto.usuarios[0].placar}}</span>
                    <span class="tabela-versus col-xs-4 text-center"><i class="fa fa-close fa-fw"></i></span>
                    <span class="placar-jogo-equipes-placar-visitante col-xs-4">{{atividade.objeto.usuarios[1].placar}}</span>
                </div>
            </div>
            <div class="placar-jogo-equipes-visitante col-xs-4">
                <img class="placar-jogo-equipes-escudo-visitante hidden-xs" itemprop="image" ng-src="uploads/usuarios/{{atividade.objeto.usuarios[1].distintivo}}" title="{{atividade.objeto.usuarios[0].nome}}">
                <span class="placar-jogo-equipes-sigla" title="{{atividade.objeto.usuarios[1].nome}}" hide-xs>{{atividade.objeto.usuarios[1].nome}}</span>
                <span class="placar-jogo-equipes-sigla" title="{{atividade.objeto.usuarios[1].nome}}" hide-gt-xs>{{atividade.objeto.usuarios[1].sigla}}</span>
            </div>
        </div>

        <div class="social-avatar" layout="column">
            <div>
                <a ui-sref="profile({idUsuario: atividade.usuario.id})" class="pull-left">
                    <img class="img-circle" alt="image" ng-src="uploads/usuarios/{{atividade.usuario.imagem_perfil}}">
                </a>

                <div class="media-body" flex>
                    <a ui-sref="profile({idUsuario: atividade.usuario.id}) " class="pull-left m-r-xs ">{{atividade.usuario.nome}}</a>
                    <span class="text-muted ">{{atividade.descricao | translate}}</span>
                    <a ui-sref="campeonato({idCampeonato: atividade.objeto.campeonato.id})">{{atividade.objeto.campeonato.descricao}}</a>
                    <span class="text-muted ">{{'messages.disputou_partida_complemento' | translate}}</span>
                    <a ui-sref="profile({idUsuario: atividade.outros_usuarios[0].users_id})" ng-if="atividade.outros_usuarios.length == 1">{{atividade.outros_usuarios[0].nome}}</a>
                    <a ng-if="atividade.outros_usuarios.length > 1">{{atividade.outros_usuarios.length}} {{'messages.disputou_partida_complemento_dois' | translate}}
                    <md-tooltip md-direction="top" class="tt-curtida">
                        <span ng-repeat="outro_usuario in atividade.outros_usuarios">
                           {{outro_usuario.nome}} <br>
                       </span>
                    </md-tooltip>
                    </a>


                    <div class="clearfix"></div>
                    <small class="text-muted">
                    {{ vmFeed.exibeData(atividade.created_at) }}
                </small>
                </div>
            </div>

        </div>
    </div>

</md-card>
