<div class="escrever_post m-b">
    <div class="icones">
        <md-button class="md-icon-button" ng-click="vmFeed.adicionarImagem(ev, vmFeed.novoPost)">
            <md-tooltip md-direction="top">
                {{'messages.inserir_foto' | translate}}
            </md-tooltip>
            <i class="material-icons">photo_camera</i>
        </md-button>
        <md-button class="md-icon-button" ng-click="vmFeed.criarPost()">
            <md-tooltip md-direction="top">
                {{'messages.publicar' | translate}}
            </md-tooltip>
            <i class="material-icons">send</i>
        </md-button>
    </div>
    <img alt="{{usuarioLogado.nome}}" ng-src="uploads/usuarios/{{usuarioLogado.imagem_perfil}}">
    <textarea rows="1" class="animate msd-elastic: \n;" placeholder="{{'messages.escrever_comentario' | translate}}" ng-model="vmFeed.novoPost.texto">
    </textarea>
    <md-chips class="imagens_post" ng-if="vmFeed.novoPost.imagens">
        <md-chip ng-repeat="imagem in vmFeed.novoPost.imagens" md-removable="true">
            {{imagem.lfFileName}}
        </md-chip>
    </md-chips>
</div>

<md-card class="feed" ng-repeat="atividade in vmFeed.feedFactory.items track by $index" ng-if="atividade.post_id || atividade.partidas_id || atividade.campeonato_usuarios_id">
    <!-- curtir post -->
    <!-- publicar post -->
    <div ng-if="atividade.post_id && !atividade.objeto.post_id" layout="row" layout-xs="column">
        <div flex layout="column" layout-align="space-between">
            <div class="social-body">
                <p ng-bind-html="atividade.objeto.texto">
                </p>
            </div>
            <div class="social-avatar" layout="column">

                <div>
                    <a ui-sref="profile({idUsuario: atividade.usuario.id})" class="pull-left">
                        <img class="img-circle" alt="image" ng-src="uploads/usuarios/{{atividade.usuario.imagem_perfil}}">
                    </a>

                    <div class="media-body" flex>
                        <a ui-sref="profile({idUsuario: atividade.usuario.id})" class="pull-left m-r-xs">{{atividade.usuario.nome}}</a>

                        <!-- mensagem sobre jogo -->
                        <div ng-if="atividade.objeto.jogos_id">
                            <span class="text-muted ">{{atividade.descricao | translate}}</span>
                            <!-- escreveu sobre jogo -->
                            <a ui-sref="jogo({idJogo: atividade.objeto.jogos_id}) "> {{atividade.objeto.descricao_jogo}}</a>
                        </div>

                        <!-- mensagem para usuário -->
                        <div ng-if="atividade.objeto.destinatario_id">
                            <span class="text-muted ">{{atividade.descricao | translate}}</span>
                            <!-- falou para usuário -->
                            <a ui-sref="profile({idUsuario: atividade.objeto.destinatario_id}) "> {{atividade.objeto.descricao_destinatario}}</a>
                        </div>

                        <div class="clearfix"></div>
                        <small class="text-muted">
                        {{ vmFeed.exibeData(atividade.created_at) }}
                    </small>
                        <p ng-if="atividade.curtidas.length" class="m-n">
                            <a class="small" ng-click="vmFeed.exibeCurtidas($mdOpenMenu, $event)"><i class="fa fa-thumbs-up"></i> {{atividade.curtidas.length}} {{'messages.curtiram' | translate}}!
                            <md-tooltip md-direction="top" class="tt-curtida">
                                <span ng-repeat="curtida in atividade.curtidas">
                                   {{curtida.nome}} <br>
                               </span>
                            </md-tooltip>
                        </a>
                        </p>
                    </div>
                </div>


                <div class=" botoes_acao " layout="row " layout-align="end end ">
                    <div>
                        <md-button class="md-icon-button" ng-click="vmFeed.curtir(atividade) " ng-class="{ 'curtiu': atividade.curtiu} ">
                            <md-tooltip md-direction="top">
                                {{'messages.curtir' | translate}}
                            </md-tooltip>
                            <i class="material-icons md-18 ">thumb_up</i>
                        </md-button>

                        <md-button class="md-icon-button " ng-click="vmFeed.comentar( 'comentario'+$index) ">
                            <md-tooltip md-direction="top ">
                                {{'messages.comentar' | translate}}
                            </md-tooltip>
                            <i class="material-icons md-18 ">mode_comment</i>
                        </md-button>

                        <md-button class="md-icon-button " ng-click="vmFeed.compartilhar($event, atividade) ">
                            <md-tooltip md-direction="top ">
                                {{'messages.compartilhar' | translate}}
                            </md-tooltip>
                            <i class="material-icons md-18 ">share</i>
                        </md-button>
                    </div>
                    <div ng-if="atividade.usuario.id == usuarioLogado.id ">
                        <md-button class="md-icon-button " ng-click="vmFeed.editar($event, atividade) ">
                            <md-tooltip md-direction="top ">
                                {{'fields.edit' | translate}}
                            </md-tooltip>
                            <i class="material-icons md-18 ">edit</i>
                        </md-button>
                        <md-button class="md-icon-button " ng-click="vmFeed.excluir($event, atividade, $index) ">
                            <md-tooltip md-direction="top ">
                                {{'fields.delete' | translate}}
                            </md-tooltip>
                            <i class="material-icons md-18 ">delete</i>
                        </md-button>
                    </div>
                </div>
            </div>
        </div>

        <ul id="imagens" class="images-post" ng-if="atividade.objeto.imagens.length" flex="33" flex-xs="100" flex-order-xs="-1">
            <li ng-repeat="imagem in atividade.objeto.imagens track by $index">
                <a ng-click="vmFeed.openLightboxModal(atividade.objeto.imagens, $index)">
                    <img ng-src="uploads/imagens/{{imagem.url}}" alt="" class="" ng-class="{'img-responsive': $index === 0, 'img-thumb': $index > 0 && $index < 4}">
                </a>
            </li>
        </ul>
    </div>

    <!-- compartilhar post -->
    <div ng-if="atividade.post_id && atividade.objeto.post_id ">
        <div class="social-body ">
            <p ng-bind-html="atividade.objeto.texto">
        </div>
        <div class="social-avatar" layout="row" layout-xs="column">
            <div layout-fill>
                <a ui-sref="profile({idUsuario: atividade.usuario.id}) " class="pull-left ">
                    <img class="img-circle " alt="image " ng-src="uploads/usuarios/{{atividade.usuario.imagem_perfil}} ">
                </a>
                <div class="media-body " flex layout="column ">
                    <div class="social-avatar corpo_post ">
                        <a ui-sref="profile({idUsuario: atividade.usuario.id}) " class="pull-left m-r-xs ">{{atividade.usuario.nome}}</a>
                        <span class="text-muted ">{{atividade.descricao | translate}}</span>
                        <a ui-sref="profile({idUsuario: atividade.objeto.compartilhamento.usuario.id}) "> {{atividade.objeto.compartilhamento.usuario.nome}}</a>

                        <div class="clearfix "></div>
                        <small class="text-muted ">
                        {{ vmFeed.exibeData(atividade.created_at) }}
                    </small>
                        <p ng-if="atividade.curtidas.length " class="m-n ">
                            <a class="small" ng-click="vmFeed.exibeCurtidas($mdOpenMenu, $event)"><i class="fa fa-thumbs-up"></i> {{atividade.curtidas.length}} {{'messages.curtiram' | translate}}!
                    <md-tooltip md-direction="top" class="tt-curtida">
                        <span ng-repeat="curtida in atividade.curtidas">
                           {{curtida.nome}} <br>
                       </span>
                    </md-tooltip>
                    </a>
                        </p>
                    </div>
                </div>
                <div class="social-avatar post_compartilhado ">
                    <a ui-sref="profile({idUsuario: atividade.objeto.compartilhamento.usuario.id}) " class="pull-left ">
                        <img class="img-circle " alt="image " ng-src="uploads/usuarios/{{atividade.objeto.compartilhamento.usuario.imagem_perfil}} ">
                    </a>
                    <div class="media-body ">
                        <p ng-bind-html="atividade.objeto.compartilhamento.texto">

                    </div>
                    <small class="text-muted pull-right ">
                            {{vmFeed.exibeData(atividade.objeto.compartilhamento.created_at)}}
                    </small>
                </div>
            </div>
            <ul id="imagens" class="images-post" ng-if="atividade.objeto.compartilhamento.imagens.length" flex="33" flex-xs="100" flex-order-xs="-1">
                <li ng-repeat="imagem in atividade.objeto.compartilhamento.imagens track by $index">
                    <a ng-click="vmFeed.openLightboxModal(atividade.objeto.compartilhamento.imagens, $index)">
                            <img ng-src="uploads/imagens/{{imagem.url}}" alt="" class="" ng-class="{'img-responsive': $index === 0, 'img-thumb': $index > 0 && $index < 4}">
                        </a>
                </li>
            </ul>
        </div>
        <div class="social-avatar " flex>
            <div class="botoes_acao " layout="row " layout-align="end end ">
                <div>
                    <md-button class="md-icon-button " ng-click="vmFeed.curtir(atividade) " ng-class="{ 'curtiu': atividade.curtiu} ">
                        <md-tooltip md-direction="top ">
                            {{'messages.curtir' | translate}}
                        </md-tooltip>
                        <i class="material-icons md-18 ">thumb_up</i>
                    </md-button>

                    <md-button class="md-icon-button " ng-click="vmFeed.comentar( 'comentario'+$index) ">
                        <md-tooltip md-direction="top ">
                            {{'messages.comentar' | translate}}
                        </md-tooltip>
                        <i class="material-icons md-18 ">mode_comment</i>
                    </md-button>

                    <md-button class="md-icon-button " ng-click="vmFeed.compartilhar($event, atividade) ">
                        <md-tooltip md-direction="top ">
                            {{'messages.compartilhar' | translate}}
                        </md-tooltip>
                        <i class="material-icons md-18 ">share</i>
                    </md-button>
                </div>
                <div ng-if="atividade.usuario.id == usuarioLogado.id ">
                    <md-button class="md-icon-button " ng-click="vmFeed.editar($event, atividade) ">
                        <md-tooltip md-direction="top ">
                            {{'fields.edit' | translate}}
                        </md-tooltip>
                        <i class="material-icons md-18 ">edit</i>
                    </md-button>
                    <md-button class="md-icon-button " ng-click="vmFeed.excluir($event, atividade, $index) ">
                        <md-tooltip md-direction="top ">
                            {{'fields.delete' | translate}}
                        </md-tooltip>
                        <i class="material-icons md-18 ">delete</i>
                    </md-button>
                </div>
            </div>
        </div>

    </div>

    <!-- comentar -->
    <!-- seguir usuário -->
    <!-- curtir comentário -->
    <!-- seguir jogo -->
    <!-- entrou em campeonato -->
    <div ng-if="atividade.campeonato_usuarios_id">
        <p></p>
        <div class="social-avatar" layout="column">
            <div>
                <a ui-sref="profile({idUsuario: atividade.usuario.id})" class="pull-left">
                    <img class="img-circle" alt="image" ng-src="uploads/usuarios/{{atividade.usuario.imagem_perfil}}">
                </a>

                <div class="media-body" flex>
                    <a ui-sref="profile({idUsuario: atividade.usuario.id}) " class="pull-left m-r-xs ">{{atividade.usuario.nome}}</a>
                    <span class="text-muted ">{{atividade.descricao | translate}}</span>
                    <a ui-sref="campeonato({idCampeonato: atividade.objeto.id}) "> {{atividade.objeto.descricao}}</a>

                    <div class="clearfix"></div>
                    <small class="text-muted">
                    {{ vmFeed.exibeData(atividade.created_at) }}
                </small>
                    <p ng-if="atividade.curtidas.length" class="m-n">
                        <a class="small" ng-click="vmFeed.exibeCurtidas($mdOpenMenu, $event)"><i class="fa fa-thumbs-up"></i> {{atividade.curtidas.length}} {{'messages.curtiram' | translate}}!
                    <md-tooltip md-direction="top" class="tt-curtida">
                        <span ng-repeat="curtida in atividade.curtidas">
                           {{curtida.nome}} <br>
                       </span>
                    </md-tooltip>
                    </a>
                    </p>
                </div>
            </div>

            <div class=" botoes_acao " layout="row " layout-align="end end ">
                <div>
                    <md-button class="md-icon-button" ng-click="vmFeed.curtir(atividade) " ng-class="{ 'curtiu': atividade.curtiu} ">
                        <md-tooltip md-direction="top">
                            {{'messages.curtir' | translate}}
                        </md-tooltip>
                        <i class="material-icons md-18 ">thumb_up</i>
                    </md-button>

                    <md-button class="md-icon-button " ng-click="vmFeed.comentar( 'comentario'+$index) ">
                        <md-tooltip md-direction="top ">
                            {{'messages.comentar' | translate}}
                        </md-tooltip>
                        <i class="material-icons md-18 ">mode_comment</i>
                    </md-button>
                </div>
                <div ng-if="atividade.usuario.id == usuarioLogado.id ">
                    <md-button class="md-icon-button " ng-click="vmFeed.editar($event, atividade) ">
                        <md-tooltip md-direction="top ">
                            {{'fields.edit' | translate}}
                        </md-tooltip>
                        <i class="material-icons md-18 ">edit</i>
                    </md-button>
                    <md-button class="md-icon-button " ng-click="vmFeed.excluir($event, atividade, $index) ">
                        <md-tooltip md-direction="top ">
                            {{'fields.delete' | translate}}
                        </md-tooltip>
                        <i class="material-icons md-18 ">delete</i>
                    </md-button>
                </div>
            </div>
        </div>
    </div>

    <!-- jogou partida -->
    <div ng-if="atividade.partidas_id">
        <div class="placar-jogo-equipes">
            <div class="placar-jogo-equipes-mandante col-xs-4">
                <span class="placar-jogo-equipes-sigla" title="{{atividade.objeto.usuarios[0].nome}}" hide-xs>{{atividade.objeto.usuarios[0].nome}}</span>
                <span class="placar-jogo-equipes-sigla" title="{{atividade.objeto.usuarios[0].nome}}" hide-gt-xs>{{atividade.objeto.usuarios[0].sigla}}</span>
                <img class="placar-jogo-equipes-escudo-mandante hidden-xs" itemprop="image" ng-src="uploads/usuarios/{{atividade.objeto.usuarios[0].distintivo}}" title="{{atividade.objeto.usuarios[0].nome}}">
            </div>
            <div class="placar-jogo-equipes-placar col-xs-4">
                <div class="row">
                    <span class="placar-jogo-equipes-placar-mandante text-right col-xs-4">{{atividade.objeto.usuarios[0].placar}}</span>
                    <span class="tabela-versus col-xs-4 text-center"><i class="fa fa-close fa-fw"></i></span>
                    <span class="placar-jogo-equipes-placar-visitante col-xs-4">{{atividade.objeto.usuarios[1].placar}}</span>
                </div>
            </div>
            <div class="placar-jogo-equipes-visitante col-xs-4">
                <img class="placar-jogo-equipes-escudo-visitante hidden-xs" itemprop="image" ng-src="uploads/usuarios/{{atividade.objeto.usuarios[1].distintivo}}" title="{{atividade.objeto.usuarios[0].nome}}">
                <span class="placar-jogo-equipes-sigla" title="{{atividade.objeto.usuarios[1].nome}}" hide-xs>{{atividade.objeto.usuarios[1].nome}}</span>
                <span class="placar-jogo-equipes-sigla" title="{{atividade.objeto.usuarios[1].nome}}" hide-gt-xs>{{atividade.objeto.usuarios[1].sigla}}</span>
            </div>
        </div>

        <div class="social-avatar" layout="column">
            <div>
                <a ui-sref="profile({idUsuario: atividade.usuario.id})" class="pull-left">
                    <img class="img-circle" alt="image" ng-src="uploads/usuarios/{{atividade.usuario.imagem_perfil}}">
                </a>

                <div class="media-body" flex>
                    <a ui-sref="profile({idUsuario: atividade.usuario.id}) " class="pull-left m-r-xs ">{{atividade.usuario.nome}}</a>
                    <span class="text-muted ">{{atividade.descricao | translate}}</span>
                    <a ui-sref="campeonato({idCampeonato: atividade.objeto.campeonato.id})">{{atividade.objeto.campeonato.descricao}}</a>
                    <span class="text-muted ">{{'messages.disputou_partida_complemento' | translate}}</span>
                    <a ui-sref="profile({idUsuario: atividade.outros_usuarios[0].users_id})" ng-if="atividade.outros_usuarios.length == 1">{{atividade.outros_usuarios[0].nome}}</a>
                    <a ng-if="atividade.outros_usuarios.length > 1">{{atividade.outros_usuarios.length}} {{'messages.disputou_partida_complemento_dois' | translate}}
                    <md-tooltip md-direction="top" class="tt-curtida">
                        <span ng-repeat="outro_usuario in atividade.outros_usuarios">
                           {{outro_usuario.nome}} <br>
                       </span>
                    </md-tooltip>
                    </a>


                    <div class="clearfix"></div>
                    <small class="text-muted">
                    {{ vmFeed.exibeData(atividade.created_at) }}
                </small>
                    <p ng-if="atividade.curtidas.length" class="m-n">
                        <a class="small" ng-click="vmFeed.exibeCurtidas($mdOpenMenu, $event)"><i class="fa fa-thumbs-up"></i> {{atividade.curtidas.length}} {{'messages.curtiram' | translate}}!
                    <md-tooltip md-direction="top" class="tt-curtida">
                        <span ng-repeat="curtida in atividade.curtidas">
                           {{curtida.nome}} <br>
                       </span>
                    </md-tooltip>
                    </a>
                    </p>
                </div>
            </div>

            <div class=" botoes_acao " layout="row " layout-align="end end ">
                <div>
                    <md-button class="md-icon-button" ng-click="vmFeed.curtir(atividade) " ng-class="{ 'curtiu': atividade.curtiu} ">
                        <md-tooltip md-direction="top">
                            {{'messages.curtir' | translate}}
                        </md-tooltip>
                        <i class="material-icons md-18 ">thumb_up</i>
                    </md-button>

                    <md-button class="md-icon-button " ng-click="vmFeed.comentar( 'comentario'+$index) ">
                        <md-tooltip md-direction="top ">
                            {{'messages.comentar' | translate}}
                        </md-tooltip>
                        <i class="material-icons md-18 ">mode_comment</i>
                    </md-button>
                </div>
                <div ng-if="atividade.usuario.id == usuarioLogado.id ">
                    <md-button class="md-icon-button " ng-click="vmFeed.editar($event, atividade) ">
                        <md-tooltip md-direction="top ">
                            {{'fields.edit' | translate}}
                        </md-tooltip>
                        <i class="material-icons md-18 ">edit</i>
                    </md-button>
                    <md-button class="md-icon-button " ng-click="vmFeed.excluir($event, atividade, $index) ">
                        <md-tooltip md-direction="top ">
                            {{'fields.delete' | translate}}
                        </md-tooltip>
                        <i class="material-icons md-18 ">delete</i>
                    </md-button>
                </div>
            </div>
        </div>
    </div>

    <div class="social-footer " ng-if="atividade.post_id || atividade.partidas_id || atividade.campeonato_usuarios_id">
        <div class="social-comment " ng-repeat="comentario in atividade.comentarios " ng-mouseenter="options=true " ng-mouseleave="options=false ">
            <a ui-sref="profile({idUsuario: comentario.usuario.id}) " class="pull-left ">
                <img class="img-circle " alt="image " ng-src="uploads/usuarios/{{comentario.usuario.imagem_perfil}} ">
            </a>
            <div class="media-body ">
                <textarea class="form-control " rows="1 " ng-model="comentario.texto " ng-if="comentario.edicao " ng-keypress="vmFeed.atualizarComentario($event, comentario, atividade) "></textarea>
                <div class="grupo_comentario" ng-if="!comentario.edicao">
                    <a ui-sref="profile({idUsuario: comentario.usuario.id}) ">{{comentario.usuario.nome}}</a>
                    <span ng-bind-html="comentario.texto"></span>
                    <br>
                    <small class="text-muted ">{{vmFeed.exibeData(comentario.created_at)}}</small>
                    <a class="small" ng-click="vmFeed.exibeCurtidas($mdOpenMenu, $event)" ng-if="comentario.atividade.curtidas.length ">
                        <i class="fa fa-thumbs-up"></i> {{comentario.atividade.curtidas.length}} {{'messages.curtiram' | translate}}!
                        <md-tooltip md-direction="top" class="tt-curtida">
                            <span ng-repeat="curtida in comentario.atividade.curtidas">
                           {{curtida.nome}} <br>
                       </span>
                        </md-tooltip>
                    </a>
                    <div class="botoes_acao " layout="row " layout-align="start start ">
                        <div>
                            <md-button class="md-icon-button " ng-click="vmFeed.curtir(comentario.atividade) " ng-class="{ 'curtiu': comentario.atividade.curtiu} ">
                                <md-tooltip md-direction="top ">
                                    {{'messages.curtir' | translate}}
                                </md-tooltip>
                                <i class="material-icons ">thumb_up</i>
                            </md-button>

                            <md-button class="md-icon-button " ng-click="vmFeed.comentar( 'comentario'+$index) " ng-if="futuro">
                                <md-tooltip md-direction="top ">
                                    {{'messages.comentar' | translate}}
                                </md-tooltip>
                                <i class="material-icons ">mode_comment</i>
                            </md-button>
                        </div>
                        <div ng-if="comentario.atividade.users_id == usuarioLogado.id ">
                            <md-button class="md-icon-button " ng-click="vmFeed.editarComentario($event, comentario) ">
                                <md-tooltip md-direction="top ">
                                    {{'fields.edit' | translate}}
                                </md-tooltip>
                                <i class="material-icons ">edit</i>
                            </md-button>
                            <md-button class="md-icon-button " ng-click="vmFeed.excluirComentario($event, comentario.atividade, atividade) ">
                                <md-tooltip md-direction="top ">
                                    {{'fields.delete' | translate}}
                                </md-tooltip>
                                <i class="material-icons ">delete</i>
                            </md-button>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="social-comment ">
            <a href=" " class="pull-left ">
                <img class="img-circle " alt="image " ng-src="uploads/usuarios/{{usuarioLogado.imagem_perfil}} ">
            </a>
            <div class="media-body ">
                <textarea class="form-control " placeholder="{{ 'messages.escrever_comentario' | translate}} " ng-keypress="vmFeed.salvarComentario($event, atividade) " ng-model="atividade.novoComentario " id="comentario{{$index}} "></textarea>
            </div>
        </div>

    </div>
</md-card>
