<h3 class="secao_titulo" ng-init="vmSeguidores.inicializa('seguindo')">{{'messages.seguindo' | translate}}</h3>
<div class="caixa-pesquisa">
    <md-input-container class="md-block md-primary">
        <label>{{'messages.filtro' | translate}}</label>
        <input ng-model="vmSeguidores.searchTextSeguindo">
    </md-input-container>
</div>
<md-grid-list md-cols-xs="2" md-cols-sm="2" md-cols-md="3" md-cols-gt-md="4" md-row-height="210px" md-gutter="12px" md-gutter-gt-sm="8px">
    <md-grid-tile class="card-usuarios" ng-repeat="seguidor in vmSeguidores.querySearchSeguindo(vmSeguidores.searchTextSeguindo)" layout="column">
        <div layout="column" layout-fill class="body-content">
            <img alt="image" class="img-circle img-lg" src="uploads/usuarios/{{seguidor.imagem_perfil}}">
            <h3 class="m-b-xs"><strong>{{seguidor.nome}}</strong></h3>
            <div class="font-bold">{{seguidor.localizacao}}</div>
        </div>
        <md-grid-tile-footer class="center-block">
            <md-button ui-sref="profile({idUsuario: seguidor.id})" class="md-primary  md-raised"><i class="material-icons">account_box</i>
                <span hide-xs>{{'messages.visitar_perfil' | translate}}</span>
            </md-button>
        </md-grid-tile-footer>
    </md-grid-tile>
</md-grid-list>
