<h3 class="secao_titulo" ng-init="vmSeguidores.inicializa()">{{'messages.seguidores' | translate}}</h3>
<div class="col-md-3" ng-repeat="seguidor in vmSeguidores.seguidores">
    <div class="contact-box center-version">

        <a ui-sref="profile({idUsuario: seguidor.id})">

            <img alt="image" class="img-circle" src="uploads/usuarios/{{seguidor.imagem_perfil}}">

            <h3 class="m-b-xs"><strong>{{seguidor.nome}}</strong></h3>

            <div class="font-bold">{{seguidor.localizacao}}</div>
            <address class="m-t-md">
                                {{seguidor.descricao}}
                            </address>

        </a>
        <div class="contact-box-footer">
            <div class="m-t-xs btn-group">
                <a class="btn btn-xs btn-white"><i class="fa fa-envelope"></i> {{'messages.mensagem' | translate}}</a>
                <a class="btn btn-xs btn-white"><i class="fa fa-user-plus"></i> {{'messages.seguir' | translate}}</a>
            </div>
        </div>

    </div>
</div>
