<md-card>
    <md-toolbar class="md-toolbar-tools">
        <h2 translate>messages.usuario_list</h2>
        <span flex></span>
        <md-button class="md-raised" ng-click="vmUsuario.create($event)">
            {{'messages.usuario_add' | translate}}
        </md-button>
    </md-toolbar>
    <md-card-content>
        <table class="table">
            <tr>
                <th translate>fields.nome</th>
                <th translate>fields.email</th>
                <th translate>fields.usuarioTipos_id</th>
                <th>&nbsp;</th>
            </tr>
            <tr ng-repeat="usuario in vmUsuario.usuarios">
                <td>{{ usuario.nome }}</td>
                <td>{{ usuario.email }}</td>
                <td>{{ usuario.descricaoTipo }}</td>
                <td class="btn-group" role="group">
                    <button type="button" class="btn btn-warning" ng-click="vmUsuario.edit($event, usuario.id)" tooltip="{{'fields.edit' | translate}}">
                        <i class="fa fa-pencil fa-fw"></i>
                    </button>

                    <button type="button" class="btn btn-danger" ng-click="vmUsuario.delete($event, usuario.id)" tooltip="{{'fields.delete' | translate}}">
                        <i class="fa fa-trash-o fa-fw"></i>
                    </button>
                </td>
            </tr>
        </table>
    </md-card-content>
</md-card>
