<md-dialog aria-label="{{tituloModal | translate}}">
    <form name="formulario" role="form" class="form-horizontal" novalidate="novalidate">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{tituloModal | translate}}</h2>
            </div>
        </md-toolbar>

        <md-dialog-content class="p-h-md">
            <div class="caixa-pesquisa" ng-if="false">
                <md-input-container class="md-block md-primary">
                    <label>{{'messages.filtro' | translate}}</label>
                    <input ng-model="vmSeguidores.searchTextSeguindo">
                </md-input-container>
            </div>
            <md-list-item ng-repeat="usuario in amigos" class="noright">
                <img ng-src="uploads/usuarios/{{usuario.imagem_perfil}}" alt="{{usuario.nome}}" class="img-circle circle-border-sm img-md m-xxs">
                <p class="m-l-md">{{usuario.nome}}</p>
                <md-button class="md-icon-button md-primary" ng-click="convidar($event, usuario)">
                    <md-tooltip md-direction="top">{{'messages.convidar' | translate}}</md-tooltip>
                    <i class="material-icons">call_to_action</i>
                </md-button>
            </md-list-item>

            <md-dialog-actions layout="row">
                <md-button ng-click="cancel()">{{'messages.close' | translate}}</md-button>
            </md-dialog-actions>
        </md-dialog-content>
    </form>
</md-dialog>
