<div class="theme-config">
    <div class="theme-config-box" ng-class="{'show': exibeDetalhes}">
        <div class="skin-setttings">
            <div class="title">
                <button type="button" class="close" aria-label="Esconder detalhes" ng-click="fechaDetalhes()">
                    <i class="fa fa-times"></i>
                </button>
                <span translate>messages.campeonato_detalhes</span>
            </div>

            <div class="panel panel-primary">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title" translate>
                        messages.campeonatoAdmin_list
                    </h4>
                </div>
                <div class="panel-body">
                    <div class="row" ng-show="messages">
                        <div class="col-md-10 col-md-offset-2">
                                <div class="alert alert-danger">
                                    <ul>
                                        <li class="error" ng-repeat="message in messages">
                                            {{ message }}
                                        </li>
                                    </ul>
                                </div>
                        </div>
                    </div>

                    <div class="input-group">
                        <select id="novoAdministrador" class="form-control" ng-model="novoAdministrador"
                                ng-options="usuario.users_id as usuario.usuario for usuario in campeonatoUsuarios" required >
                        </select>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-success" ng-click="salvaAdministrador()">
                                <span class="glyphicon glyphicon-plus"></span>
                            </button>
                        </span>

                    </div>
                </div>

                <ul class="list-group" ng-repeat="administrador in campeonatoAdministradores | orderBy:'usuario'">
                    <div class="input-group">
                        <li class="list-group-item form-control">{{ administrador.usuario }}</li>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-danger" ng-click="excluiAdministrador(administrador.id)"
                                    tooltip="{{'messages.campeonatoAdmin_delete' | translate}}">
                                <i class="fa fa-trash-o fa-fw"></i>
                            </button>
                        </span>
                    </div>
                </ul>
                <br clear="all" />

            </div>

            <div class="panel panel-primary">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title" translate>
                        messages.campeonatoFase_list
                    </h4>
                </div>
                <div class="panel-body">
                    <div class="row" ng-show="messages">
                        <div class="col-md-10 col-md-offset-2">
                                <div class="alert alert-danger">
                                    <ul>
                                        <li class="error" ng-repeat="message in messages">
                                            {{ message }}
                                        </li>
                                    </ul>
                                </div>
                        </div>
                    </div>

                        <button type="button" class="btn btn-success btn-block" ng-click="adicionaFase()">
                            <span class="glyphicon glyphicon-plus"></span> <span translate>messages.campeonatoFase_add</span>
                        </button>
                </div>

                <ul class="list-group" ng-repeat="fase in campeonatoFases">
                    <div class="input-group">
                        <li class="list-group-item form-control" translate>{{ fase.descricao }}</li>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-info" ng-click="detalhesFase(fase.id, fase.descricao)"
                                    tooltip="{{'messages.campeonatoFase_detalhes_exibir' | translate}}">
                                <i class="fa fa-list fa-fw"></i>
                            </button>
                            <button type="button" class="btn btn-warning" ng-click="editaFase(fase.id)"
                                    tooltip="{{'messages.campeonatoFase_edit' | translate}}">
                                <i class="fa fa-pencil fa-fw"></i>
                            </button>
                            <button type="button" class="btn btn-danger" ng-click="excluiFase(fase.id)"
                                    tooltip="{{'messages.campeonatoFase_delete' | translate}}">
                                <i class="fa fa-trash-o fa-fw"></i>
                            </button>
                        </span>
                    </div>
                </ul>
                <br clear="all" />
            </div>
        </div>

    </div>
</div>
