<div class="row" ng-show="messages">
    <div class="col-md-9 col-md-offset-3">
        <div class="alert alert-danger">
            <ul>
                <li class="error" ng-repeat="message in messages">
                    {{ message | translate }}
                </li>
            </ul>
        </div>
    </div>
</div>

<form name="formulario" role="form" class="form-horizontal" novalidate="novalidate" ng-submit="iniciaFase()">
    <div class="form-group" ng-hide="campeonatoFaseSelecionada.aberta">
        <label for="data_fim" class="col-md-5 control-label" translate>fields.data_fim</label>
        <div class="col-md-7">
            <div class="input-group date">
                <input type="text" class="form-control" ng-model="dadosFase.data_fim" datepicker-popup="dd/MM/yyyy" is-open="openedFim" datepicker-options="dateOptions" ng-required="true" close-text="Close">
                <span class="input-group-addon"><i class="fa fa-calendar" ng-click="openCalendar($event, 'fim')"></i></span>
            </div>
        </div>
    </div>
    <div class="form-group" ng-hide="campeonatoFaseSelecionada.aberta">
        <label for="tipo_sorteio_matamata" class="col-md-5 control-label" translate>fields.tipo_sorteio_matamata</label>
        <div class="col-md-7">
            <select id="tipo_sorteio_matamata" class="form-control" ng-model="dadosFase.tipo_sorteio_matamata" required>
                <option value="aleatorio">fields.sorteio_aleatorio</option>
                <option value="geral">fields.sorteio_geral</option>
                <option value="grupo">fields.sorteio_grupo</option>
            </select>
        </div>
    </div>

    <button type="submit" class="btn btn-primary" ng-hide="campeonatoFaseSelecionada.aberta"><i class="fa fa-fw fa-unlock"></i><span translate>fields.fase_abrir</span></button>
    <button type="button" class="btn btn-primary" ng-click="encerraFase()" ng-show="campeonatoFaseSelecionada.aberta"><i class="fa fa-fw fa-lock"></i><span translate>fields.fase_fechar</span></button>
</form>
