<div class="modal inmodal" id="formModalFase" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated bounceInRight">
            <form name="formularioFase" role="form" class="form-horizontal" novalidate="novalidate" ng-submit="submitFase()">
                <div class="modal-header">
                    <h4 class="modal-title" translate="{{tituloModalFase}}"></h4>
                </div>
                <div class="modal-body">

                    <div class="row" ng-show="messageFase">
                        <div class="col-md-12">
                            <div class="alert alert-danger error">
                                {{ messageFase }}
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="descricao" class="col-md-3 control-label" translate>fields.descricao</label>
                        <div class="col-md-9">
                            <input type="text" id="descricao" class="form-control" ng-model="campeonatoFase.descricao" required />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="data_inicio" class="col-md-3 control-label" translate>fields.data_inicio</label>
                        <div class="col-md-9">
                            <input type="date" id="data_inicio" class="form-control" ng-model="campeonatoFase.data_inicio" required />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="data_fim" class="col-md-3 control-label" translate>fields.data_fim</label>
                        <div class="col-md-9">
                            <input type="date" id="data_fim" class="form-control" ng-model="campeonatoFase.data_fim" required />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="permite_empate" class="col-md-3 control-label" translate>
                            fields.permite_empate
                        </label>
                        <div class="col-md-9">
                            <label class="radio-inline">
                                <input icheck type="radio" id="permite_empate" ng-model="campeonatoFase.permite_empate" ng-value="true" required />
                                {{ 'messages.yes' | translate }}
                            </label>
                            <label class="radio-inline">
                                <input icheck type="radio" id="permite_empate" ng-model="campeonatoFase.permite_empate" ng-value="false" required />
                                {{ 'messages.no' | translate }}
                            </label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="quantidade_usuarios" class="col-md-3 control-label" translate>fields.quantidade_usuarios</label>
                        <div class="col-md-9">
                            <input type="number" id="quantidade_usuarios" class="form-control" ng-model="campeonatoFase.quantidade_usuarios" required />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inicial" class="col-md-3 control-label" translate>fields.fase_inicial</label>
                        <div class="col-md-9">
                            <input icheck type="checkbox" id="inicial" ng-model="campeonatoFase.inicial" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="final" class="col-md-3 control-label" translate>fields.fase_final</label>
                        <div class="col-md-9">
                           <input icheck type="checkbox" id="final" ng-model="campeonatoFase.final" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="fase_anterior" class="col-md-3 control-label" translate>fields.fase_anterior</label>
                        <div class="col-md-9">
                            <select id="fase_anterior" class="form-control" ng-model="campeonatoFase.fase_anterior_id"
                                    ng-options="fase.id as fase.descricao for fase in fases" ng-disabled="campeonatoFase.inicial" >
                            </select>
                        </div>
                    </div>

                    <div class="form-group" ng-hide="true">
                        <div class="col-md-9">
                                <input type="text" id="campeonatos_id" class="form-control" ng-model="campeonatoFase.campeonatos_id" required />
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" translate>fields.cancel</button>
                    <button type="submit" class="btn btn-primary" ng-show="novoItemFase" translate>fields.save</button>
                    <button type="submit" class="btn btn-primary" ng-hide="novoItemFase" translate>fields.update</button>
                </div>
            </form>
        </div>
    </div>
</div>
