<div flex layout="row" layout-margin hide-xs>
    <div flex class="caixa-flutuante" layout-padding>
        <md-card ng-init="vmCriarCampeonato.create()">
            <md-toolbar class="md-toolbar-tools">
                <h2>{{'messages.campeonato_create' | translate}}</h2>
            </md-toolbar>
            <md-card-content>
                <form name="formulario" role="form" class="form-horizontal" novalidate="novalidate">
                    <md-input-container class="md-block">
                        <label>{{'fields.descricao' | translate}}</label>
                        <input ng-model="vmCriarCampeonato.campeonato.descricao" required>
                    </md-input-container>

                    <md-input-container class="md-block" ng-hide="true">
                        <label>{{'fields.acesso' | translate}}</label>
                        <md-select ng-model="vmCriarCampeonato.campeonato.acesso_campeonato_id" required>
                            <md-option ng-repeat="tipoAcesso in vmCriarCampeonato.tiposDeAcessosDoCampeonato" ng-value="tipoAcesso.id">
                                {{tipoAcesso.descricao}}
                            </md-option>
                        </md-select>
                    </md-input-container>

                    <div layout="row">
                        <md-input-container class="md-block" flex="50">
                            <label>{{'fields.tipo_competidor' | translate}}</label>
                            <md-select ng-model="vmCriarCampeonato.tipo_competidor_id">
                                <md-option ng-value="1">
                                    {{'fields.individual' | translate}}
                                </md-option>
                                <md-option ng-value="2">
                                    {{'fields.equipe' | translate}}
                                </md-option>
                            </md-select>
                        </md-input-container>

                        <md-input-container class="md-block" ng-if="vmCriarCampeonato.tipo_competidor_id == 2" flex="50">
                            <label>{{'fields.quantidade_minima_usuarios' | translate}}</label>
                            <input type="number" ng-model="vmCriarCampeonato.campeonato.quantidade_minima_competidores" required>
                        </md-input-container>
                    </div>

                    <div layout-gt-xs="row">
                        <md-input-container flex-gt-xs="50">
                            <label>{{'fields.data_inicio' | translate}}</label>
                            <md-datepicker ng-model="vmCriarCampeonato.campeonato.fases.data_inicio" md-open-on-focus></md-datepicker>
                        </md-input-container>

                        <md-input-container flex-gt-xs="50">
                            <label>{{'fields.data_fim' | translate}}</label>
                            <md-datepicker ng-model="vmCriarCampeonato.campeonato.fases.data_fim" md-open-on-focus></md-datepicker>
                        </md-input-container>

                    </div>

                    <md-input-container class="md-block md-input-has-value">
                        <label class="m-b-lg">{{'fields.detalhes' | translate}}</label>
                        <div flex>
                            <textarea froala="vmCriarCampeonato.opcoesEditor" ng-model="vmCriarCampeonato.campeonato.regras"></textarea>
                        </div>
                    </md-input-container>
                    <div layout-gt-xs="row">

                        <md-input-container class="md-block" flex-gt-xs="33">
                            <label>{{'fields.plataformas_id' | translate}}</label>
                            <md-select ng-model="vmCriarCampeonato.campeonato.plataformas_id" ng-change="vmCriarCampeonato.carregaJogosDaPlataforma()" required>
                                <md-option ng-repeat="plataforma in vmCriarCampeonato.plataformas" ng-value="plataforma.id">
                                    {{plataforma.descricao}}
                                </md-option>
                            </md-select>
                        </md-input-container>

                        <md-input-container class="md-block" flex-gt-xs="33">
                            <label>{{'fields.jogos_id' | translate}}</label>
                            <md-select ng-model="vmCriarCampeonato.campeonato.jogos_id" ng-change="vmCriarCampeonato.carregaTiposDeCampeonatoDoJogo()" required ng-disabled="!vmCriarCampeonato.jogos.length">
                                <md-option ng-repeat="jogo in vmCriarCampeonato.jogos" ng-value="jogo.id">
                                    {{jogo.descricao}}
                                </md-option>
                            </md-select>
                        </md-input-container>

                        <md-input-container class="md-block" flex-gt-xs="33">
                            <label>{{'fields.campeonatotipos_id' | translate}}</label>
                            <md-select ng-model="vmCriarCampeonato.campeonato.campeonato_tipos_id" ng-change="vmCriarCampeonato.carregaDetalhesCampeonato()" required required ng-disabled="!vmCriarCampeonato.campeonatoTipos.length">
                                <md-option ng-repeat="campeonatoTipo in vmCriarCampeonato.campeonatoTipos" ng-value="campeonatoTipo.id">
                                    {{campeonatoTipo.descricao}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                    </div>

                    <div ng-include src="'app/components/campeonato_novo/' + vmCriarCampeonato.templateDetalhes" ng-if="vmCriarCampeonato.templateDetalhes"></div>

                    <md-card-actions layout="row" layout-align="end center">
                        <md-button ng-click="vmCriarCampeonato.cancel()">{{'fields.cancel' | translate}}</md-button>
                        <md-button ng-click="vmCriarCampeonato.salvarCampeonato()">{{'fields.save' | translate}}</md-button>
                    </md-card-actions>
                </form>
            </md-card-content>
        </md-card>
    </div>
</div>


<md-card ng-init="vmCriarCampeonato.create()" hide-gt-xs layout-fill>
    <md-toolbar class="md-toolbar-tools">
        <h2>{{'messages.campeonato_create' | translate}}</h2>
    </md-toolbar>
    <md-card-content class="m-n p-xs">
        <form name="formulario" role="form" class="form-horizontal" novalidate="novalidate">
            <md-input-container class="md-block">
                <label>{{'fields.descricao' | translate}}</label>
                <input ng-model="vmCriarCampeonato.campeonato.descricao" required>
            </md-input-container>

            <md-input-container class="md-block" ng-hide="true">
                <label>{{'fields.acesso' | translate}}</label>
                <md-select ng-model="vmCriarCampeonato.campeonato.acesso_campeonato_id" required>
                    <md-option ng-repeat="tipoAcesso in vmCriarCampeonato.tiposDeAcessosDoCampeonato" ng-value="tipoAcesso.id">
                        {{tipoAcesso.descricao}}
                    </md-option>
                </md-select>
            </md-input-container>

            <md-input-container class="md-block">
                <label>{{'fields.tipo_competidor' | translate}}</label>
                <md-select ng-model="vmCriarCampeonato.campeonato.tipo_competidor" required>
                    <md-option ng-value="individual">
                        {{'fields.individual' | translate}}
                    </md-option>
                    <md-option ng-value="equipe">
                        {{'fields.equipe' | translate}}
                    </md-option>
                </md-select>
            </md-input-container>

            <md-input-container class="md-block" ng-if="vmCriarCampeonato.campeonato.tipo_competidor == equipe">
                <label>{{'fields.quantidade_minima_usuarios' | translate}}</label>
                <input type="number" ng-model="vmCriarCampeonato.campeonato.quantidade_minima_competidores" required>
            </md-input-container>

            <md-input-container flex-gt-xs="50">
                <label>{{'fields.data_inicio' | translate}}</label>
                <md-datepicker ng-model="vmCriarCampeonato.campeonato.fases.data_inicio" md-open-on-focus></md-datepicker>
            </md-input-container>

            <md-input-container flex-gt-xs="50">
                <label>{{'fields.data_fim' | translate}}</label>
                <md-datepicker ng-model="vmCriarCampeonato.campeonato.fases.data_fim" md-open-on-focus></md-datepicker>
            </md-input-container>

            <md-input-container class="md-block md-input-has-value">
                <label class="m-b-lg">{{'fields.detalhes' | translate}}</label>
                <div flex>
                    <textarea froala="vmCriarCampeonato.opcoesEditor" ng-model="vmCriarCampeonato.campeonato.regras"></textarea>
                </div>
            </md-input-container>

            <md-input-container class="md-block">
                <label>{{'fields.plataformas_id' | translate}}</label>
                <md-select ng-model="vmCriarCampeonato.campeonato.plataformas_id" ng-change="vmCriarCampeonato.carregaJogosDaPlataforma()" required>
                    <md-option ng-repeat="plataforma in vmCriarCampeonato.plataformas" ng-value="plataforma.id">
                        {{plataforma.descricao}}
                    </md-option>
                </md-select>
            </md-input-container>

            <md-input-container class="md-block">
                <label>{{'fields.jogos_id' | translate}}</label>
                <md-select ng-model="vmCriarCampeonato.campeonato.jogos_id" ng-change="vmCriarCampeonato.carregaTiposDeCampeonatoDoJogo()" required>
                    <md-option ng-repeat="jogo in vmCriarCampeonato.jogos" ng-value="jogo.id">
                        {{jogo.descricao}}
                    </md-option>
                </md-select>
            </md-input-container>

            <md-input-container class="md-block">
                <label>{{'fields.campeonatotipos_id' | translate}}</label>
                <md-select ng-model="vmCriarCampeonato.campeonato.campeonato_tipos_id" ng-change="vmCriarCampeonato.carregaDetalhesCampeonato()" required>
                    <md-option ng-repeat="campeonatoTipo in vmCriarCampeonato.campeonatoTipos" ng-value="campeonatoTipo.id">
                        {{campeonatoTipo.descricao}}
                    </md-option>
                </md-select>
            </md-input-container>

            <div ng-include src="'app/components/campeonato_novo/' + vmCriarCampeonato.templateDetalhes" ng-if="vmCriarCampeonato.templateDetalhes"></div>

            <md-card-actions layout="row" layout-align="end center">
                <md-button ng-click="vmCriarCampeonato.cancel()">{{'fields.cancel' | translate}}</md-button>
                <md-button ng-click="vmCriarCampeonato.salvarCampeonato()">{{'fields.save' | translate}}</md-button>
            </md-card-actions>
        </form>
    </md-card-content>
</md-card>
