<div class="row" ng-controller="ProfileController">
    <div class="col-md-12">
        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-lg-10">
                <h2 translate>messages.titulo_dashboard</h2>
                <ol class="breadcrumb">
                    <li>
                        <a ui-sref="/">Home</a>
                    </li>
                    <li>
                        <a ui-sref="home" translate>menus.home</a>
                    </li>
                </ol>
            </div>
            <div class="col-lg-2">

            </div>
        </div>
        <div class="wrapper wrapper-content animated fadeIn">
            <div class="col-md-4" ng-include="'app/views/dashboard/profile.html'">
            </div>
            <div class="col-md-8">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        Próximas Partidas
                    </div>
                    <div class="panel-body">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et,
                            fringilla augue.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        Meus Campeonatos
                    </div>
                    <div class="panel-body">
                        <ul class="todo-list m-t small-list">
                            <li ng-repeat="campeonato in userCampeonatosInscritos">
                                {{ campeonato.descricao }}
                                <a ng-click="sairCampeonato(campeonato.id)" class="btn btn-xs btn-danger pull-right" translate> messages.desistir
								</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        Campeonatos Disponíveis
                    </div>
                    <div class="panel-body">
                        <ul class="todo-list m-t small-list">
                            <li ng-repeat="campeonato in userCampeonatosDisponiveis">
                                {{ campeonato.descricao }}
                                <a ng-click="inscreverCampeonato(campeonato.id)" class="btn btn-xs btn-success pull-right" translate> messages.inscrever
								</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
