<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul side-navigation class="nav" id="side-menu">
<!--            <li class="nav-header">

                <div class="dropdown profile-element">
                    <img alt="image" class="img-circle" src="img/profile_small.jpg"/>
                    <a class="dropdown-toggle" href>
                            <span class="clear">
                                <span class="block m-t-xs">
                                    <strong class="font-bold">{{main.userName}}</strong>
                             </span>
                                <span class="text-muted text-xs block">Example menu<b class="caret"></b></span>
                            </span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a href="">Logout</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    LV+
                </div>

            </li>
-->

            <li>
                <a ui-sref="home"><i class="fa fa-home"></i> <span class="nav-label" translate>menus.home</span> <span class="fa arrow"></span></a>
            </li>

            <li>
                <a href="#"><i class="fa fa-cog"></i> <span class="nav-label" translate>menus.config</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li><a ui-sref="campeonato"><i class="fa fa-trophy"></i><span translate>menus.campeonatos</span></a></li>
                    <li><a ui-sref="jogo"><i class="fa fa-shield"></i><span translate>menus.jogos</span></a></li>
                    <li><a ui-sref="plataforma"><i class="fa fa-gamepad"></i><span translate>menus.plataformas</span></a></li>
                    <li><a ui-sref="campeonatoTipo"><i class="fa fa-tag"></i><span translate>menus.campeonatoTipos</span></a></li>
                </ul>
            </li>

            <li>
                <a href="#"><i class="fa fa-users"></i> <span class="nav-label" translate>menus.acesso</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li><a ui-sref="usuario"><i class="fa fa-user"></i><span translate>menus.usuarios</span></a></li>
                    <li><a ui-sref="usuarioTipo"><i class="fa fa-list-alt"></i><span translate>menus.usuarioTipos</span></a></li>
                    <li><a ui-sref="menu"><i class="fa fa-navicon"></i><span translate>menus.menus</span></a></li>
                    <li><a ui-sref="permissao"><i class="fa fa-key"></i><span translate>menus.permissoes</span></a></li>

                </ul>
            </li>

            <li>
                <a href="#"><i class="fa fa-trophy"></i> <span class="nav-label" translate>menus.campeonatos</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li><a ui-sref="meus_campeonatos"><i class="fa fa-user"></i><span translate>menus.meus_campeonatos</span></a></li>
                    <li><a ui-sref="meus_campeonatos_disponiveis"><i class="fa fa-list-alt"></i><span translate>menus.campeonatos_disponiveis</span></a></li>
                    <li><a ui-sref="minhas_partidas"><i class="fa fa-user"></i><span translate>menus.minhas_partidas</span></a></li>
                </ul>
            </li>

        </ul>

    </div>
</nav>
