<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2 translate>messages.jogo_list</h2>
        <ol class="breadcrumb">
            <li>
                <a ui-sref="home">Home</a>
            </li>
            <li>
                <a translate>menus.config</a>
            </li>
            <li>
                <a ui-sref="jogo" translate>menus.jogos</a>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>

<div class="wrapper wrapper-content animated fadeIn">
    <div class="ibox-content">

        <p>
            <md-button class="md-primary md-raised" ng-click="vmJogo.create($event)">
                {{'messages.jogo_add' | translate}}
            </md-button>
        </p>

        <table class="table table-striped">
            <tr>
                <th translate>fields.descricao</th>
                <th translate>fields.imagem_capa</th>
                <th>&nbsp;</th>
            </tr>
            <tr ng-repeat="jogo in vmJogo.jogos">
                <td>{{ jogo.descricao }}</td>
                <td class="col-xs-2"><img ng-src="uploads/{{jogo.imagem_capa}}" class="img-responsive" /></td>
                <td class="btn-group" role="group">
                    <button type="button" class="btn btn-warning" ng-click="vmJogo.edit($event, jogo.id)" tooltip="{{'fields.edit' | translate}}">
                        <i class="fa fa-pencil fa-fw"></i>
                    </button>
                    <button type="button" class="btn btn-danger" ng-click="vmJogo.delete($event, jogo.id)" tooltip="{{'fields.delete' | translate}}">
                        <i class="fa fa-trash-o fa-fw"></i>
                    </button>
                </td>
            </tr>
        </table>

    </div>
</div>
