<div flex layout="row" layout-margin ng-init="vmJogo.inicializa()">

    <div flex="33" layout="column" class="caixa-flutuante infobar" layout-margin hide-xs>
        <!--        <div ng-include="'app/components/dashboard/mainNav.html'" layout-margin layout="column"></div>-->
        <div class="detalhes-jogo">
            <h3 class="titulo-jogo">{{vmJogo.jogo.descricao}}</h3>
            <img src="uploads/{{vmJogo.jogo.imagem_capa}}" alt="profile">
            <div layout="row" layout-align="space-around center">
                <span class="info">
                   <i class="material-icons">style</i>
                    {{vmJogo.jogo.genero}}
                </span>
                <span class="info">
                   <i class="material-icons">extension</i>
                   {{vmJogo.jogo.produtora}}
                </span>
                <span class="info">
                   <i class="material-icons">date_range</i>
                    {{vmJogo.exibeData(vmJogo.jogo.data_lancamento)}}
                </span>
            </div>
            <uib-rating ng-model="usuario.rating" class="user-rating" read-only="false" aria-labelledby="default-rating" state-on="'fa fa-star'" state-off="'fa fa-star-o'"></uib-rating>
        </div>
        <div class="caixa-informacao-titulo" ng-show="false">
            <h3>{{'messages.analises' | translate}}</h3>
            <a ui-sref=".analises">
                <i class="material-icons">more</i>
            </a>
        </div>
        <div class="caixa-informacao-titulo">
            <h3>{{'messages.campeonato_list' | translate}}</h3>
            <a ui-sref=".campeonatos">
                <i class="material-icons">more</i>
            </a>
        </div>
        <ul class="itens">
            <li ng-repeat="campeonato in vmJogo.campeonatos">
                <a ui-sref="campeonato({idCampeonato: campeonato.id})">{{campeonato.descricao}} <span class="pull-right">{{campeonato.plataforma}}</span> </a>
            </li>
        </ul>
        <div class="caixa-informacao-titulo" ng-show="false">
            <h3>{{'messages.melhores_jogadores' | translate}}</h3>
            <a ui-sref=".ranking">
                <i class="material-icons">more</i>
            </a>
        </div>
    </div>

    <div flex class="caixa-flutuante" ui-view layout="column" layout-margin>
        <div ng-include="'app/components/rede_social/feed.html'" layout="column" ng-controller="FeedController as vmFeed" ng-init="vmFeed.inicializa()"></div>
    </div>

</div>
