<md-dialog aria-label="{{tituloModal | translate}}">
    <form name="formulario" role="form" class="form-horizontal" novalidate="novalidate">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{tituloModal | translate}}</h2>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">

                <div class="row" ng-show="messages">
                    <div class="col-md-10 col-md-offset-2">
                        <div class="alert alert-danger">
                            <ul>
                                <li class="error" ng-repeat="message in messages">
                                    {{ message }}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="descricao" class="col-md-3 control-label" translate>fields.descricao</label>
                    <div class="col-md-9">
                        <input type="text" id="descricao" class="form-control" ng-model="usuarioTipo.descricao" required />
                    </div>
                </div>

                <div class="form-group">
                    <label for="prioridade" class="col-md-3 control-label" translate>fields.prioridade</label>
                    <div class="col-md-9">
                        <input type="number" id="prioridade" class="form-control" ng-model="usuarioTipo.prioridade" required />
                    </div>
                </div>

            </div>
            <md-dialog-actions layout="row">
                <md-button ng-click="cancel()">{{'fields.cancel' | translate}}</md-button>
                <md-button ng-click="save()" ng-show="novoItem">{{'fields.save' | translate}}</md-button>
                <md-button ng-click="update()" ng-hide="novoItem">{{'fields.update' | translate}}</md-button>
            </md-dialog-actions>
        </md-dialog-content>
    </form>
</md-dialog>
