<md-card>
    <md-toolbar class="md-toolbar-tools">
        <h2 translate>messages.usuarioTipo_list</h2>
        <span flex></span>
        <md-button class="md-raised" ng-click="vmUsuarioTipo.create($event)">
            {{'messages.usuarioTipo_add' | translate}}
        </md-button>
    </md-toolbar>
    <md-card-content>
        <table class="table">
            <tr>
                <th translate>fields.descricao</th>
                <th translate>fields.prioridade</th>
                <th>&nbsp;</th>
            </tr>
            <tr ng-repeat="usuarioTipo in vmUsuarioTipo.usuarioTipos">
                <td>{{ usuarioTipo.descricao }}</td>
                <td>{{ usuarioTipo.prioridade }}</td>
                <td class="btn-group" role="group">
                    <button type="button" class="btn btn-warning" ng-click="vmUsuarioTipo.edit($event, usuarioTipo.id)" tooltip="{{'fields.edit' | translate}}">
                        <i class="fa fa-pencil fa-fw"></i>
                    </button>
                    <button type="button" class="btn btn-danger" ng-click="vmUsuarioTipo.delete($event, usuarioTipo.id)" tooltip="{{'fields.delete' | translate}}">
                        <i class="fa fa-trash-o fa-fw"></i>
                    </button>
                </td>
            </tr>
        </table>
    </md-card-content>
</md-card>
