<md-card>
    <md-card-header md-colors="::{backgroundColor: 'player2-primary-300'}">
        <md-card-header-text>
            {{'messages.campeonato_detalhes' | translate}}
        </md-card-header-text>
    </md-card-header>
    <md-card-content layou-gt-xst="row" layout-margin disable-all="!vmCampeonato.campeonatoEditar.pode_editar">
        <div flex-gt-xs="70">
            <md-input-container class="md-block" ng-hide="true">
                <label>{{'fields.tipo_competidor' | translate}}</label>
                <md-select ng-model="vmCampeonato.campeonatoEditar.detalhes.tipo_competidor_id">
                    <md-option ng-repeat="tipoCompetidor in vmCampeonato.tiposDeCompetidores" ng-value="tipoCompetidor.id">
                        {{tipoCompetidor.descricao}}
                    </md-option>
                </md-select>
            </md-input-container>

            <md-input-container class="md-block md-input-has-value">
                <label>{{'fields.ida_volta' | translate}}</label>
                <md-radio-group ng-model="vmCampeonato.campeonatoEditar.detalhes.ida_volta" class="md-primary" layout="row" required>
                    <md-radio-button ng-value="true">{{ 'messages.yes' | translate }}</md-radio-button>
                    <md-radio-button ng-value="false"> {{ 'messages.no' | translate }} </md-radio-button>
                </md-radio-group>
            </md-input-container>
        </div>
        <div flex-gt-xs="50">
            <h4 class="text-center" translate>messages.pontuacaoRegra_list</h4>
            <div layout="row">
                <md-input-container class="md-block">
                    <label>{{'fields.vitoria' | translate}}</label>
                    <input type="number" ng-model="vmCampeonato.campeonatoEditar.pontuacao.vitoria" required>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>{{'fields.empate' | translate}}</label>
                    <input type="number" ng-model="vmCampeonato.campeonatoEditar.pontuacao.empate" required>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>{{'fields.derrota' | translate}}</label>
                    <input type="number" ng-model="vmCampeonato.campeonatoEditar.pontuacao.derrota" required>
                </md-input-container>
            </div>
            <h4 class="text-center" translate>messages.criterios_classificacao</h4>
            <ul class="todo-list m-t small-list">
                <li ng-repeat="criterio in vmCampeonato.campeonatoEditar.criterios" layout="row" layout-align="space-between center">
                    <span class="m-l-xs">{{$index+1}} - {{criterio.descricao}}</span>
                    <i class="material-icons" ng-click="vmCampeonato.removerCriterio(criterio.id)" ng-if="vmCampeonato.campeonatoEditar.pode_editar">delete</i>
                </li>
            </ul>

            <md-input-container md-no-float class="md-block" flex-gt-sm  ng-if="vmCampeonato.campeonatoEditar.pode_editar">
                <label>{{'messages.criterios_inserir' | translate}}</label>
                <md-select ng-model="vmCampeonato.novoCriterio" ng-change="vmCampeonato.adicionaNovoCriterio()">
                    <md-option ng-repeat="criterio in vmCampeonato.criteriosClassificacao" value="{{criterio}}">
                        {{criterio.descricao}}
                    </md-option>
                </md-select>
            </md-input-container>
        </div>
    </md-card-content>
</md-card>
