<div class="panel panel-primary">
	<div class="panel-heading" translate>
		messages.campeonato_detalhes
	</div>
	<div class="panel-body">
		<div class="col-md-7">
			<div class="form-group">
				<label for="tipo_competidor" class="col-md-8 control-label" translate>fields.tipo_competidor</label>
				<div class="col-md-4">
					<select id="jogos_id" class="form-control" ng-model="campeonato.detalhes.tipo_competidor" ng-options="jogo.id as jogo.descricao for jogo in jogos" required>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label for="quantidade_usuarios" class="col-md-8 control-label" translate>fields.quantidade_usuarios</label>
				<div class="col-md-4">
					<input type="number" id="quantidade_usuarios" class="form-control" ng-model="campeonato.detalhes.quantidade_usuarios" required>
				</div>
			</div>
			<div class="form-group">
				<label for="qtde_grupos" class="col-md-8 control-label" translate>fields.qtde_grupos</label>
				<div class="col-md-4">
					<input type="number" id="qtde_grupos" class="form-control" ng-model="campeonato.detalhes.qtde_grupos" required>
				</div>
			</div>
			<div class="form-group">
				<label for="qtde_classificados" class="col-md-8 control-label" translate>fields.qtde_classificados</label>
				<div class="col-md-4">
					<input type="number" id="qtde_classificados" class="form-control" ng-model="campeonato.detalhes.qtde_classificados" required>
				</div>
			</div>
			<div class="form-group">
				<label for="ida_volta" class="col-md-8 control-label" translate>fields.ida_volta</label>
				<div class="col-md-4">
					<label class="m-r m-b">
						<input icheck type="radio" id="ida_volta" ng-model="campeonato.detalhes.ida_volta" ng-value="true" required />
						{{ 'messages.yes' | translate }}
					</label>
					<label>
						<input icheck type="radio" id="ida_volta" ng-model="campeonato.detalhes.ida_volta" ng-value="false" required />
						{{ 'messages.no' | translate }}
					</label>
				</div>
			</div>
			<div class="form-group" ng-show="campeonato.detalhes.ida_volta">
				<label for="fora_casa" class="col-md-8 control-label" translate>fields.fora_casa</label>
				<div class="col-md-4">
					<label class="m-r m-b">
						<input icheck type="radio" id="fora_casa" ng-model="campeonato.detalhes.fora_casa" ng-value="true" /> {{ 'messages.yes' | translate }}
					</label>
					<label>
						<input icheck type="radio" id="fora_casa" ng-model="campeonato.detalhes.fora_casa" ng-value="false" /> {{ 'messages.no' | translate }}
					</label>
				</div>
			</div>
		</div>
		<div class="col-md-5">
			<h4 class="text-center" translate>messages.pontuacaoRegra_list</h4>
			<div class="row">
				<div class="col-md-4  text-center">
					<label for="vitoria" class="control-label" translate>fields.vitoria</label>
				</div>
				<div class="col-md-4 text-center">
					<label for="empate" class="control-label" translate>fields.empate</label>
				</div>
				<div class="col-md-4 text-center">
					<label for="derrota" class="control-label" translate>fields.derrota</label>
				</div>
			</div>
			<div class="form-group">
				<div class="col-md-4">
					<input type="number" id="vitoria" class="form-control" ng-model="campeonato.detalhes.vitoria" required>
				</div>
				<div class="col-md-4">
					<input type="number" id="empate" class="form-control" ng-model="campeonato.detalhes.empate" required>
				</div>
				<div class="col-md-4">
					<input type="number" id="derrota" class="form-control" ng-model="campeonato.detalhes.derrota" required>
				</div>
			</div>
			<h4 class="text-center" translate>messages.criterios_classificacao</h4>
			<div>
				<ul ng-sortable="barConfig" class="todo-list m-t small-list">
					<li ng-repeat="item in items">
						<checkbox ng-model="campeonato.criteriosClassificacao[item]"></checkbox>
						<span class="m-l-xs">{{item}}</span>
					</li>
				</ul>
			</div>
				{{campeonato.criteriosClassificacao}}
				###
				{{items}}
		</div>
	</div>
</div>
