<div class="panel panel-primary">
	<div class="panel-heading" translate>
		messages.campeonato_detalhes
	</div>
	<div class="panel-body">
		<div class="col-md-7">
			<div class="form-group">
				<label for="tipo_competidor_id" class="col-md-8 control-label" translate>fields.tipo_competidor</label>
				<div class="col-md-4">
					<select id="tipo_competidor_id" class="form-control" ng-model="campeonato.detalhes.tipo_competidor_id" ng-options="tipoCompetidor.id as tipoCompetidor.descricao for tipoCompetidor in tiposDeCompetidores" required>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label for="quantidade_competidores" class="col-md-8 control-label" translate>fields.quantidade_usuarios</label>
				<div class="col-md-4">
					<input type="number" id="quantidade_competidores" class="form-control" ng-model="campeonato.detalhes.quantidade_competidores" required>
				</div>
			</div>
			<div class="form-group">
				<label for="ida_volta" class="col-md-8 control-label" translate>fields.ida_volta</label>
				<div class="col-md-4">
					<label class="m-r m-b">
						<input icheck type="radio" id="ida_volta" ng-model="campeonato.detalhes.ida_volta" ng-value="true" required />
						{{ 'messages.yes' | translate }}
					</label>
					<label>
						<input icheck type="radio" id="ida_volta" ng-model="campeonato.detalhes.ida_volta" ng-value="false" required />
						{{ 'messages.no' | translate }}
					</label>
				</div>
			</div>
			<div class="form-group" ng-show="campeonato.detalhes.ida_volta">
				<label for="fora_casa" class="col-md-8 control-label" translate>fields.fora_casa</label>
				<div class="col-md-4">
					<label class="m-r m-b">
						<input icheck type="radio" id="fora_casa" ng-model="campeonato.detalhes.fora_casa" ng-value="true" /> {{ 'messages.yes' | translate }}
					</label>
					<label>
						<input icheck type="radio" id="fora_casa" ng-model="campeonato.detalhes.fora_casa" ng-value="false" /> {{ 'messages.no' | translate }}
					</label>
				</div>
			</div>
		</div>
	</div>
</div>
