<div class="row">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content">
            <div class="middle-box text-center animated fadeInRightBig">
                <h2 class="font-bold" translate>messages.acesso_nao_autorizado_titulo</h3>

                <div class="error-desc">
                    <span translate>messages.acesso_nao_autorizado_explicacao</span>
                    <br/><a ui-sref="home" class="btn btn-primary m-t" translate>messages.minha_pagina</a>
                </div>
            </div>
        </div>
    </div>
</div>
