<div class="modal fade" id="confirmaModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{ mensagemModal | translate }}</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" translate>messages.no</button>
                <button type="submit" class="btn btn-primary" ng-click="confirmacaoModal(idRegistro)" translate>messages.yes</button>
            </div>
        </div>
    </div>
</div>
