// out: null
figure.foto_perfil {
    position: relative;
}
figure.foto_perfil img {
    display: block;
}
figure.foto_perfil figcaption {
    bottom: 0;
    margin: 0;
    position: absolute;
    width: 100%;
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.5);
    color: rgba(255, 255, 255, 0.5);
}
figure.foto_perfil figcaption:hover {
    background-color: rgba(255, 255, 255, 0.9);
    font-size: 120%;
}
figure.foto_perfil figcaption a {
    display: block;
    padding: 5px;
}
figure.foto_perfil figcaption a:hover {
    padding: 10px;
}

/* Tabela, Placar, Etc */

input.placar-input {
    border: 0;
    display: inline-block;
    width: 28px;
    box-shadow: inset 0 0 3px #ccc;
    border: 1px solid #CCC;
    vertical-align: middle;
    text-align: center;
    font-size: 20px;
}
.has-feedback .form-control {
    padding-right: inherit;
}
.tabela-navegacao-fases,
.tabela-navegacao-rodadas {
    /* Font & Text */
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
    /* Box */
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid rgb(192, 192, 192);
    margin-bottom: 40px;
    /* Positioning */
    position: relative;
    display: block;
}
.tabela-navegacao-fases i {
    line-height: 40px;
}
.tabela-navegacao-rodadas {
    font-size: 15px;
    margin-bottom: 0;
    height: 30px;
    line-height: 30px;
}
.tabela-navegacao-rodadas i {
    line-height: 30px;
}
.tabela-head-linha {
    height: 30px;
    line-height: 30px;
}
.tabela-head-linha th {
    padding-bottom: 0 !important;
}
.tabela-classificacao {
    /*	background-color: chartreuse;*/
    border-bottom: 1px solid rgb(192, 192, 192);
}
.placar-jogo-equipes,
.placar-jogo-equipes-matamata {
    color: #333;
    font-size: 18px;
    border-bottom: 1px solid rgb(192, 192, 192);
    height: 70px;
    line-height: 70px;
    text-transform: uppercase;
    padding: 0;
}
.placar-jogo-equipes-matamata {
    border: 1px solid rgb(192, 192, 192);
    margin: -1px 0 0 -1px;
    overflow: hidden;
    background: white;
}
.placar-jogo-equipes-mandante,
.placar-jogo-equipes-visitante,
.placar-jogo-equipes-placar {
    padding: 0;
}
.placar-jogo-equipes-mandante,
.placar-jogo-equipes-placar-mandante {
    text-align: right;
}
.placar-jogo-equipes-visitante,
.placar-jogo-equipes-placar-visitante {
    text-align: left;
}
.placar-jogo-equipes-placar-matamata {
    text-align: center;
    height: 70px;
    line-height: 70px;
    border: 1px solid rgb(192, 192, 192);
    margin: -1px 0 0 -1px;
    /*    background: #eee;*/
    background-image: linear-gradient(to bottom, white, #ddd);
}
.placar-jogo-equipes-sigla {
    /*	line-height: 70px;*/
}
.placar-jogo-equipes-escudo-mandante,
.placar-jogo-equipes-escudo-visitante {
    height: 25px;
    width: 25px;
}
.placar-jogo-equipes-escudo-mandante {
    margin: 0 8px;
}
.placar-jogo-equipes-escudo-visitante {
    margin: 0 8px
}
.placar-jogo-equipes-placar-mandante,
.placar-jogo-equipes-placar-visitante,
.placar-jogo-equipes-placar-matamata {
    padding: 0;
    font-size: 28px;
    font-weight: bold;
}
.info-jogo {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 8px;
    display: block;
}
.grupo-matamata {
    margin-bottom: 20px;
}
.lista-de-jogos-item {
    background: white;
    margin-left: 0;
}
.mata-conector1 {
    border: 1px solid rgb(192, 192, 192);
    height: 187px;
    /*	position: absolute;*/
    /*	width: 100%;*/
    margin-top: -256px;
    margin-right: 5%;
    border-left: 0;
    background: transparent;
    z-index: -3;
}
.mata-conector2 {
    background: rgb(192, 192, 192);
    height: 1px;
    width: 5%;
    /*	position: absolute;*/
    margin-top: -95px;
    margin-right: 0;
    z-index: -3;
    float: right;
}
.tabela-versus i {
    width: 100%;
}
a.disabled {
    color: #999999;
}
a.disabled:hover {
    text-decoration: none;
    cursor: default;
    background-color: transparent;
}
.gamertag-element img {
    height: 30px;
}
.md-dialog-container {
    width: 100%;
    height: 100%;
    top: 0 !important;
    bottom: 0px;
    left: 0px !important;
    position: fixed;
}
md-menu-item > a.md-button {
    padding-top: 0;
}
.header-profile {
    // cor base: 0088A6
    background-color: #BA68C8;
}
.profile-image {
    margin: 10px;
}
#botao-seguir {
    position: static;
    bottom: 0;
}
.user-rating {
    color: yellow;
    font-size: 3em;
    text-align: center;
}
textarea {
    resize: none;
}
.escrever_post {
    md-card-header {
        padding: 0;
        margin: 8px 16px 0;
    }
    md-card-content {
        margin: 0 16px;
        padding: 8px 0;
        border-top: 1px solid #e5e6e7;
        border-bottom: 1px solid #e5e6e7;
    }
    textarea {
        border: none;
    }
    img {
        height: 40px;
        width: 40px;
    }
}
.curtiu,
.curtiu:hover,
.curtiu:focus,
.curtiu:active {
    color: @link-color;
}
.dropdown {
    .md-fab-top-right {
        top: 0;
        right: 0;
    }
}
