<div ng-init="vmAuth.inicializa()" class="box_login" layout="column" layout-align="end center" layout-margin>
    <div class="middle-box text-center loginscreen animated fadeInDown">
        <div class="header">
            <div class="logo">
                <img src="assets/images/player2_branca.png" alt="" class="img_login">
            </div>
        </div>
        <div class="body-login">
            <form class="m-t" role="form" name="vmAuth.formLogin" ng-submit="vmAuth.login()">
                <div class="form-group">
                    <input type="email" class="form-control" name="username" placeholder="{{'fields.login' | translate}}" required="" ng-model="vmAuth.user.username">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" name="password" placeholder="{{'fields.password' | translate}}" required="" ng-model="vmAuth.user.password">
                </div>
                <md-button type="submit" class="md-raised md-primary block full-width m-l-none m-r-none m-b">{{'messages.fazer_login' | translate}}</md-button>
    
                <a ui-sref="recuperar_senha"><small>{{'messages.esqueceu_senha' | translate}}</small></a>
                <p class="text-muted text-center m-t"><small>{{'messages.sem_conta' | translate}}</small></p>
                <a class="btn btn-sm btn-white btn-block" href="register.html">{{'messages.criar_conta' | translate}}</a>
            </form>
        </div>
        <div class="footer-login">
            <p class="m-t"> <small>player2.club &copy; 2017</small> </p>
        </div>
    </div>
</div>