<md-card ng-repeat="post in vmProfile.posts">
    <div class="social-avatar">
        <a href="" class="pull-left">
            <img alt="image" src="uploads/usuarios/{{post.usuario.imagem_perfil}}">
        </a>
        <div class="media-body">
            <a ui-sref="profile({idUsuario: post.usuario.id})">
                                        {{post.usuario.nome}}
                                    </a>
            <small class="text-muted">{{post.created_at}}</small>
        </div>
    </div>
    <div class="social-body">
        <p>
            {{post.texto}}
        </p>
        <p ng-show="post.quantidade_curtidas">
            <a class="small"><i class="fa fa-thumbs-up"></i> {{post.quantidade_curtidas}} {{'messages.curtiram' | translate}}!</a>
        </p>

        <div class="btn-group">
            <button class="btn btn-white btn-xs" ng-click="vmProfile.curtirPost(post)"><i class="fa fa-thumbs-up"></i> {{ 'messages.curtir' | translate}}</button>
            <button class="btn btn-white btn-xs"><i class="fa fa-comments"></i> {{ 'messages.comentar' | translate}}</button>
            <button class="btn btn-white btn-xs"><i class="fa fa-share"></i> {{ 'messages.compartilhar' | translate}}</button>
        </div>
    </div>
    <div class="social-footer">
        <div class="social-comment" ng-repeat="comentario in post.comentarios">
            <a href="" class="pull-left">
                <img alt="image" src="uploads/usuarios/{{comentario.usuario.imagem_perfil}}">
            </a>
            <div class="media-body">
                <a href="#">{{comentario.usuario.nome}}</a> {{comentario.texto}}
                <br>
                <button class="btn btn-white btn-xs" ng-click="vmProfile.curtirComentario(comentario)"><i class="fa fa-thumbs-up"></i></button>
                <a href="#" class="small" ng-show="comentario.quantidade_curtidas">
                    {{comentario.quantidade_curtidas}} {{'messages.curtiram' | translate}}!
                </a>
                <small class="text-muted">{{comentario.created_at}}</small>
            </div>
        </div>

        <div class="social-comment">
            <a href="" class="pull-left">
                <img alt="image" src="http://localhost/player2/public/uploads/usuarios/usuario_14252158119037.jpg">
            </a>
            <div class="media-body">
                <textarea class="form-control" placeholder="{{'messages.escrever_comentario' | translate}}" ng-keypress="vmProfile.salvarComentario($event, post)" ng-model="post.novoComentario"></textarea>
            </div>
        </div>

    </div>
    <div></div>
</md-card>
