<md-card ng-repeat="post in vmProfile.posts">
</md-card>
<md-card>
    <div class="social-avatar">
        <a href="" class="pull-left">
            <img alt="image" src="{{post.usuario.imagem_perfil}}">
        </a>
        <div class="media-body">
            <a href="#">
                                        {{post.usuario.nome}}
                                    </a>
            <small class="text-muted">{{post.created_at}}</small>
        </div>
    </div>
    <div class="social-body">
        <p>
            {{post.texto}}
        </p>

        <div class="btn-group">
            <button class="btn btn-white btn-xs"><i class="fa fa-thumbs-up"></i> {{ messages.curtir | translate}}</button>
            <button class="btn btn-white btn-xs"><i class="fa fa-comments"></i> {{ messages.comentar | translate}}</button>
            <button class="btn btn-white btn-xs"><i class="fa fa-share"></i> {{ messages.compartilhar | translate}}</button>
        </div>
    </div>
    <div class="social-footer">
        <div class="social-comment" ng-repeat="comentario in post.comentarios">
            <a href="" class="pull-left">
                <img alt="image" src="{{comentario.usuario.imagem_perfil}}">
            </a>
            <div class="media-body">
                <a href="#">{{comentário.usuario.nome}}</a> {{comentario.texto}}
                <br>
                <a href="#" class="small"><i class="fa fa-thumbs-up"></i> 26 Like this!</a> -
                <small class="text-muted">{{comentario.created_at}}</small>
            </div>
        </div>

        <div class="social-comment">
            <a href="" class="pull-left">
                <img alt="image" src="http://localhost/player2/public/uploads/usuarios/usuario_14252158119037.jpg">
            </a>
            <div class="media-body">
                <textarea class="form-control" placeholder="Write comment..."></textarea>
            </div>
        </div>

    </div>

</md-card>
