<div hide-xs layout="row" layout-wrap class="header-profile" layout-align="space-between end" style="background-image: url('uploads/usuarios/capa/{{vmProfile.usuario.imagem_capa}}');">
    <div layout="row" layout-align="start end">
        <div class="profile-image">
            <a ui-sref="profile({idUsuario: vmProfile.usuario.id})">
                <img src="uploads/usuarios/{{vmProfile.usuario.imagem_perfil}}" class="img-circle circle-border" alt="profile">
            </a>
        </div>
        <div class="profile-info">
            <div>
                <h2 class="no-margins">
                        {{vmProfile.usuario.nome}} {{idUsuario}}
                    </h2>
                <h4>{{vmProfile.usuario.sigla}}</h4>
                <small hide-sm>
                    {{vmProfile.usuario.descricao}}
                </small>
            </div>
        </div>
    </div>
    <div>
        <md-button id="botao-seguir" class="md-raised md-accent" ng-click="vmProfile.seguir()" ng-hide="vmProfile.usuario.seguido || vmProfile.usuario.id == usuarioLogado.id"><i class="fa fa-user-plus" aria-hidden="true"></i> {{'messages.seguir' | translate}}
        </md-button>
        <md-button id="botao-seguir" class="md-raised md-warn" ng-click="vmProfile.deixarDeSeguir()" ng-show="vmProfile.usuario.seguido"><i class="fa fa-users" aria-hidden="true"></i> {{'messages.seguindo' | translate}}</md-button>
    </div>
    <!--    <div class="coverBorder"></div>-->

</div>

<div flex layout="row" layout-margin hide-xs>
    <div flex class="caixa-flutuante" ui-view layout="column" layout-margin>
        <div ng-include="'app/components/rede_social/feed.html'" layout="column" ng-controller="FeedController as vmFeed" infinite-scroll="vmFeed.feedFactory.proximaPagina()" infinite-scroll-disabled='vmFeed.feedFactory.ocupado || telaMobile' infinite-scroll-distance='0.2'></div>
    </div>

    <div flex="20" layout="column" class="caixa-flutuante" layout-margin>
        <div class="caixa-informacao-titulo">
            <h3>{{'messages.usuario_gamertags' | translate}}</h3>
        </div>
        <md-card class="caixa-informacao">
            <div class="m-xs">
                <md-list-item ng-repeat="gamertag in vmProfile.gamertags">
                    <img src="uploads/{{gamertag.imagem_plataforma}}" class="m-r m-l-n-sm" alt=""> {{gamertag.gamertag}}
                </md-list-item>
            </div>
        </md-card>
        <div class="caixa-informacao-titulo">
            <h3>{{'messages.seguindo' | translate}}</h3>
            <a ui-sref=".seguindo">
                <i class="material-icons">more</i>
            </a>
        </div>
        <md-card class="caixa-informacao">
            <div class="m-xs">
                <a ui-sref="profile({idUsuario: seguindo.id}) " ng-repeat="seguindo in vmProfile.usuario.seguindo">
                    <img src="uploads/usuarios/{{seguindo.imagem_perfil}} " alt="{{seguindo.nome}} " class="img-circle circle-border-sm img-md m-sm">
                    <md-tooltip md-direction="top ">
                        {{seguindo.nome}}
                    </md-tooltip>
                </a>
            </div>
        </md-card>
        <div class="caixa-informacao-titulo">
            <h3>{{'messages.seguidores' | translate}}</h3>
            <a ui-sref=".seguidores">
                <i class="material-icons">more</i>
            </a>
        </div>
        <md-card class="caixa-informacao">
            <div class="m-xs">
                <a ui-sref="profile({idUsuario: seguidor.id}) " ng-repeat="seguidor in vmProfile.usuario.seguidores">
                    <img src="uploads/usuarios/{{seguidor.imagem_perfil}} " alt="{{seguidor.nome}} " class="img-circle circle-border-sm img-md m-sm">
                    <md-tooltip md-direction="top ">
                        {{seguidor.nome}}
                    </md-tooltip>
                </a>
            </div>
        </md-card>

        <div class="caixa-informacao-titulo">
            <h3>{{'messages.jogo_list' | translate}}</h3>
        </div>
        <md-card class="caixa-informacao">
            <div class="m-xs">
                <a ui-sref="jogo({idJogo: jogo.id})" ng-repeat="jogo in vmProfile.usuario.jogos">
                    <img src="uploads/{{jogo.imagem_capa}} " alt="{{jogo.descricao}} " class="img-circle img-md m-sm">
                    <md-tooltip md-direction="top ">
                        {{jogo.descricao}}
                    </md-tooltip>
                </a>
            </div>

        </md-card>

        <div class="caixa-informacao-titulo">
            <h3>{{'messages.campeonato_list' | translate}}</h3>
            <a ui-sref=".campeonatos">
                <i class="material-icons">more</i>
            </a>
        </div>
        <md-card class="caixa-informacao">
            <div class="m-xs">
                <md-list-item ng-repeat="campeonato in vmProfile.campeonatosDoUsuario" ng-click="vmProfile.carregaCampeonato(campeonato.id)">
                    <i class="fa fa-gamepad fa-fw fa-2x m-r-xs m-l-n-sm" aria-hidden="true"></i> {{campeonato.descricao}}
                </md-list-item>
            </div>
        </md-card>
    </div>

</div>


<!--Tela Mobile-->
<div hide-gt-xs layout="column" layout-wrap class="header-profile no-padding" style="background-image: url('uploads/usuarios/capa/{{vmProfile.usuario.imagem_capa}}');" layout-align="start center">
    <div class="profile-info m-t-sm">
        <div>
            <h2 class="no-margins">
                {{vmProfile.usuario.nome}} {{idUsuario}}
            </h2>
        </div>
    </div>
    <div class="profile-image">
        <a ui-sref="profile({idUsuario: vmProfile.usuario.id})">
            <img src="uploads/usuarios/{{vmProfile.usuario.imagem_perfil}}" class="img-circle circle-border" alt="profile">
        </a>
    </div>
    <md-button id="botao-seguir" class="md-raised md-accent" ng-click="vmProfile.seguir()" ng-hide="vmProfile.usuario.seguido || vmProfile.usuario.id == usuarioLogado.id"><i class="fa fa-user-plus" aria-hidden="true"></i> {{'messages.seguir' | translate}}
    </md-button>
    <md-button id="botao-seguir" class="md-raised md-warn" ng-click="vmProfile.deixarDeSeguir()" ng-show="vmProfile.usuario.seguido"><i class="fa fa-users" aria-hidden="true"></i> {{'messages.seguindo' | translate}}</md-button>
    <!--    <div class="coverBorder"></div>-->
</div>

<div hide-gt-xs>
    <md-card class="caixa-informacao m-l-n m-r-n p-w-sm">
        <md-card-title md-colors="::{backgroundColor: 'primary'}">
            <md-card-title-text layout="row" layout-align="start center">
                <i class="material-icons m-r-sm md-primary">gamepad</i> {{'messages.usuario_gamertags' | translate}}
            </md-card-title-text>
        </md-card-title>
        <div class="m-xs">
            <md-list-item ng-repeat="gamertag in vmProfile.gamertags" md-colors="::{backgroundColor: 'background-300'}">
                <img src="uploads/{{gamertag.imagem_plataforma}}" class="m-r m-l-n-sm" alt=""> {{gamertag.gamertag}}
            </md-list-item>
        </div>
    </md-card>

    <md-card class="caixa-informacao m-l-n m-r-n p-w-sm">
        <md-card-title md-colors="::{backgroundColor: 'primary'}">
            <md-card-title-text layout="row" layout-align="start center">
                <i class="material-icons m-r-sm md-primary">people</i>{{'messages.seguindo' | translate}}
            </md-card-title-text>
        </md-card-title>
        <div class="m-xxs">
            <a ui-sref="profile({idUsuario: seguindo.id}) " ng-repeat="seguindo in vmProfile.usuario.seguindo">
                <img src="uploads/usuarios/{{seguindo.imagem_perfil}} " alt="{{seguindo.nome}} " class="img-circle circle-border-sm img-md m-xxs">
                <md-tooltip md-direction="top ">
                    {{seguindo.nome}}
                </md-tooltip>
            </a>
        </div>
    </md-card>

    <md-card class="caixa-informacao m-l-n m-r-n p-w-sm">
        <md-card-title md-colors="::{backgroundColor: 'primary'}">
            <md-card-title-text layout="row" layout-align="start center">
                <i class="material-icons m-r-sm md-primary">record_voice_over</i>{{'messages.seguidores' | translate}}
            </md-card-title-text>
        </md-card-title>
        <div class="m-xxs">
            <a ui-sref="profile({idUsuario: seguidor.id}) " ng-repeat="seguidor in vmProfile.usuario.seguidores">
                <img src="uploads/usuarios/{{seguidor.imagem_perfil}} " alt="{{seguidor.nome}} " class="img-circle circle-border-sm img-md m-xxs">
                <md-tooltip md-direction="top ">
                    {{seguidor.nome}}
                </md-tooltip>
            </a>
        </div>
    </md-card>


    <md-card class="caixa-informacao m-l-n m-r-n p-w-sm">
        <md-card-title md-colors="::{backgroundColor: 'primary'}">
            <md-card-title-text layout="row" layout-align="start center">
                <i class="material-icons m-r-sm md-primary">videogame_asset</i>{{'messages.jogo_list' | translate}}
            </md-card-title-text>
        </md-card-title>
        <div class="m-xxs">
            <a ui-sref="jogo({idJogo: jogo.id})" ng-repeat="jogo in vmProfile.usuario.jogos">
                <img src="uploads/{{jogo.imagem_capa}} " alt="{{jogo.descricao}} " class="img-circle img-md m-xxs">
                <md-tooltip md-direction="top ">
                    {{jogo.descricao}}
                </md-tooltip>
            </a>
        </div>
    </md-card>

    <md-card class="caixa-informacao m-l-n m-r-n p-w-sm">
        <md-card-title md-colors="::{backgroundColor: 'primary'}">
            <md-card-title-text layout="row" layout-align="start center">
                <i class="material-icons m-r-sm md-primary">format_list_numbered</i>{{'messages.campeonato_list' | translate}}
            </md-card-title-text>
        </md-card-title>
        <div class="m-xs">
            <md-list-item ng-repeat="campeonato in vmProfile.campeonatosDoUsuario" ng-click="vmProfile.carregaCampeonato(campeonato.id)" class="m-b-xxs" md-colors="::{backgroundColor: 'background-300'}">
                <i class="fa fa-gamepad fa-fw fa-2x m-r-xs m-l-n-sm" aria-hidden="true"></i> {{campeonato.descricao}}
            </md-list-item>
        </div>
    </md-card>


    <div ui-view layout="column" layout-fill class="m-t-md">
        <div ng-include="'app/components/rede_social/feed.html'" layout="column" ng-controller="FeedController as vmFeed" infinite-scroll="vmFeed.feedFactory.proximaPagina()" infinite-scroll-disabled='vmFeed.feedFactory.ocupado || !telaMobile' infinite-scroll-distance='0.2'></div>
    </div>
</div>
