<div flex>
    <div flex layout="row" layout-wrap class="header-profile" layout-align="start center" style="background-image: url('uploads/usuarios/capa/{{vmProfile.usuario.imagem_capa}}');">
        <div class="profile-image">
            <img src="uploads/usuarios/{{vmProfile.usuario.imagem_perfil}}" class="img-circle circle-border m-b-md" alt="profile">
        </div>
        <div class="profile-info">
            <div class="">
                <div>
                    <h2 class="no-margins">
                {{vmProfile.usuario.nome}} {{idUsuario}}
            </h2>
                    <h4>{{vmProfile.usuario.sigla}}</h4>
                    <small>
                {{vmProfile.usuario.descricao}}
            </small>
                </div>
            </div>
        </div>
        <span flex></span>
        <md-button id="botao-seguir" class="md-raised md-primary" ng-click="vmProfile.seguir()" ng-hide="vmProfile.usuario.seguido || vmProfile.usuario.id == usuarioLogado.id"><i class="fa fa-user-plus" aria-hidden="true"></i> {{'messages.seguir' | translate}}
        </md-button>
        <md-button id="botao-seguir" class="md-raised md-accent" ng-click="vmProfile.deixarDeSeguir()" ng-show="vmProfile.usuario.seguido"><i class="fa fa-users" aria-hidden="true"></i> {{'messages.seguindo' | translate}}</md-button>

    </div>

    <div flex layout="row">
        <div flex ng-include="'app/components/profile/feed.html'"></div>

        <md-sidenav md-is-locked-open="true" class="md-whiteframe-1dp" hide-xs>
            <md-content layout-margin>
                <md-list layout-margin>
                    <div md-whiteframe="1">
                        <md-subheader class="md-no-sticky">{{'messages.campeonato_list' | translate}}</md-subheader>
                        <md-list-item ng-repeat="campeonato in vmProfile.campeonatosDoUsuario" ng-click="vmProfile.carregaCampeonato(campeonato.id)">
                            {{campeonato.descricao}}
                        </md-list-item>
                    </div>
                    <div md-whiteframe=" 1 ">
                        <md-subheader>{{'messages.jogo_list' | translate}}</md-subheader>
                        <md-list-item>
                            <div class="m-xs">
                                <a ui-sref="jogo({idJogo: jogo.id})" ng-repeat="jogo in vmProfile.usuario.jogos">
                                    <img src="uploads/{{jogo.imagem_capa}} " alt="{{jogo.descricao}} " class="img-circle img-md m-xs">
                                    <md-tooltip md-direction="top ">
                                        {{jogo.descricao}}
                                    </md-tooltip>
                                </a>
                            </div>
                        </md-list-item>
                    </div>
                    <div md-whiteframe="1 ">
                        <md-subheader class="md-no-sticky ">{{'messages.seguindo' | translate}}</md-subheader>
                        <md-list-item>
                            <div class="m-xs">
                                <a ui-sref="profile({idUsuario: seguindo.id}) " ng-repeat="seguindo in vmProfile.usuario.seguindo">
                                    <img src="uploads/usuarios/{{seguindo.imagem_perfil}} " alt="{{seguindo.nome}} " class="img-circle img-md m-xs">
                                    <md-tooltip md-direction="top ">
                                        {{seguindo.nome}}
                                    </md-tooltip>
                                </a>
                            </div>
                        </md-list-item>
                    </div>
                    <div md-whiteframe="1 ">
                        <md-subheader class="md-no-sticky ">{{'messages.seguidores' | translate}}</md-subheader>
                        <md-list-item>
                            <div class="m-xs">
                                <a ui-sref="profile({idUsuario: seguidor.id}) " ng-repeat="seguidor in vmProfile.usuario.seguidores">
                                    <img src="uploads/usuarios/{{seguidor.imagem_perfil}} " alt="{{seguidor.nome}} " class="img-circle img-md m-xs">
                                    <md-tooltip md-direction="top ">
                                        {{seguidor.nome}}
                                    </md-tooltip>
                                </a>
                            </div>
                        </md-list-item>
                    </div>
                </md-list>
            </md-content>
        </md-sidenav>


    </div>

</div>
