<div flex layout="row" layout-wrap class="header-profile" layout-align="start end" style="background-image: url('uploads/usuarios/capa/{{vmProfile.usuario.imagem_capa}}');">
    <div class="profile-image">
        <img src="uploads/usuarios/{{vmProfile.usuario.imagem_perfil}}" class="img-circle circle-border" alt="profile">
    </div>
    <div class="profile-info">
        <div class="">
            <div>
                <h2 class="no-margins">
                        {{vmProfile.usuario.nome}} {{idUsuario}}
                    </h2>
                <h4>{{vmProfile.usuario.sigla}}</h4>
                <small>
                        {{vmProfile.usuario.descricao}}
                    </small>
            </div>
        </div>
    </div>
    <span flex></span>
    <md-button id="botao-seguir" class="md-raised md-accent" ng-click="vmProfile.seguir()" ng-hide="vmProfile.usuario.seguido || vmProfile.usuario.id == usuarioLogado.id"><i class="fa fa-user-plus" aria-hidden="true"></i> {{'messages.seguir' | translate}}
    </md-button>
    <md-button id="botao-seguir" class="md-raised md-warn" ng-click="vmProfile.deixarDeSeguir()" ng-show="vmProfile.usuario.seguido"><i class="fa fa-users" aria-hidden="true"></i> {{'messages.seguindo' | translate}}</md-button>

</div>

<div flex layout="row" layout-margin>
    <div flex layout="column" class="caixa-flutuante" layout-margin>
        <div ng-include="'app/components/rede_social/feed.html'" layout="column" layout-fill ng-controller="FeedController as vmFeed" ng-init="vmFeed.inicializa()"></div>
    </div>

    <div flex="20" layout="column" class="caixa-flutuante" layout-margin>
        <h3 class="caixa-informacao-titulo" layout="row">{{'messages.seguindo' | translate}}</h3>
        <md-card class="caixa-informacao">
            <div class="m-xs">
                <a ui-sref="profile({idUsuario: seguindo.id}) " ng-repeat="seguindo in vmProfile.usuario.seguindo">
                    <img src="uploads/usuarios/{{seguindo.imagem_perfil}} " alt="{{seguindo.nome}} " class="img-circle circle-border-sm img-md m-xs">
                    <md-tooltip md-direction="top ">
                        {{seguindo.nome}}
                    </md-tooltip>
                </a>
            </div>
        </md-card>
        <h3 class="caixa-informacao-titulo" layout="row">{{'messages.seguidores' | translate}}</h3>
        <md-card class="caixa-informacao">
            <div class="m-xs">
                <a ui-sref="profile({idUsuario: seguidor.id}) " ng-repeat="seguidor in vmProfile.usuario.seguidores">
                    <img src="uploads/usuarios/{{seguidor.imagem_perfil}} " alt="{{seguidor.nome}} " class="img-circle circle-border-sm img-md m-xs">
                    <md-tooltip md-direction="top ">
                        {{seguidor.nome}}
                    </md-tooltip>
                </a>
            </div>
        </md-card>

        <h3 class="caixa-informacao-titulo" layout="row">{{'messages.jogo_list' | translate}}</h3>
        <md-card class="caixa-informacao">
            <div class="m-xs">
                <a ui-sref="jogo({idJogo: jogo.id})" ng-repeat="jogo in vmProfile.usuario.jogos">
                    <img src="uploads/{{jogo.imagem_capa}} " alt="{{jogo.descricao}} " class="img-circle img-md m-xs">
                    <md-tooltip md-direction="top ">
                        {{jogo.descricao}}
                    </md-tooltip>
                </a>
            </div>

        </md-card>

        <h3 class="caixa-informacao-titulo" layout="row">{{'messages.campeonato_list' | translate}}</h3>
        <md-card class="caixa-informacao">
            <div class="m-xs">
                <md-list-item ng-repeat="campeonato in vmProfile.campeonatosDoUsuario" ng-click="vmProfile.carregaCampeonato(campeonato.id)">
                    <i class="fa fa-gamepad fa-fw fa-2x m-r-xs m-l-n" aria-hidden="true"></i> {{campeonato.descricao}}
                </md-list-item>
            </div>
        </md-card>
    </div>

</div>
