<form name="formularioPontuacao" class="form-inline" novalidate="novalidate" ng-submit="salvaPontuacao()">

    <div class="row" ng-if="messagePontuacao">
        <div class="col-md-12">
                <div class="alert alert-danger error">
                    {{ messagePontuacao }}
                </div>
        </div>
    </div>

    <div class="form-group">
        <label for="descricao" class="sr-only" translate>fields.posicao</label>
        <input type="number" id="posicao" class="form-control" ng-model="pontuacaoRegra.posicao" required placeholder="{{ 'fields.posicao' | translate }}" />
    </div>

    <div class="form-group">
        <label for="qtde_pontos" class="sr-only" translate>fields.pontuacao</label>
        <input type="number" id="qtde_pontos" class="form-control" ng-model="pontuacaoRegra.qtde_pontos" required placeholder="{{ 'fields.pontuacao' | translate }}" />
    </div>

    <div class="form-group" ng-hide="true">
        <div class="col-md-9">
                <input type="text" id="campeonato_fases_id" class="form-control" ng-model="pontuacaoRegra.campeonato_fases_id" required />
        </div>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary" translate>fields.save</button>
    </div>
</form>
<br />
<table class="table table-striped">
    <tr>
        <th class="text-center" translate>fields.posicao</th>
        <th class="text-center" translate>fields.pontuacao</th>
        <th class="text-center">&nbsp;</th>
    </tr>
    <tr ng-repeat="pontuacao in pontuacaoRegras">
        <td class="text-center">{{ pontuacao.posicao }}</td>
        <td class="text-center">{{ pontuacao.qtde_pontos }}</td>
        <td class="text-center">
            <button type="button" class="btn btn-danger btn-sm" ng-click="deletePontuacao(pontuacao.id)" tooltip="{{'fields.delete' | translate}}">
                <i class="fa fa-trash-o fa-fw"></i>
            </button>
        </td>
    </tr>
</table>
