<md-dialog aria-label="{{tituloModal | translate}}">
    <form name="formulario" role="form" class="form-horizontal" novalidate="novalidate" enctype="multipart/form-data">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{tituloModal | translate}}</h2>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
                <md-input-container class="md-block">
                    <label>{{'fields.time' | translate}}</label>
                    <md-select ng-model="participante.time.id">
                        <md-option ng-value="undefined"></md-option>
                        <md-option ng-repeat="time in times" ng-value="time.id">
                            {{time.nome}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>

        </md-dialog-content>

        <md-dialog-actions layout="row">
            <md-button ng-click="cancel()">{{'fields.cancel' | translate}}</md-button>
            <md-button ng-click="salvarTime()">{{'fields.save' | translate}}</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
