<div flex layout="column" layout-margin hide-xs>

    <div flex layout-gt-md="row" layout-margin>
        <div class="caixa-flutuante" flex>
            <md-tabs md-dynamic-height md-border-bottom hide-xs>
                <md-tab label="{{'messages.tabelaCampeonato_list' | translate}}" ng-click="vmCampeonato.abaTabela()">
                </md-tab>
                <md-tab label="{{'messages.minhasPartidas_list' | translate}}" ng-click="vmCampeonato.abaPartidas()" ng-if="vmCampeonato.campeonato.usuarioInscrito">
                </md-tab>
                <md-tab label="{{'messages.campeonatosParticipantes' | translate}}" ng-click="vmCampeonato.abaParticipantes()">
                </md-tab>
                <md-tab label="{{'messages.exibir_regras_campeonato' | translate}}" ng-click="vmCampeonato.currentNavItem = 'regras'">
                </md-tab>
                <md-tab label="{{'messages.campeonato_detalhes' | translate}}" ng-click="vmCampeonato.abaGerenciar()" ng-if="vmCampeonato.campeonato.usuarioAdministrador">
                </md-tab>
                <md-tab label="{{'messages.campeonatoContestacoes' | translate}}" ng-click="vmCampeonato.abaContestacoes()" ng-if="vmCampeonato.campeonato.usuarioAdministrador">
                </md-tab>
                <md-tab label="{{'messages.campeonato_partidas_abertas' | translate}}" ng-click="vmCampeonato.abaPartidasAbertas()" ng-if="vmCampeonato.campeonato.usuarioAdministrador">
                </md-tab>
                <md-tab label="{{'messages.campeonato_edit' | translate}}" ng-click="vmCampeonato.abaEditar()" ng-if="vmCampeonato.campeonato.usuarioAdministrador">
                </md-tab>
            </md-tabs>
        </div>
    </div>

    <div layout-gt-md="row" layout-margin>

        <div flex hide-gt-md class="caixa-flutuante" layout-padding>
            <md-card ng-class="{'m-n': telaMobile}">
                <md-toolbar class="md-toolbar-tools">
                    {{vmCampeonato.campeonato.descricao}}
                </md-toolbar>
                <md-card-content layout="row">
                    <div flex="20" flex-gt-xs="10">
                        <a ui-sref="jogo({idJogo: vmCampeonato.campeonato.jogo.id})">
                            <img src="uploads/{{vmCampeonato.campeonato.jogo.imagem_capa}}" class="img-responsive img-circle" alt="profile">
                        </a>
                    </div>
                    <div flex>
                        <h4 class="m-l">
                            {{vmCampeonato.campeonato.plataforma.descricao}}
                        </h4>
                        <h4 class="m-l">
                            <a ui-sref="jogo({idJogo: vmCampeonato.campeonato.jogo.id})">
                            {{vmCampeonato.campeonato.jogo.descricao}}
                            </a>
                        </h4>
                        <h4 class="m-l">
                            {{vmCampeonato.exibeData(vmCampeonato.campeonato.dataInicio)}} - {{vmCampeonato.exibeData(vmCampeonato.campeonato.dataFinal)}}
                        </h4>
                        <md-button class="md-raised md-primary" ng-if="vmCampeonato.campeonato.status === 1 && !vmCampeonato.campeonato.usuarioInscrito" ng-click="vmCampeonato.inscreverCampeonato($event)">{{'messages.inscrever' | translate}}</md-button>
                        <md-button class="md-raised md-warn" ng-if="vmCampeonato.campeonato.status < 3 && vmCampeonato.campeonato.usuarioInscrito" ng-click="vmCampeonato.sairCampeonato($event)">{{'messages.desistir' | translate}}</md-button>
                    </div>
                    <div class="admin-info m-n no-padding no-borders" flex>
                        <h3>{{'messages.campeonatoAdmin_list' | translate}}</h3>

                        <div layout="row">
                            <a ui-sref="profile({idUsuario: administrador.usuario.id})" ng-repeat="administrador in vmCampeonato.campeonato.campeonatoAdministradores" layout="column" layout-align="center center" class="m-r-xs">
                                <img alt="{{ administrador.usuario.nome }}" ng-src="uploads/usuarios/{{ administrador.usuario.imagem_perfil }}" class="img-xs img-circle" /> {{administrador.usuario.nome}}
                            </a>
                        </div>
                    </div>
                </md-card-content>
            </md-card>
        </div>

        <div flex flex-gt-md="80" ng-init="vmCampeonato.carregaCampeonato()" class="caixa-flutuante" layout-margin>
            <div layout-fill ng-if="vmCampeonato.currentNavItem == 'tabela'">
                <div layout-fill ng-include="'app/components/campeonato/tabela.html'"></div>
            </div>

            <div layout-fill ng-if="vmCampeonato.currentNavItem == 'minhasPartidas'">
                <div layout-fill ng-include="'app/components/campeonato/minhasPartidas.html'"></div>
            </div>

            <div layout-fill ng-if="vmCampeonato.currentNavItem == 'regras'">
                <md-card class="h-300" ng-class="{'m-n': telaMobile}">
                    <md-card-content>
                        <div ng-bind-html="vmCampeonato.campeonato.regras"></div>
                    </md-card-content>
                </md-card>
            </div>

            <div layout-fill ng-if="vmCampeonato.currentNavItem == 'participantes'">
                <div layout-fill layout-gt-sm="row" ng-include="'app/components/campeonato/participantes.html'"></div>
            </div>

            <div layout-fill ng-if="vmCampeonato.currentNavItem == 'detalhes'">
                <div layout-fill layout="column" ng-include="'app/components/campeonato/detalhes.html'"></div>
            </div>


            <div layout-fill ng-if="vmCampeonato.currentNavItem == 'contestacoes'">
                <div layout-fill ng-include="'app/components/campeonato/contestacoes.html'"></div>
            </div>

            <div layout-fill ng-if="vmCampeonato.currentNavItem == 'partidasAbertas'">
                <div layout-fill ng-include="'app/components/campeonato/partidasAbertas.html'"></div>
            </div>

            <div layout-fill ng-if="vmCampeonato.currentNavItem == 'editar'">
                <div layout-fill ng-include="'app/components/campeonato/editarCampeonato.html'"></div>
            </div>

        </div>

        <div flex flex-gt-md="20" hide-xs hide-sm hide-md show-gt-md class="caixa-flutuante" layout-padding>
            <md-card ng-class="{'m-n': telaMobile}">
                <md-toolbar class="md-toolbar-tools">
                    {{vmCampeonato.campeonato.descricao}}
                </md-toolbar>
                <md-card-content layout-align="center center" layout="column">
                    <a ui-sref="jogo({idJogo: vmCampeonato.campeonato.jogo.id})">
                        <img src="uploads/{{vmCampeonato.campeonato.jogo.imagem_capa}}" class="img-responsive img-circle" alt="profile">
                    </a>
                    <h2 class="text-center m-t" ng-if="false">
                        {{vmCampeonato.campeonato.descricao}}
                    </h2>
                    <h4 class="text-center m-t">
                        {{vmCampeonato.campeonato.plataforma.descricao}}
                    </h4>
                    <h4 class="text-center">
                        <a ui-sref="jogo({idJogo: vmCampeonato.campeonato.jogo.id})">
                        {{vmCampeonato.campeonato.jogo.descricao}}
                        </a>
                    </h4>
                    <h4 class="text-center" ng-if="(vmCampeonato.campeonato.dataInicio && vmCampeonato.campeonato.dataInicio != 'null')">
                        {{vmCampeonato.exibeData(vmCampeonato.campeonato.dataInicio)}} - {{vmCampeonato.exibeData(vmCampeonato.campeonato.dataFinal)}}
                    </h4>
                    <md-button class="md-raised md-primary" ng-if="vmCampeonato.campeonato.status === 1 && !vmCampeonato.campeonato.usuarioInscrito" ng-click="vmCampeonato.inscreverCampeonato($event)">{{'messages.inscrever' | translate}}</md-button>
                    <md-button class="md-raised md-warn" ng-if="vmCampeonato.campeonato.status < 3 && vmCampeonato.campeonato.usuarioInscrito" ng-click="vmCampeonato.sairCampeonato($event)">{{'messages.desistir' | translate}}</md-button>
                    <div class="admin-info" layout="column">
                        <h3>{{'messages.campeonatoAdmin_list' | translate}}</h3>

                        <a ui-sref="profile({idUsuario: administrador.usuario.id})" ng-repeat="administrador in vmCampeonato.campeonato.campeonatoAdministradores">
                            <img alt="{{ administrador.usuario.nome }}" ng-src="uploads/usuarios/{{ administrador.usuario.imagem_perfil }}" class="img-sm img-circle m-r-sm" /> {{administrador.usuario.nome}}
                        </a>
                    </div>
                </md-card-content>
            </md-card>
        </div>

    </div>
</div>

<div flex layout="column" hide-gt-xs>
    <md-tabs md-dynamic-height md-border-bottom class="md-primary">
        <md-tab label="{{'messages.campeonato_info' | translate}}" ng-click="vmCampeonato.currentNavItem = 'informacoes'" ng-if="vmCampeonato.campeonato.status < 3">
        </md-tab>
        <md-tab label="{{'messages.tabelaCampeonato_list' | translate}}" ng-click="vmCampeonato.abaTabela()">
        </md-tab>
        <md-tab label="{{'messages.minhasPartidas_list' | translate}}" ng-click="vmCampeonato.abaPartidas()" ng-if="vmCampeonato.campeonato.usuarioInscrito">
        </md-tab>
        <md-tab label="{{'messages.campeonatosParticipantes' | translate}}" ng-click="vmCampeonato.abaParticipantes()">
        </md-tab>
        <md-tab label="{{'messages.exibir_regras_campeonato' | translate}}" ng-click="vmCampeonato.currentNavItem = 'regras'">
        </md-tab>
        <md-tab label="{{'messages.campeonato_detalhes' | translate}}" ng-click="vmCampeonato.abaGerenciar()" ng-if="vmCampeonato.campeonato.usuarioAdministrador">
        </md-tab>
        <md-tab label="{{'messages.campeonatoContestacoes' | translate}}" ng-click="vmCampeonato.abaContestacoes()" ng-if="vmCampeonato.campeonato.usuarioAdministrador">
        </md-tab>
        <md-tab label="{{'messages.campeonato_partidas_abertas' | translate}}" ng-click="vmCampeonato.abaPartidasAbertas()" ng-if="vmCampeonato.campeonato.usuarioAdministrador">
        </md-tab>
        <md-tab label="{{'messages.campeonato_edit' | translate}}" ng-click="vmCampeonato.abaEditar()" ng-if="vmCampeonato.campeonato.usuarioAdministrador">
        </md-tab>
        <md-tab label="{{'messages.campeonato_info' | translate}}" ng-click="vmCampeonato.currentNavItem = 'informacoes'" ng-if="vmCampeonato.campeonato.status > 2">
        </md-tab>
    </md-tabs>
    <div layout-fill ng-if="vmCampeonato.currentNavItem == 'tabela'">
        <div layout-fill ng-include="'app/components/campeonato/tabela.html'"></div>
    </div>

    <div layout-fill ng-if="vmCampeonato.currentNavItem == 'minhasPartidas'">
        <div layout-fill ng-include="'app/components/campeonato/minhasPartidas.html'"></div>
    </div>

    <div layout-fill ng-if="vmCampeonato.currentNavItem == 'regras'">
        <md-card class="h-300" ng-class="{'m-n': telaMobile}">
            <md-card-content>
                <div ng-bind-html="vmCampeonato.campeonato.regras"></div>
            </md-card-content>
        </md-card>
    </div>

    <div layout-fill ng-if="vmCampeonato.currentNavItem == 'participantes'">
        <div layout-fill layout-gt-sm="row" ng-include="'app/components/campeonato/participantes.html'"></div>
    </div>

    <div layout-fill ng-if="vmCampeonato.currentNavItem == 'detalhes'">
        <div layout-fill layout-gt-sm="row" ng-include="'app/components/campeonato/detalhes.html'"></div>
    </div>


    <div layout-fill ng-if="vmCampeonato.currentNavItem == 'contestacoes'">
        <div layout-fill ng-include="'app/components/campeonato/contestacoes.html'"></div>
    </div>

    <div layout-fill ng-if="vmCampeonato.currentNavItem == 'partidasAbertas'">
        <div layout-fill ng-include="'app/components/campeonato/partidasAbertas.html'"></div>
    </div>

    <div layout-fill ng-if="vmCampeonato.currentNavItem == 'editar'">
        <div layout-fill ng-include="'app/components/campeonato/editarCampeonato.html'"></div>
    </div>

    <div layout-fill ng-if="vmCampeonato.currentNavItem == 'informacoes'">
        <md-card ng-class="{'m-n': telaMobile}">
            <md-toolbar class="md-toolbar-tools">
                {{vmCampeonato.campeonato.descricao}}
            </md-toolbar>
            <md-card-content layout-align="center center" layout="column">
                <h2 class="text-center m-t" ng-if="false">
                    {{vmCampeonato.campeonato.descricao}}
                </h2>
                <h4 class="text-center m-t">
                    {{vmCampeonato.campeonato.plataforma.descricao}}
                </h4>
                <h4 class="text-center">
                    <a ui-sref="jogo({idJogo: vmCampeonato.campeonato.jogo.id})">
                        {{vmCampeonato.campeonato.jogo.descricao}}
                        </a>
                </h4>
                <h4 class="text-center" ng-if="(vmCampeonato.campeonato.dataInicio && vmCampeonato.campeonato.dataInicio != 'null')">
                    {{vmCampeonato.exibeData(vmCampeonato.campeonato.dataInicio)}} - {{vmCampeonato.exibeData(vmCampeonato.campeonato.dataFinal)}}
                </h4>
                <md-button class="md-raised md-primary" ng-if="vmCampeonato.campeonato.status === 1 && !vmCampeonato.campeonato.usuarioInscrito" ng-click="vmCampeonato.inscreverCampeonato($event)">{{'messages.inscrever' | translate}}</md-button>
                <md-button class="md-raised md-warn" ng-if="vmCampeonato.campeonato.status < 3 && vmCampeonato.campeonato.usuarioInscrito" ng-click="vmCampeonato.sairCampeonato($event)">{{'messages.desistir' | translate}}</md-button>
                <a ui-sref="jogo({idJogo: vmCampeonato.campeonato.jogo.id})">
                    <img src="uploads/{{vmCampeonato.campeonato.jogo.imagem_capa}}" class="img-responsive m-t img-circle" alt="profile">
                </a>
                <div class="admin-info" layout="column">
                    <h3>{{'messages.campeonatoAdmin_list' | translate}}</h3>

                    <a ui-sref="profile({idUsuario: administrador.usuario.id})" ng-repeat="administrador in vmCampeonato.campeonato.campeonatoAdministradores">
                        <img alt="{{ administrador.usuario.nome }}" ng-src="uploads/usuarios/{{ administrador.usuario.imagem_perfil }}" class="img-sm img-circle m-r-sm" /> {{administrador.usuario.nome}}
                    </a>
                </div>
            </md-card-content>
        </md-card>
    </div>
</div>
