<div flex layout="column" layout-margin>

    <div flex layout-gt-md="row" layout-margin>
        <div class="caixa-flutuante" flex>
            <md-nav-bar md-selected-nav-item="vmCampeonato.currentNavItem" nav-bar-aria-label="navigation links">
                <md-nav-item md-nav-click name="tabela">{{'messages.tabelaCampeonato_list' | translate}}</md-nav-item>
                <md-nav-item md-nav-click name="participantes">{{'messages.campeonatosParticipantes' | translate}}</md-nav-item>
                <md-nav-item md-nav-click name="regras">{{'messages.exibir_regras_campeonato' | translate}}</md-nav-item>
                <md-nav-item md-nav-click name="minhasPartidas" ng-show="vmCampeonato.campeonato.usuarioInscrito">{{'messages.minhasPartidas_list' | translate}}</md-nav-item>
                <md-nav-item md-nav-click name="detalhes" ng-show="vmCampeonato.campeonato.usuarioAdministrador">{{'messages.campeonato_detalhes' | translate}}</md-nav-item>
                <md-nav-item md-nav-click name="contestacoes" ng-show="vmCampeonato.campeonato.usuarioAdministrador">{{'messages.campeonatoContestacoes' | translate}}</md-nav-item>
                <md-nav-item md-nav-click="vmCampeonato.edit()" name="editar" ng-show="vmCampeonato.campeonato.usuarioAdministrador">{{'messages.campeonato_edit' | translate}}</md-nav-item>
            </md-nav-bar>
        </div>
    </div>

    <div layout-gt-md="row" layout-margin>

        <div flex hide-gt-md class="caixa-flutuante" layout-padding>
            <md-card>
                <md-toolbar class="md-toolbar-tools">
                    {{vmCampeonato.campeonato.descricao}}
                </md-toolbar>
                <md-card-content layout="row">
                    <div flex="20" flex-gt-xs="10">
                        <img src="uploads/{{vmCampeonato.campeonato.jogo.imagem_capa}}" class="img-responsive" alt="profile">
                    </div>
                    <div flex>
                        <h4 class="m-l">
                            {{vmCampeonato.campeonato.plataforma.descricao}}
                        </h4>
                        <h4 class="m-l">
                            {{vmCampeonato.campeonato.jogo.descricao}}
                        </h4>
                        <h4 class="m-l">
                            {{vmCampeonato.exibeData(vmCampeonato.campeonato.dataInicio)}} - {{vmCampeonato.exibeData(vmCampeonato.campeonato.dataFinal)}}
                        </h4>
                        <md-button class="md-raised md-primary" ng-show="vmCampeonato.campeonato.status === 1 && !vmCampeonato.campeonato.usuarioInscrito">Inscrever</md-button>
                    </div>
                </md-card-content>
            </md-card>
        </div>

        <div flex flex-gt-md="80" ng-init="vmCampeonato.carregaCampeonato()" class="caixa-flutuante" layout-margin>
            <div layout-fill ng-show="vmCampeonato.currentNavItem == 'tabela'">
                <div layout-fill ng-include="'app/components/campeonato/tabela.html'"></div>
            </div>

            <div layout-fill ng-show="vmCampeonato.currentNavItem == 'regras'">
                <md-card>
                    <md-card-content>
                        <div ng-bind-html="vmCampeonato.campeonato.regras"></div>
                    </md-card-content>
                </md-card>
            </div>

            <div layout-fill ng-show="vmCampeonato.currentNavItem == 'participantes'">
                <div layout-fill layout-gt-sm="row" ng-include="'app/components/campeonato/participantes.html'"></div>
            </div>

            <div layout-fill ng-show="vmCampeonato.currentNavItem == 'minhasPartidas'">
                <div layout-fill ng-include="'app/components/campeonato/minhasPartidas.html'"></div>
            </div>



            <div layout-fill ng-show="vmCampeonato.currentNavItem == 'detalhes'">
                <div layout-fill layout-gt-sm="row" ng-include="'app/components/campeonato/detalhes.html'"></div>
            </div>


            <div layout-fill ng-show="vmCampeonato.currentNavItem == 'contestacoes'">
                <div layout-fill ng-include="'app/components/campeonato/contestacoes.html'"></div>
            </div>

            <div layout-fill ng-show="vmCampeonato.currentNavItem == 'editar'">
                <div layout-fill ng-include="'app/components/campeonato/editarCampeonato.html'"></div>
            </div>


        </div>

        <div flex flex-gt-md="20" hide-xs hide-sm hide-md show-gt-md class="caixa-flutuante" layout-padding>
            <md-card>
                <md-toolbar class="md-toolbar-tools">
                    {{vmCampeonato.campeonato.descricao}}
                </md-toolbar>
                <md-card-content layout-align="center center" layout="column">
                    <img src="uploads/{{vmCampeonato.campeonato.jogo.imagem_capa}}" class="img-responsive" alt="profile">
                    <h2 class="text-center m-t" ng-show="false">
                        {{vmCampeonato.campeonato.descricao}}
                    </h2>
                    <h4 class="text-center m-t">
                        {{vmCampeonato.campeonato.plataforma.descricao}}
                    </h4>
                    <h4 class="text-center">
                        {{vmCampeonato.campeonato.jogo.descricao}}
                    </h4>
                    <h4 class="text-center">
                        {{vmCampeonato.exibeData(vmCampeonato.campeonato.dataInicio)}} - {{vmCampeonato.exibeData(vmCampeonato.campeonato.dataFinal)}}
                    </h4>
                    <md-button class="md-raised md-primary" ng-show="vmCampeonato.campeonato.status === 1 && !vmCampeonato.campeonato.usuarioInscrito">Inscrever</md-button>
                </md-card-content>
            </md-card>
        </div>

    </div>
</div>
