<div ng-show="vmCampeonato.idUsuario">
    <h3 class="secao_titulo" ng-init="vmCampeonato.getCampeonatosUsuario()">{{'messages.campeonatos_usuario' | translate}}</h3>
    <md-list ng-cloak>
        <md-list-item class="item-lista" ng-repeat="campeonato in vmCampeonato.campeonatosDoUsuario">
            <p>{{campeonato.descricao}}</p>
            <md-button class="md-secondary md-primary md-raised" ui-sref="campeonato({idCampeonato: campeonato.id})">{{'messages.campeonato_detalhes' | translate}}</md-button>
        </md-list-item>
    </md-list>
</div>
<div ng-show="vmCampeonato.idJogo">
    <h3 class="secao_titulo" ng-init="vmCampeonato.getCampeonatos(vm.idJogo)">{{'messages.campeonatos_jogo' | translate}}</h3>
    <md-list ng-cloak>
        <md-list-item class="item-lista" ng-repeat="campeonato in vmCampeonato.campeonatos">
            <p>{{campeonato.descricao}}</p>
            <md-button class="md-secondary md-primary md-raised" ui-sref="campeonato({idCampeonato: campeonato.id})">{{'messages.campeonato_detalhes' | translate}}</md-button>
        </md-list-item>
    </md-list>
</div>
