<div ng-hide="vmCampeonato.idJogo" class="h-300" hide-xs>
    <h3 class="secao_titulo" ng-init="vmCampeonato.getCampeonatosUsuario()">{{'messages.campeonatos_usuario' | translate}}</h3>
    <md-list ng-cloak>
        <md-list-item class="item-lista" ng-repeat="campeonato in vmCampeonato.campeonatosDoUsuario" ui-sref="campeonato({idCampeonato: campeonato.id})">
            <p>{{campeonato.descricao}}</p>
        </md-list-item>
    </md-list>
</div>
<div ng-show="vmCampeonato.idJogo" class="h-300" hide-xs>
    <h3 class="secao_titulo" ng-init="vmCampeonato.getCampeonatos(vm.idJogo)">{{'messages.campeonatos_jogo' | translate}}</h3>
    <md-list ng-cloak>
        <md-list-item class="item-lista" ng-repeat="campeonato in vmCampeonato.campeonatos" ui-sref="campeonato({idCampeonato: campeonato.id})">
            <p>{{campeonato.descricao}}</p>
        </md-list-item>
    </md-list>
</div>

<md-card hide-gt-xs class="m-n">
    <div ng-hide="vmCampeonato.idJogo" class="h-300">
        <md-toolbar class="md-toolbar-tools">
            <h2 class="secao_titulo" ng-init="vmCampeonato.getCampeonatosUsuario()">{{'messages.campeonatos_usuario' | translate}}</h2>
        </md-toolbar>
        <md-list ng-cloak>
            <md-list-item class="item-lista" ng-repeat="campeonato in vmCampeonato.campeonatosDoUsuario" ui-sref="campeonato({idCampeonato: campeonato.id})">
                <p>{{campeonato.descricao}}</p>
            </md-list-item>
        </md-list>
    </div>
    <div ng-show="vmCampeonato.idJogo" class="h-300">
        <md-toolbar class="md-toolbar-tools">
            <h2 class="secao_titulo" ng-init="vmCampeonato.getCampeonatos(vm.idJogo)">{{'messages.campeonatos_jogo' | translate}}</h2>
        </md-toolbar>
        <md-list ng-cloak>
            <md-list-item class="item-lista" ng-repeat="campeonato in vmCampeonato.campeonatos" ui-sref="campeonato({idCampeonato: campeonato.id})">
                <p>{{campeonato.descricao}}</p>
            </md-list-item>
        </md-list>
    </div>
</md-card>
