<md-card flex ng-class="{'m-n': telaMobile}">
    <md-card-content>
        <md-input-container class="md-block">
            <label>{{'messages.filtro' | translate}}</label>
            <input ng-model="vmCampeonato.searchText">
        </md-input-container>
        <div class="table-responsive m-t-md">
            <table class="table table-striped table-hover">
                <tbody>
                    <tr ng-repeat="participante in vmCampeonato.querySearch(vmCampeonato.searchText)" ng-click="vmCampeonato.carregaParticipanteDestaque(participante)">
                        <td class="client-avatar">
                            <img alt="image" class="img-circle" ng-src="uploads/usuarios/{{participante.imagem_perfil}}" ng-if="vmCampeonato.campeonato.tipo_competidor != 'equipe'">
                            <img alt="image" class="img-circle" ng-src="uploads/{{participante.imagem_perfil}}" ng-if="vmCampeonato.campeonato.tipo_competidor == 'equipe'">
                        </td>
                        <td>
                            {{participante.nome}}
                        </td>
                        <td>
                            <img class="img-xs img-rounded m-r-sm" ng-src="uploads/usuarios/{{participante.time.distintivo}}" ng-if="participante.time">
                            <span ng-if="participante.time" hide-xs>{{participante.time.nome}}</span>
                        </td>
                        <td hide-xs>{{participante.localizacao}}</td>
                        <td><i class="material-icons seta-participante">forward</i></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </md-card-content>
</md-card>
<md-card flex ng-if="vmCampeonato.participanteDestaque.nome" ng-class="{'m-n': telaMobile}">
    <md-card-content layout="column">
        <div layout="row" layout-align="space-between start">
            <div layout="row" layout-align="start center">
                <img alt="image" class="img-circle img-md m-r-md" ng-src="uploads/usuarios/{{vmCampeonato.participanteDestaque.imagem_perfil}}" ng-if="vmCampeonato.campeonato.tipo_competidor != 'equipe'">
                <img alt="image" class="img-circle img-md m-r-md" ng-src="uploads/{{vmCampeonato.participanteDestaque.imagem_perfil}}" ng-if="vmCampeonato.campeonato.tipo_competidor == 'equipe'">
                <div layout="column">
                    <h2 class="no-margins">{{vmCampeonato.participanteDestaque.nome}}</h2>
                    <p ng-if="vmCampeonato.participanteDestaque.descricao">{{vmCampeonato.participanteDestaque.descricao}}</p>
                </div>
            </div>
            <a class="close-link" ng-click="vmCampeonato.ocultaParticipanteDestaque()">
                <i class="material-icons">close</i>
            </a>
        </div>
        <div layout="row" layout-xs="column" class="m-t-sm">
            <div class="gamertag-element  m-b-md" flex layout="row" layout-align="start center" layout-align-xs="center center" ng-if="vmCampeonato.participanteDestaque.gamertag && vmCampeonato.campeonato.tipo_competidor != 'equipe'">
                <img class="img-rounded m-r-sm" ng-src="uploads/{{vmCampeonato.participanteDestaque.imagem_plataforma}}">
                <span>{{vmCampeonato.participanteDestaque.gamertag}}</span>
            </div>
            <div class="gamertag-element  m-b-md" flex layout="row" layout-align="end center" layout-align-xs="center center">
                <img class="img-xs img-rounded m-r-sm" ng-src="uploads/usuarios/{{vmCampeonato.participanteDestaque.time.distintivo}}" ng-if="vmCampeonato.participanteDestaque.time">
                <span ng-if="vmCampeonato.participanteDestaque.time">{{vmCampeonato.participanteDestaque.time.descricao}}</span>
                <span ng-if="!vmCampeonato.participanteDestaque.time">{{'messages.sem_time' | translate}}</span>
            </div>
        </div>
        <div layout="row" layout-align="center center" class="m-b-lg" ng-if="!vmCampeonato.participanteDestaque.anonimo">
            <md-button ui-sref="equipe({idEquipe: vmCampeonato.participanteDestaque.id})" class="md-raised" ng-if="vmCampeonato.campeonato.tipo_competidor == 'equipe'"><i class="fa fa-user"></i> {{'messages.visitar_perfil' | translate}}</md-button>
            <md-button ui-sref="profile({idUsuario: vmCampeonato.participanteDestaque.id})" class="md-raised" ng-if="vmCampeonato.campeonato.tipo_competidor != 'equipe'"><i class="fa fa-user"></i> {{'messages.visitar_perfil' | translate}}</md-button>
            <md-button class="md-raised md-primary" ng-controller="HomeController as vmHome" ng-click="vmHome.escreverMensagem($event, vmCampeonato.participanteDestaque.id)" ng-if="vmCampeonato.campeonato.tipo_competidor != 'equipe'"><i class="material-icons">date_range</i> {{'messages.ver_agenda' | translate}} </md-button>
            <md-button class="md-raised md-accent" ng-controller="HomeController as vmHome" ng-click="vmHome.escreverMensagem($event, vmCampeonato.participanteDestaque.id)" ng-if="vmCampeonato.campeonato.tipo_competidor != 'equipe'"><i class="material-icons">message</i> {{'messages.mensagem' | translate}} </md-button>
        </div>

        <strong>{{'messages.ultimos_jogos' | translate}}</strong>

        <table class="table table-striped table-hover m-t">
            <tbody>
                <tr ng-repeat="partida in vmCampeonato.participanteDestaque.partidasDisputadas">
                    <td class="col-xs-1 text-right">{{partida.rodada}}ª</td>
                    <td class="col-xs-3 text-right" hide-xs>{{partida.usuarios[0].nome}}</td>
                    <td class="col-xs-3 text-right" hide-gt-xs>{{partida.usuarios[0].sigla | uppercase}}</td>
                    <td class="col-xs-1 text-right">
                        <img ng-src="uploads/usuarios/{{partida.usuarios[0].distintivo}}" class="placar-jogo-equipes-escudo-mandante img-circle" alt="profile" ng-if="vmCampeonato.campeonato.tipo_competidor != 'equipe'">
                        <img ng-src="uploads/{{partida.usuarios[0].distintivo}}" class="placar-jogo-equipes-escudo-mandante img-circle" alt="profile" ng-if="vmCampeonato.campeonato.tipo_competidor == 'equipe'">
                    </td>
                    <td class="col-xs-1 text-center">{{partida.usuarios[0].placar}}</td>
                    <td class="col-xs-1 text-center"><i class="fa fa-close fa-fw"></i></td>
                    <td class="col-xs-1 text-center">{{partida.usuarios[1].placar}}</td>
                    <td class="col-xs-1 text-left">
                        <img ng-src="uploads/usuarios/{{partida.usuarios[1].distintivo}}" class="placar-jogo-equipes-escudo-visitante img-circle" alt="profile" ng-if="vmCampeonato.campeonato.tipo_competidor != 'equipe'">
                        <img ng-src="uploads/{{partida.usuarios[1].distintivo}}" class="placar-jogo-equipes-escudo-visitante img-circle" alt="profile" ng-if="vmCampeonato.campeonato.tipo_competidor == 'equipe'">
                    </td>
                    <td class="col-xs-3 text-left" hide-xs>{{partida.usuarios[1].nome}}</td>
                    <td class="col-xs-3 text-left" hide-gt-xs>{{partida.usuarios[1].sigla | uppercase}}</td>
                </tr>
            </tbody>
        </table>

        <strong>{{'messages.partidas_a_disputar' | translate}}</strong>

        <table class="table table-striped table-hover m-t">
            <tbody>
                <tr ng-repeat="partida in vmCampeonato.participanteDestaque.partidasNaoDisputadas">
                    <td class="col-xs-1 text-right">{{partida.rodada}}ª</td>
                    <td class="col-xs-3 text-right" hide-xs>{{partida.usuarios[0].nome}}</td>
                    <td class="col-xs-3 text-right" hide-gt-xs>{{partida.usuarios[0].sigla | uppercase}}</td>
                    <td class="col-xs-1 text-right">
                        <img ng-src="uploads/usuarios/{{partida.usuarios[0].distintivo}}" class="placar-jogo-equipes-escudo-mandante img-circle" alt="profile" ng-if="vmCampeonato.campeonato.tipo_competidor != 'equipe'">
                        <img ng-src="uploads/{{partida.usuarios[0].distintivo}}" class="placar-jogo-equipes-escudo-mandante img-circle" alt="profile" ng-if="vmCampeonato.campeonato.tipo_competidor == 'equipe'">
                    </td>
                    <td class="col-xs-1 text-center">{{partida.usuarios[0].placar}}</td>
                    <td class="col-xs-1 text-center"><i class="fa fa-close fa-fw"></i></td>
                    <td class="col-xs-1 text-center">{{partida.usuarios[1].placar}}</td>
                    <td class="col-xs-1 text-left">
                        <img ng-src="uploads/usuarios/{{partida.usuarios[1].distintivo}}" class="placar-jogo-equipes-escudo-visitante img-circle" alt="profile" ng-if="vmCampeonato.campeonato.tipo_competidor != 'equipe'">
                        <img ng-src="uploads/{{partida.usuarios[1].distintivo}}" class="placar-jogo-equipes-escudo-visitante img-circle" alt="profile" ng-if="vmCampeonato.campeonato.tipo_competidor == 'equipe'">
                    </td>
                    <td class="col-xs-3 text-left" hide-xs>{{partida.usuarios[1].nome}}</td>
                    <td class="col-xs-3 text-left" hide-gt-xs>{{partida.usuarios[1].sigla | uppercase}}</td>
                </tr>
            </tbody>
        </table>
    </md-card-content>
</md-card>
