<md-card flex ng-class="{'m-n': telaMobile}">
    <md-card-content>
        <md-input-container class="md-block">
            <label>{{'messages.filtro' | translate}}</label>
            <input ng-model="vmCampeonato.searchText">
        </md-input-container>
        <div class="table-responsive m-t-md">
            <table class="table table-striped table-hover">
                <tbody>
                    <tr ng-repeat="participante in vmCampeonato.querySearch(vmCampeonato.searchText)" ng-click="vmCampeonato.carregaParticipanteDestaque(participante)">
                        <td class="client-avatar"><img alt="image" class="img-circle" src="uploads/usuarios/{{participante.imagem_perfil}}"></td>
                        <td>{{participante.nome}}</td>
                        <td hide-xs>{{participante.localizacao}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </md-card-content>
</md-card>
<md-card flex ng-show="vmCampeonato.participanteDestaque.nome" ng-class="{'m-n': telaMobile}">
    <md-card-content>
        <div class="tab-pane active">
            <div class="row m-b-lg">
                <div class="col-lg-6 text-center">
                    <h2 class="no-margins">{{vmCampeonato.participanteDestaque.nome}}</h2>

                    <div class="m-b-sm">
                        <img alt="image" class="img-circle" src="uploads/usuarios/{{vmCampeonato.participanteDestaque.imagem_perfil}}" style="width: 62px">
                    </div>
                </div>
                <div class="col-lg-6" layout="column">
                    <strong>
                            {{'messages.sobre_mim' | translate}}
                        </strong>

                    <p>
                        {{vmCampeonato.participanteDestaque.descricao}}
                    </p>
                    <div class="feed-activity-list" ng-show="vmCampeonato.participanteDestaque.gamertag">
                        <div class="gamertag-element feed-element">
                            <img class="pull-left img-rounded" src="uploads/{{vmCampeonato.participanteDestaque.imagem_plataforma}}"> {{vmCampeonato.participanteDestaque.gamertag}}
                        </div>
                    </div>
                    <md-button ui-sref="profile({idUsuario: vmCampeonato.participanteDestaque.id})" class="md-raised"><i class="fa fa-user"></i> {{'messages.visitar_perfil' | translate}}</md-button>
                </div>
            </div>

            <strong>{{'messages.ultimos_jogos' | translate}}</strong>


            <table class="table table-striped table-hover m-t">
                <tbody>
                    <tr ng-repeat="partida in vmCampeonato.participanteDestaque.partidasDisputadas">
                        <td class="col-xs-1 text-right">{{partida.rodada}}ª</td>
                        <td class="col-xs-4 text-right" hide-xs>{{partida.usuarios[0].nome}}</td>
                        <td class="col-xs-4 text-right" hide-gt-xs>{{partida.usuarios[0].sigla | uppercase}}</td>
                        <td class="col-xs-1 text-center">{{partida.usuarios[0].placar}}</td>
                        <td class="col-xs-1 text-center"><i class="fa fa-close fa-fw"></i></td>
                        <td class="col-xs-1 text-center">{{partida.usuarios[1].placar}}</td>
                        <td class="col-xs-4 text-left" hide-xs>{{partida.usuarios[1].nome}}</td>
                        <td class="col-xs-4 text-left" hide-gt-xs>{{partida.usuarios[1].sigla | uppercase}}</td>
                    </tr>
                </tbody>
            </table>

            <table class="table table-striped table-hover m-t">
                <tbody>
                    <tr ng-repeat="partida in vmCampeonato.participanteDestaque.partidasAbertas">
                        <td class="col-xs-1 text-right">{{partida.rodada}}ª</td>
                        <td class="col-xs-4 text-right" hide-xs>{{partida.usuarios[0].nome}}</td>
                        <td class="col-xs-4 text-right" hide-gt-xs>{{partida.usuarios[0].sigla | uppercase}}</td>
                        <td class="col-xs-1 text-center">{{partida.usuarios[0].placar}}</td>
                        <td class="col-xs-1 text-center"><i class="fa fa-close fa-fw"></i></td>
                        <td class="col-xs-1 text-center">{{partida.usuarios[1].placar}}</td>
                        <td class="col-xs-4 text-left" hide-xs>{{partida.usuarios[1].nome}}</td>
                        <td class="col-xs-4 text-left" hide-gt-xs>{{partida.usuarios[1].sigla | uppercase}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </md-card-content>
</md-card>
