<div class="h-300">
    <md-card class="md-block p-xxs" flex ng-class="{'m-n': telaMobile}">
        <md-card-content class="no-padding">
            <md-switch ng-change="vmCampeonato.carregaPartidas()" ng-model="vmCampeonato.exibeSomenteAbertas" ng-true-value="1" ng-false-value="0" class="md-primary">
                {{'messages.exibe_somente_abertas' | translate}}
            </md-switch>
        </md-card-content>
    </md-card>
    <md-card class="tabela-navegacao tabela-navegacao-rodadas-gerenciar md-block" flex ng-class="{'m-n': telaMobile}">
        <a ng-click="vmCampeonato.exibeRodadaAnteriorGerenciar($index)" ng-class="{'disabled': vmCampeonato.rodada_atual_gerenciar == 1}">
            <i class="fa fa-chevron-left pull-left"></i>
        </a>
        <span ng-bind="vmCampeonato.rodada_atual_gerenciar"></span>ª Rodada
        <a ng-click="vmCampeonato.exibeProximaRodadaGerenciar($index)" ng-class="{'disabled': vmCampeonato.rodada_atual_gerenciar == vmCampeonato.rodada_maxima}">
            <i class="fa fa-chevron-right pull-right"></i>
        </a>
    </md-card>
    <div ng-repeat="partida in vmCampeonato.partidasDoCampeonato">
        <md-card class="md-block" flex ng-class="{'m-n': telaMobile}">
            <md-card-content class="p-h-xs" ng-class="{'p-w-xs': telaMobile}">
                <div flex layout="row" layout-align="space-between center">
                    <div class="text-right" flex layout-xs="row" layout-align-xs="space-around center">
                        <span class="placar-jogo-equipes-sigla" title="{{partida.usuarios[0].nome}}" hide-xs>{{partida.usuarios[0].nome}}</span>
                        <span class="placar-jogo-equipes-sigla" title="{{partida.usuarios[0].nome}}" hide-gt-xs>{{partida.usuarios[0].sigla | uppercase}}</span>

                        <img ng-src="uploads/usuarios/{{partida.usuarios[0].distintivo}}" class="placar-jogo-equipes-escudo-mandante" alt="profile">
                    </div>
                    <div class="text-center" flex layout="row" layout-align="space-around center">
                        <input type="tel" class="placar-input" ng-model="partida.usuarios[0].placar" ng-disabled="!partida.edita_placar">
                        <i class="fa fa-close fa-fw"></i>
                        <input type="tel" class="placar-input" ng-model="partida.usuarios[1].placar" ng-disabled="!partida.edita_placar">
                    </div>
                    <div class="text-left" flex layout-xs="row" layout-align-xs="space-around center">
                        <img ng-src="uploads/usuarios/{{partida.usuarios[1].distintivo}}" class="placar-jogo-equipes-escudo-visitante" alt="profile">
                        <span class="placar-jogo-equipes-sigla" title="{{partida.usuarios[1].nome}}" hide-xs>{{partida.usuarios[1].nome}}</span>

                        <span class="placar-jogo-equipes-sigla" title="{{partida.usuarios[1].nome}}" hide-gt-xs>{{partida.usuarios[1].sigla | uppercase}}</span>

                    </div>
                    <div flex="20" flex-xs="35" layout-xs="row" layout-align-xs="space-between center">

                        <div id="botoes" class="pull-left">
                            <md-button class="md-fab md-mini md-primary" ng-click="vmCampeonato.salvarPlacarAdministrador(partida)" ng-if="partida.edita_placar">
                                <i class="material-icons">save</i>
                                <md-tooltip md-direction="top ">
                                    {{'fields.salvar_resultado' | translate}}
                                </md-tooltip>
                            </md-button>

                            <md-button class="md-fab md-mini md-warn" ng-click="partida.edita_placar = false" ng-if="partida.edita_placar">
                                <i class="material-icons">clear</i>
                                <md-tooltip md-direction="top ">
                                    {{'fields.cancel' | translate}}
                                </md-tooltip>
                            </md-button>

                            <md-button class="md-fab md-mini md-warn" ng-click="vmCampeonato.editarPlacarAdministrador(partida)" ng-if="!partida.edita_placar" md-colors="::{color: 'sunlitsea-100', background: 'player2-warn-900'}">
                                <i class="material-icons">edit</i>
                                <md-tooltip md-direction="top ">
                                    {{'fields.edit' | translate}}
                                </md-tooltip>
                            </md-button>

                            <md-button class="md-fab md-mini md-primary" ng-click="vmCampeonato.aplicarWO(partida)" ng-if="!partida.data_placar && !partida.contestada">
                                <i class="material-icons">play_for_work</i>
                                <md-tooltip md-direction="top ">
                                    {{'fields.aplicar_wo' | translate}}
                                </md-tooltip>
                            </md-button>
                        </div>
                        <div id="icones" class="pull-right" ng-if="!partida.edita_placar">
                            <md-button class="md-icon-button" md-colors="::{color: 'player2-warn-900'}" ng-if="partida.contestada">
                                <i class="fa fa-balance-scale fa-lg"></i>
                                <md-tooltip md-direction="top ">
                                    {{'fields.partida_contestada' | translate}}
                                </md-tooltip>
                            </md-button>
                            <md-button class="md-icon-button" md-colors="::{color: 'player2-accent-900'}" ng-if="partida.data_confirmacao">
                                <i class="material-icons">done_all</i>
                                <md-tooltip md-direction="top ">
                                    {{'fields.placar_confirmado' | translate}}
                                </md-tooltip>
                            </md-button>
                            <md-button class="md-icon-button md-primary md-hue-1" ng-if="partida.data_placar && !partida.data_confirmacao && !partida.contestada">
                                <i class="fa fa-hourglass fa-lg"></i>
                                <md-tooltip md-direction="top" class="multiline">
                                    {{'fields.aguardando_confirmacao' | translate}}
                                    <br> {{'fields.tempo_restante' | translate}} {{vmCampeonato.exibeDataLimite(partida.data_placar_limite.date)}}
                                </md-tooltip>
                            </md-button>
                        </div>
                    </div>
                </div>
            </md-card-content>
        </md-card>
    </div>
</div>
