<md-card>
    <md-card-content>
        <nav class="tabela-navegacao tabela-navegacao-fases">
            <a ng-click="vmCampeonato.exibeFaseAnterior()" ng-class="{'disabled': vmCampeonato.indice_fase == 0}">
                <i class="fa fa-chevron-left pull-left"></i>
            </a>
            {{vmCampeonato.fase_atual.descricao | translate}}
            <a ng-click="vmCampeonato.exibeProximaFase()" ng-class="{'disabled': vmCampeonato.indice_fase == vmCampeonato.campeonatoFases.length-1}">
                <i class="fa fa-chevron-right pull-right"></i>
            </a>
        </nav>

        <div class="row" ng-repeat="grupo in vmCampeonato.gruposDaFase track by $index" ng-hide="vmCampeonato.fase_atual.matamata">
            <div class="col-md-8">
                <div class="ibox">
                    <div class="ibox-title">
                        <h5><span translate>fields.grupo</span> {{grupo.descricao}}</h5>
                    </div>
                    <div class="ibox-content">
                        <table class="tabela-classificacao table table-condensed">
                            <thead>
                                <tr class="tabela-head-linha">
                                    <th class="col-xs-3">Classificação</th>
                                    <th class="text-center col-xs-1">P</th>
                                    <th class="text-center col-xs-1">J</th>
                                    <th class="text-center col-xs-1">V</th>
                                    <th class="text-center col-xs-1 hidden-xs">E</th>
                                    <th class="text-center col-xs-1 hidden-xs">D</th>
                                    <th class="text-center col-xs-1">GP</th>
                                    <th class="text-center col-xs-1 hidden-xs">GC</th>
                                    <th class="text-center col-xs-1">SG</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="jogadorGrupo in grupo.classificacao" ng-class="{'font-bold':jogadorGrupo.pivot.users_id == usuarioLogado.id}">
                                    <td>
                                        <a ui-sref="profile({idUsuario: jogadorGrupo.id})">{{jogadorGrupo.nome}} - {{jogadorGrupo.id}}</a></td>
                                    <td class="text-center">{{jogadorGrupo.pontuacao}}</td>
                                    <td class="text-center">{{jogadorGrupo.jogos}}</td>
                                    <td class="text-center">{{jogadorGrupo.vitorias}}</td>
                                    <td class="text-center hidden-xs">{{jogadorGrupo.empates}}</td>
                                    <td class="text-center hidden-xs">{{jogadorGrupo.derrotas}}</td>
                                    <td class="text-center">{{jogadorGrupo.gols_pro}}</td>
                                    <td class="text-center hidden-xs">{{jogadorGrupo.gols_contra}}</td>
                                    <td class="text-center">{{jogadorGrupo.saldo_gols}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="ibox">
                    <div class="ibox-title">
                        <h5><span translate>messages.jogo_list</span></h5>
                    </div>
                    <div class="ibox-content">
                        <nav class="tabela-navegacao tabela-navegacao-rodadas">
                            <a ng-click="vmCampeonato.exibeRodadaAnterior($index, grupo.id)" ng-class="{'disabled': vmCampeonato.rodada_atual[$index] == 1}">
                                <i class="fa fa-chevron-left pull-left"></i>
                            </a>
                            <span ng-bind="vmCampeonato.rodada_atual[$index]"></span>ª Rodada
                            <a ng-click="vmCampeonato.exibeProximaRodada($index, grupo.id)" ng-class="{'disabled': vmCampeonato.rodada_atual[$index] == vmCampeonato.rodada_maxima}">
                                <i class="fa fa-chevron-right pull-right"></i>
                            </a>
                        </nav>
                        <div class="lista-de-jogos-item" ng-repeat="partida in vmCampeonato.partidasDaRodada[$index]">
                            <div class="placar-jogo-equipes">
                                <div class="placar-jogo-equipes-mandante col-xs-4">
                                    <span class="placar-jogo-equipes-sigla" title="{{partida.usuarios[0].nome}}">{{partida.usuarios[0].sigla}}</span>
                                    <img class="placar-jogo-equipes-escudo-mandante hidden-xs" itemprop="image" src="uploads/usuarios/{{partida.usuarios[0].distintivo}}" title="{{partida.usuarios[0].nome}}">
                                </div>
                                <div class="placar-jogo-equipes-placar col-xs-4">
                                    <div class="row">
                                        <span class="placar-jogo-equipes-placar-mandante col-xs-4">{{partida.usuarios[0].placar}}</span>
                                        <span class="tabela-versus col-xs-4 text-center"><i class="fa fa-close fa-fw"></i></span>
                                        <span class="placar-jogo-equipes-placar-visitante col-xs-4">{{partida.usuarios[1].placar}}</span>
                                    </div>
                                </div>
                                <div class="placar-jogo-equipes-visitante col-xs-4">
                                    <img class="placar-jogo-equipes-escudo-visitante hidden-xs" itemprop="image" src="uploads/usuarios/{{partida.usuarios[1].distintivo}}" title="{{partida.usuarios[0].nome}}">
                                    <span class="placar-jogo-equipes-sigla" title="{{partida.usuarios[1].nome}}">{{partida.usuarios[1].sigla}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--        MATA-MATA-->
        <div class="row grupo-matamata" ng-repeat="grupo in vmCampeonato.gruposDaFase track by $index" ng-show="vmCampeonato.fase_atual.matamata">
            <div class="col-sm-12">
                <h5><span translate>fields.grupo</span> {{grupo.descricao}}</h5>
                <div class="lista-de-jogos-item row" ng-repeat="usuario in grupo.usuarios">
                    <div class="placar-jogo-equipes-matamata col-xs-9">
                        <img class="placar-jogo-equipes-escudo-mandante hidden-xs" itemprop="image" src="uploads/usuarios/{{usuario.distintivo}}" title="{{usuario.nome}}">
                        <span class="placar-jogo-equipes-sigla" title="{{usuario.nome}}">{{usuario.nome}}</span>
                    </div>
                    <div class="placar-jogo-equipes-placar-matamata col-xs-1" ng-repeat="placar in usuario.placares track by $index">
                        {{placar}}
                    </div>
                </div>
                <div ng-show="$odd && grupo.usuarios != null">
                    <div class="mata-conector1 hidden-xs"></div>
                    <div class="mata-conector2 hidden-xs"></div>
                </div>
            </div>
        </div>
    </md-card-content>
</md-card>
