<md-card ng-class="{'m-n': telaMobile}">
    <md-card-content ng-show="vmCampeonato.campeonato.status > 2">
        <nav class="tabela-navegacao tabela-navegacao-fases">
            <a ng-click="vmCampeonato.exibeFaseAnterior()" ng-class="{'disabled': vmCampeonato.indice_fase == 0}">
                <i class="fa fa-chevron-left pull-left"></i>
            </a>
            {{vmCampeonato.fase_atual.descricao | translate}}
            <a ng-click="vmCampeonato.exibeProximaFase()" ng-class="{'disabled': vmCampeonato.indice_fase == vmCampeonato.campeonatoFases.length-1}">
                <i class="fa fa-chevron-right pull-right"></i>
            </a>
        </nav>

        <div class="row" ng-repeat="grupo in vmCampeonato.gruposDaFase track by $index" ng-hide="vmCampeonato.fase_atual.matamata">
            <div class="col-md-8">
                <div class="ibox">
                    <div class="ibox-title">
                        <h5><span translate>fields.grupo</span> {{grupo.descricao}}</h5>
                    </div>
                    <div class="ibox-content">
                        <table class="tabela-classificacao table table-condensed">
                            <thead>
                                <tr class="tabela-head-linha">
                                    <th class="text-center col-xs-1"></th>
                                    <th class="col-xs-4 col-sm-3"></th>
                                    <th class="text-center col-xs-1">P</th>
                                    <th class="text-center col-xs-1">J</th>
                                    <th class="text-center col-xs-1">V</th>
                                    <th class="text-center col-xs-1" hide-xs>E</th>
                                    <th class="text-center col-xs-1" hide-xs>D</th>
                                    <th class="text-center col-xs-1">SG</th>
                                    <th class="text-center col-xs-1" hide-xs>GP</th>
                                    <th class="text-center col-xs-1" hide-xs>GC</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="jogadorGrupo in grupo.classificacao track by $index" ng-class="{'font-bold':jogadorGrupo.pivot.users_id == usuarioLogado.id}">
                                    <td>
                                        {{$index+1}}
                                    </td>
                                    <td>
                                        <a ui-sref="profile({idUsuario: jogadorGrupo.id})" hide-xs><img class="placar-jogo-equipes-escudo-mandante" itemprop="image" src="uploads/usuarios/{{jogadorGrupo.distintivo}}" title="{{jogadorGrupo.nome}}"> {{jogadorGrupo.nome}}</a>
                                        <!--
                                        Isso aqui está comentado de forma temporária. Resolver, quando for resolvido os distintivos em definitivo
                                        <a ui-sref="profile({idUsuario: jogadorGrupo.id})" hide-gt-xs>{{jogadorGrupo.sigla | uppercase}}</a>
-->
                                        <a ui-sref="profile({idUsuario: jogadorGrupo.id})" hide-gt-xs><img class="placar-jogo-equipes-escudo-mandante" itemprop="image" src="uploads/usuarios/{{jogadorGrupo.distintivo}}" title="{{jogadorGrupo.nome}}"><span class="p-w-sm">{{jogadorGrupo.sigla | uppercase}}</span></a>
                                    </td>
                                    <td class="text-center">{{jogadorGrupo.pontuacao}}</td>
                                    <td class="text-center">{{jogadorGrupo.jogos}}</td>
                                    <td class="text-center">{{jogadorGrupo.vitorias}}</td>
                                    <td class="text-center" hide-xs>{{jogadorGrupo.empates}}</td>
                                    <td class="text-center" hide-xs>{{jogadorGrupo.derrotas}}</td>
                                    <td class="text-center">{{jogadorGrupo.saldo_gols}}</td>
                                    <td class="text-center" hide-xs>{{jogadorGrupo.gols_pro}}</td>
                                    <td class="text-center" hide-xs>{{jogadorGrupo.gols_contra}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="ibox">
                    <div class="ibox-title">
                        <h5><span translate>messages.jogo_list</span></h5>
                    </div>
                    <div class="ibox-content">
                        <nav class="tabela-navegacao tabela-navegacao-rodadas">
                            <a ng-click="vmCampeonato.exibeRodadaAnterior($index, grupo.id)" ng-class="{'disabled': vmCampeonato.rodada_atual[$index] == 1}">
                                <i class="fa fa-chevron-left pull-left"></i>
                            </a>
                            <span ng-bind="vmCampeonato.rodada_atual[$index]"></span>ª Rodada
                            <a ng-click="vmCampeonato.exibeProximaRodada($index, grupo.id)" ng-class="{'disabled': vmCampeonato.rodada_atual[$index] == vmCampeonato.rodada_maxima}">
                                <i class="fa fa-chevron-right pull-right"></i>
                            </a>
                        </nav>
                        <div class="lista-de-jogos-item" ng-repeat="partida in vmCampeonato.partidasDaRodada[$index]">
                            <div class="placar-jogo-equipes" flex layout="row" layout-align="space-between center">
                                <div class="placar-jogo-equipes-mandante" flex>
                                    <span class="placar-jogo-equipes-sigla" title="{{partida.usuarios[0].nome}}">{{partida.usuarios[0].sigla}}</span>
                                    <img class="placar-jogo-equipes-escudo-mandante" itemprop="image" src="uploads/usuarios/{{partida.usuarios[0].distintivo}}" title="{{partida.usuarios[0].nome}}">
                                    <!--
                                   Isso aqui está comentado de forma temporária. Resolver, quando for resolvido os distintivos em definitivo
                                    <span class="placar-jogo-equipes-sigla" title="{{partida.usuarios[0].nome}}">{{partida.usuarios[0].sigla}}</span>
                                    <img class="placar-jogo-equipes-escudo-mandante" hide-xs itemprop="image" src="uploads/usuarios/{{partida.usuarios[0].distintivo}}" title="{{partida.usuarios[0].nome}}">
-->
                                </div>
                                <div class="placar-jogo-equipes-placar" flex layout="row" layout-align="space-around center">
                                    <span class="placar-jogo-equipes-placar-mandante">{{partida.usuarios[0].placar}}</span>
                                    <span class="tabela-versus text-center"><i class="fa fa-close fa-fw"></i></span>
                                    <span class="placar-jogo-equipes-placar-visitante">{{partida.usuarios[1].placar}}</span>
                                </div>
                                <div class="placar-jogo-equipes-visitante" flex>
                                    <img class="placar-jogo-equipes-escudo-visitante" itemprop="image" src="uploads/usuarios/{{partida.usuarios[1].distintivo}}" title="{{partida.usuarios[1].nome}}">
                                    <span class="placar-jogo-equipes-sigla" title="{{partida.usuarios[1].nome}}">{{partida.usuarios[1].sigla}}</span>
                                    <!--
                                   Isso aqui está comentado de forma temporária. Resolver, quando for resolvido os distintivos em definitivo
                                    <img class="placar-jogo-equipes-escudo-visitante" hide-xs itemprop="image" src="uploads/usuarios/{{partida.usuarios[1].distintivo}}" title="{{partida.usuarios[1].nome}}">
                                    <span class="placar-jogo-equipes-sigla" title="{{partida.usuarios[1].nome}}">{{partida.usuarios[1].sigla}}</span>
-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--        MATA-MATA-->
        <div class="grupo-matamata" ng-repeat="grupo in vmCampeonato.gruposDaFase track by $index" ng-show="vmCampeonato.fase_atual.matamata" flex layout="column">
            <h5><span translate>fields.grupo</span> {{grupo.descricao}}</h5>
            <div class="lista-de-jogos-item" ng-repeat="usuario in grupo.usuarios" flex layout="row">
                <div class="placar-jogo-equipes-matamata" flex="80">
                    <img class="placar-jogo-equipes-escudo-mandante" itemprop="image" src="uploads/usuarios/{{usuario.distintivo}}" title="{{usuario.nome}}">
                    <span class="placar-jogo-equipes-sigla" hide-xs title="{{usuario.nome}}">{{usuario.nome}}</span>
                    <span class="placar-jogo-equipes-sigla" hide-gt-xs title="{{usuario.nome}}">{{usuario.sigla}}</span>
                </div>
                <div class="placar-jogo-equipes-placar-matamata" ng-repeat="placar in usuario.placares track by $index" flex-gt-xs="10" flex-xs="20">
                    {{placar}}
                </div>
            </div>
            <div ng-show="$odd && grupo.usuarios != null" flex="35" hide-xs>
                <div class="mata-conector1"></div>
                <div class="mata-conector2"></div>
            </div>
        </div>
    </md-card-content>

    <md-card-content ng-show="vmCampeonato.campeonato.status < 3" class="h-300">
        <h4>{{'messages.campeonato_nao_iniciado' | translate}}</h4>
    </md-card-content>
</md-card>
