<md-dialog aria-label="{{tituloModal | translate}}">
    <form name="formulario" role="form" class="form-horizontal" novalidate="novalidate" enctype="multipart/form-data">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{tituloModal | translate}}</h2>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">

                <md-input-container class="md-block" flex>
                    <label>{{'fields.descricao' | translate}}</label>
                    <input ng-model="jogo.descricao" required>
                </md-input-container>

                <div class="form-group">
                    <label class="col-md-12" for="logomarca" translate>fields.imagem_capa</label>
                    <div class="col-md-12">
                        <lf-ng-md-file-input lf-files="files"></lf-ng-md-file-input>
                    </div>
                </div>

                <md-checkbox ng-model="jogo.permite_campeonato" aria-label="{{'fields.permite_campeonato' | translate}}">
                    {{'fields.permite_campeonato' | translate}}
                </md-checkbox>

            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <md-button ng-click="cancel()">{{'fields.cancel' | translate}}</md-button>
            <md-button ng-click="save()" ng-show="novoItem">{{'fields.save' | translate}}</md-button>
            <md-button ng-click="update()" ng-hide="novoItem">{{'fields.update' | translate}}</md-button>
        </md-dialog-actions>

    </form>
</md-dialog>
