<md-dialog aria-label="{{tituloModal | translate}}">
    <form name="formulario" role="form" class="form-horizontal" novalidate="novalidate" enctype="multipart/form-data">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{tituloModal | translate}}</h2>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">

                <div class="row" ng-show="messages">
                    <div class="col-md-10 col-md-offset-2">
                        <div class="alert alert-danger">
                            <ul>
                                <li class="error" ng-repeat="message in messages">
                                    {{ message }}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <md-input-container class="md-block" flex>
                    <label>{{'fields.descricao' | translate}}</label>
                    <input ng-model="plataforma.descricao" required>
                </md-input-container>

                <div class="form-group">
                    <label for="logomarca" translate>fields.logomarca</label>
                    <div class="col-md-12">
                        <lf-ng-md-file-input lf-files="files"></lf-ng-md-file-input>
                    </div>
                </div>

                <md-checkbox ng-model="plataforma.permite_exibir" aria-label="{{'messages.permite_exibir' | translate}}">
                    {{'messages.permite_exibir' | translate}}
                </md-checkbox>

            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <md-button ng-click="cancel()">{{'fields.cancel' | translate}}</md-button>
            <md-button ng-click="save()" ng-show="novoItem">{{'fields.save' | translate}}</md-button>
            <md-button ng-click="update()" ng-hide="novoItem">{{'fields.update' | translate}}</md-button>
        </md-dialog-actions>

    </form>
</md-dialog>
