<md-dialog aria-label="{{tituloModal | translate}}" flex="60" class="content-agenda">
    <form name="formulario" role="form" class="form-horizontal" novalidate="novalidate" enctype="multipart/form-data">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{tituloModal | translate}}</h2>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
                <md-subheader ng-cloak>{{'messages.agenda_intro' | translate}}</md-subheader>
                <md-event-calendar ng-model="selected" md-events="materialEvents" md-event-click="eventClicked($selectedEvent)" md-label="title" md-show-create-link="false" md-create-event-click="dateClick($date)" md-create-disabled="false" class="md-primary">
                    <md-event-calendar-header class="md-center">
                        <md-event-calendar-prev></md-event-calendar-prev>
                        <md-event-calendar-title></md-event-calendar-title>
                        <md-event-calendar-next></md-event-calendar-next>
                    </md-event-calendar-header>
                </md-event-calendar>
            </div>

        </md-dialog-content>

    </form>
</md-dialog>
